{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Power Platform REST API - resourceQuery",
    "description": "Unified API for all administrative capabilities in Microsoft Power Platform.",
    "version": "2022-03-01-preview"
  },
  "host": "api.powerplatform.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/resourcequery/resources/query": {
      "post": {
        "tags": [
          "ResourceQuery"
        ],
        "summary": "Query Power Platform resources.",
        "description": "Executes a KQL query against Azure Resource Graph with ARG paging.",
        "externalDocs": {
          "description": "ARG Query Best Practices (throttling, paging, limits)",
          "url": "https://learn.microsoft.com/azure/governance/resource-graph/concepts/guidance-for-throttled-requests"
        },
        "operationId": "QueryResources",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceQueryRequest"
            },
            "x-examples": {
              "basicPpacQuery": {
                "summary": "PPAC default query with join to environments.",
                "value": {
                  "Options": {
                    "Top": 1000,
                    "Skip": 0,
                    "SkipToken": ""
                  },
                  "TableName": "PowerPlatformResources",
                  "Clauses": [
                    {
                      "$type": "extend",
                      "FieldName": "joinKey",
                      "Expression": "tolower(tostring(properties.environmentId))"
                    },
                    {
                      "$type": "join",
                      "JoinKind": "leftouter",
                      "LeftColumnName": "joinKey",
                      "RightColumnName": "joinKey",
                      "RightTable": {
                        "TableName": "PowerPlatformResources",
                        "Clauses": [
                          {
                            "$type": "where",
                            "FieldName": "type",
                            "Operator": "==",
                            "Values": [
                              "'microsoft.powerplatform/environments'"
                            ]
                          },
                          {
                            "$type": "project",
                            "FieldList": [
                              "joinKey = tolower(name)",
                              "environmentName = properties.displayName",
                              "environmentRegion = location",
                              "environmentType = properties.environmentType",
                              "isManagedEnvironment = properties.isManaged"
                            ]
                          }
                        ]
                      }
                    },
                    {
                      "$type": "where",
                      "FieldName": "type",
                      "Operator": "in~",
                      "Values": [
                        "'microsoft.powerapps/canvasapps'",
                        "'microsoft.powerapps/modeldrivenapps'",
                        "'microsoft.powerautomate/cloudflows'",
                        "'microsoft.copilotstudio/agents'",
                        "'microsoft.powerautomate/agentflows'",
                        "'microsoft.powerapps/codeapps'"
                      ]
                    },
                    {
                      "$type": "orderby",
                      "FieldNamesAscDesc": {
                        "tostring(properties.createdAt)": "desc"
                      }
                    }
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query execution",
            "schema": {
              "$ref": "#/definitions/ResourceQueryResponse"
            },
            "x-examples": {
              "page1": {
                "summary": "Paged result with continuation.",
                "value": {
                  "totalRecords": 1250,
                  "count": 1,
                  "resultTruncated": 1,
                  "skipToken": "AAABBBCCC",
                  "data": [
                    {
                      "id": "/providers/Microsoft.PowerPlatform/environments/ENV_ID/providers/Microsoft.PowerApps/canvasApps/APP_ID",
                      "name": "APP_ID",
                      "type": "microsoft.powerapps/canvasapps",
                      "tenantId": "TENANT_ID",
                      "location": "unitedstates",
                      "properties": {
                        "environmentId": "ENV_ID",
                        "displayName": "Contoso Sales App",
                        "createdAt": "2025-10-02T18:21:37.0000000+00:00",
                        "createdBy": "GUID",
                        "lastModifiedAt": "2025-10-02T18:21:37.0000000+00:00",
                        "lastModifiedBy": "GUID"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request – invalid query specification"
          },
          "401": {
            "description": "Unauthorized – missing/invalid credentials"
          },
          "429": {
            "description": "Too Many Requests – ARG throttling"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "definitions": {
    "ResourceQueryRequest": {
      "required": [
        "TableName",
        "Clauses"
      ],
      "type": "object",
      "properties": {
        "TableName": {
          "description": "Target table/resource set (e.g., \"PowerPlatformResources\")",
          "type": "string"
        },
        "Clauses": {
          "description": "Ordered list of query clauses; evaluated in order",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Clause"
          }
        },
        "Options": {
          "$ref": "#/definitions/ResourceQueryRequestOptions"
        }
      }
    },
    "ResourceQueryRequestOptions": {
      "type": "object",
      "properties": {
        "Top": {
          "description": "Max rows per page",
          "minimum": 1,
          "type": "integer"
        },
        "Skip": {
          "description": "Offset; typically 0 when using SkipToken",
          "minimum": 0,
          "type": "integer"
        },
        "SkipToken": {
          "description": "Continuation token from previous page",
          "type": "string"
        }
      },
      "externalDocs": {
        "description": "ARG .NET SDK - ResourceQueryRequestOptions",
        "url": "https://learn.microsoft.com/dotnet/api/azure.resourcemanager.resourcegraph.models.resourcequeryrequestoptions"
      }
    },
    "Clause": {
      "description": "Base class for all Kusto clauses.",
      "required": [
        "$type"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/WhereClause"
        }
      ],
      "properties": {
        "$type": {
          "description": "Discriminator for the clause type.",
          "enum": [
            "where",
            "project",
            "take",
            "orderby",
            "distinct",
            "count",
            "summarize",
            "extend",
            "join"
          ],
          "type": "string"
        }
      },
      "discriminator": "$type"
    },
    "ClauseBaseClass": {
      "required": [
        "$type"
      ],
      "type": "object",
      "properties": {
        "$type": {
          "description": "Discriminator for the clause type.",
          "enum": [
            "where",
            "project",
            "take",
            "orderby",
            "distinct",
            "count",
            "summarize",
            "extend",
            "join"
          ],
          "type": "string"
        }
      }
    },
    "WhereClause": {
      "required": [
        "FieldName",
        "Operator"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClauseBaseClass"
        }
      ],
      "properties": {
        "FieldName": {
          "type": "string"
        },
        "Operator": {
          "type": "string"
        },
        "Values": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "externalDocs": {
        "description": "KQL where operator",
        "url": "https://learn.microsoft.com/azure/data-explorer/kusto/query/whereoperator"
      }
    },
    "ProjectClause": {
      "required": [
        "FieldList"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClauseBaseClass"
        }
      ],
      "properties": {
        "FieldList": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "externalDocs": {
        "description": "KQL project operator",
        "url": "https://learn.microsoft.com/azure/data-explorer/kusto/query/projectoperator"
      }
    },
    "TakeClause": {
      "required": [
        "TakeCount"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClauseBaseClass"
        }
      ],
      "properties": {
        "TakeCount": {
          "minimum": 1,
          "type": "integer"
        }
      },
      "externalDocs": {
        "description": "KQL take operator",
        "url": "https://learn.microsoft.com/azure/data-explorer/kusto/query/takeoperator"
      }
    },
    "OrderByClause": {
      "required": [
        "FieldNamesAscDesc"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClauseBaseClass"
        }
      ],
      "properties": {
        "FieldNamesAscDesc": {
          "type": "object",
          "additionalProperties": {
            "enum": [
              "asc",
              "desc"
            ],
            "type": "string"
          }
        }
      },
      "externalDocs": {
        "description": "KQL sort by operator",
        "url": "https://learn.microsoft.com/en-us/kusto/query/sort-operator"
      }
    },
    "DistinctClause": {
      "required": [
        "FieldList"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClauseBaseClass"
        }
      ],
      "properties": {
        "FieldList": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "externalDocs": {
        "description": "KQL distinct operator",
        "url": "https://learn.microsoft.com/azure/data-explorer/kusto/query/distinctoperator"
      }
    },
    "CountClause": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClauseBaseClass"
        }
      ],
      "externalDocs": {
        "description": "KQL count operator",
        "url": "https://learn.microsoft.com/azure/data-explorer/kusto/query/countoperator"
      }
    },
    "SummarizeClause": {
      "required": [
        "SummarizeClauseExpression"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClauseBaseClass"
        }
      ],
      "properties": {
        "SummarizeClauseExpression": {
          "required": [
            "OperatorName"
          ],
          "type": "object",
          "properties": {
            "OperatorName": {
              "enum": [
                "count",
                "argmax"
              ],
              "type": "string"
            },
            "OperatorFieldName": {
              "description": "For argmax, the field to maximize; for count, the alias",
              "type": "string"
            },
            "FieldList": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "externalDocs": {
        "description": "KQL summarize operator",
        "url": "https://learn.microsoft.com/azure/data-explorer/kusto/query/summarizeoperator"
      }
    },
    "ExtendClause": {
      "required": [
        "FieldName",
        "Expression"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClauseBaseClass"
        }
      ],
      "properties": {
        "FieldName": {
          "type": "string"
        },
        "Expression": {
          "type": "string"
        }
      },
      "externalDocs": {
        "description": "KQL extend operator",
        "url": "https://learn.microsoft.com/azure/data-explorer/kusto/query/extendoperator"
      }
    },
    "JoinClause": {
      "required": [
        "JoinKind",
        "RightTable",
        "LeftColumnName",
        "RightColumnName"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ClauseBaseClass"
        }
      ],
      "properties": {
        "JoinKind": {
          "description": "KQL join kind (e.g., innerunique, leftouter)",
          "type": "string"
        },
        "LeftColumnName": {
          "type": "string"
        },
        "RightColumnName": {
          "type": "string"
        },
        "RightTable": {
          "$ref": "#/definitions/SubQuery"
        }
      },
      "externalDocs": {
        "description": "KQL join operator (join kinds)",
        "url": "https://learn.microsoft.com/azure/data-explorer/kusto/query/joinoperator"
      }
    },
    "SubQuery": {
      "required": [
        "TableName",
        "Clauses"
      ],
      "type": "object",
      "properties": {
        "TableName": {
          "type": "string"
        },
        "Clauses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Clause"
          }
        }
      }
    },
    "ResourceQueryResponse": {
      "type": "object",
      "properties": {
        "totalRecords": {
          "format": "int64",
          "description": "Total rows matching the query",
          "type": "integer"
        },
        "count": {
          "format": "int64",
          "description": "Rows in this page",
          "type": "integer"
        },
        "resultTruncated": {
          "description": "0 = truncated, 1 = not truncated",
          "enum": [
            0,
            1
          ],
          "type": "integer"
        },
        "skipToken": {
          "description": "Continuation token for next page",
          "type": "string"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceItem"
          }
        }
      },
      "externalDocs": {
        "description": "ARG SDK - ResourceQueryResult",
        "url": "https://learn.microsoft.com/dotnet/api/azure.resourcemanager.resourcegraph.models.resourcequeryresult"
      }
    },
    "ResourceItem": {
      "description": "ARG row with Power Platform-specific fields.\nArbitrary properties may exist under `properties`.\n",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "tenantId": {
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "resourceGroup": {
          "type": "string"
        },
        "subscriptionId": {
          "type": "string"
        },
        "managedBy": {
          "type": "string"
        },
        "sku": { },
        "plan": { },
        "properties": {
          "description": "Free-form ARG properties bag",
          "type": "object"
        },
        "tags": { },
        "identity": { },
        "zones": { },
        "extendedLocation": { },
        "environmentId": {
          "type": "string"
        },
        "environmentId1": {
          "type": "string"
        },
        "environmentName": {
          "type": "string"
        },
        "environmentRegion": {
          "type": "string"
        },
        "environmentType": {
          "type": "string"
        },
        "isManagedEnvironment": {
          "type": "boolean"
        }
      },
      "externalDocs": {
        "description": "ARG resource table reference",
        "url": "https://learn.microsoft.com/azure/governance/resource-graph/reference/supported-tables-resources"
      }
    }
  },
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize?resource=https://api.powerplatform.com",
      "scopes": {
        ".default": ".default"
      },
      "description": "Microsoft Entra ID OAuth2"
    }
  },
  "security": [
    {
      "oauth2": [
        ".default"
      ]
    }
  ]
}