# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @tapanm-msft @sericks007
/power-platform/alm/                                @PHecke @tapanm-msft @Mattp123
/power-platform/developer/                          @PHecke @leeclontz @JimDaly
/power-platform/enterprise-templates/               @tapanm-msft @EllenWehrle
/power-platform/guidance                            @tapanm-msft @sericks007
/power-platform/power-fx/                           @tapanm-msft @mduelae
/ps-docs/                                           @tapanm-msft @mduelae
/power-virtual-agents/                              @iaanw @leeclontz
