# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @EllenWehrle
/power-platform/alm/                                @PHecke @Mattp123
/power-platform/developer/                          @JimDaly @PHecke
/power-platform/sap/                                @EllenWehrle
/power-platform/guidance                            @erikadoyle
/power-platform/architecture/                       @jhaskett-msft
/power-platform/well-architected/                   @jhaskett-msft
/power-platform/power-fx/                           @JoshuaPartlow
/ps-docs/                                           @mduelae
