{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Power Platform REST API - dynamics",
    "description": "Unified API for all administrative capabilities in Microsoft Power Platform.",
    "version": "2024-10-01"
  },
  "host": "api.powerplatform.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/dynamics/environments/{environmentId}/finopsadminsettings": {
      "get": {
        "tags": [
          "FinanceAndOperationsMaintenanceSettings"
        ],
        "summary": "Get Finance and Operations Maintenance Settings.",
        "description": "Retrieves the F&O maintenance settings for an environment managed by Power Platform admin center.",
        "operationId": "GetFinOpsMaintenanceSettings",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The unique identifier of the environment.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved Finance and Operations Maintenance.",
            "schema": {
              "$ref": "#/definitions/FinOpsAdminSettingsResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "FinanceAndOperationsMaintenanceSettings"
        ],
        "summary": "Update Finance and Operations Maintenance Settings.",
        "description": "Updates the F&O maintenance settings for an environment managed by Power Platform admin center.",
        "operationId": "UpdateFinOpsMaintenanceSettings",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The unique identifier of the environment.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateFinOpsAdminSettingsRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated Finance and Operations Maintenance.",
            "schema": {
              "$ref": "#/definitions/FinOpsAdminSettingsResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          }
        }
      }
    },
    "/dynamics/environments/{environmentId}/finopsproperties": {
      "get": {
        "tags": [
          "FinanceAndOperationsProperties"
        ],
        "summary": "Get Finance and Operations environment properties.",
        "description": "Retrieves Finance and Operations environment properties such as AOS counts, deployment type, and demo dataset.",
        "operationId": "GetFinOpsProperties",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The unique identifier of the environment.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved Finance and Operations properties.",
            "schema": {
              "$ref": "#/definitions/FinOpsPropertiesResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          }
        }
      }
    },
    "/dynamics/environments/{environmentId}/finopsversions": {
      "get": {
        "tags": [
          "FinanceAndOperationsVersions"
        ],
        "summary": "Get available Finance and Operations versions.",
        "description": "Retrieves the list of Finance and Operations application versions available for an environment.",
        "operationId": "GetFinOpsVersions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The unique identifier of the environment.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved available Finance and Operations versions.",
            "schema": {
              "$ref": "#/definitions/FinOpsVersionsResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          }
        }
      }
    },
    "/dynamics/environments/{environmentId}/finopsversions/{version}/apply": {
      "post": {
        "tags": [
          "FinanceAndOperationsVersions"
        ],
        "summary": "Apply a Finance and Operations version.",
        "description": "Applies the specified Finance and Operations application version to an environment as a long-running operation.",
        "operationId": "ApplyFinOpsVersion",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The unique identifier of the environment.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "version",
            "description": "The Finance and Operations application version to apply (for example, 10.0.47.5).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "202": {
            "description": "The apply version operation was accepted and is being processed.",
            "schema": {
              "$ref": "#/definitions/ApplyFinOpsVersionAcceptedResponse"
            },
            "headers": {
              "Location": {
                "description": "The relative URI to poll for operation status.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The recommended delay in seconds before polling for status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "No update was required because the environment is already at or above the requested version."
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          }
        }
      }
    },
    "/dynamics/environments/{environmentId}/operationerrors": {
      "get": {
        "tags": [
          "FinanceAndOperationsOperationErrors"
        ],
        "summary": "Get Finance and Operations operation errors.",
        "description": "Retrieves recent operation errors for a Finance and Operations environment.",
        "operationId": "GetFinOpsOperationErrors",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The unique identifier of the environment.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "maxResults",
            "description": "The maximum number of operation errors to return. Defaults to twenty (20) and is capped at one thousand (1000).",
            "type": "integer",
            "format": "int32",
            "default": 20
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved Finance and Operations operation errors.",
            "schema": {
              "$ref": "#/definitions/OperationErrorsResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/FinOpsErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "FinOpsDayOfWeek": {
      "description": "Day of the week (aligned with .NET System.DayOfWeek enum).",
      "enum": [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday"
      ],
      "type": "string",
      "example": "Monday"
    },
    "FinOpsUpdateCadence": {
      "description": "Cadence for major version application updates.",
      "enum": [
        "EveryUpdate",
        "EveryOtherUpdate",
        "Regulated"
      ],
      "type": "string",
      "example": "EveryUpdate",
      "x-enum-descriptions": [
        "EveryUpdate - Every Update will be applied",
        "EveryOtherUpdate - Every other Update will be applied",
        "Regulated - Cadence for Regulated customers"
      ]
    },
    "UpdateFinOpsAdminSettingsRequestBody": {
      "description": "Request body for updating Finance and Operations Maintenance.",
      "type": "object",
      "properties": {
        "updatedMaintenanceWindowDaysOfWeek": {
          "description": "The updated maintenance window days of the week.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FinOpsDayOfWeek"
          },
          "example": [
            "Monday",
            "Wednesday",
            "Friday"
          ]
        },
        "updatedMaintenanceWindowCadence": {
          "$ref": "#/definitions/FinOpsUpdateCadence"
        }
      }
    },
    "FinOpsAdminSettingsResponse": {
      "description": "Finance and Operations Maintenance response.",
      "type": "object",
      "properties": {
        "maintenanceWindowDaysOfWeek": {
          "description": "The preferred days of week for RunOne Updates.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FinOpsDayOfWeek"
          },
          "example": [
            "Monday",
            "Wednesday",
            "Friday"
          ]
        },
        "maintenanceWindowCadence": {
          "$ref": "#/definitions/FinOpsUpdateCadence"
        }
      }
    },
    "FinOpsErrorResponse": {
      "description": "Standard error response.",
      "type": "object",
      "properties": {
        "error": {
          "type": "object",
          "properties": {
            "code": {
              "description": "Error code.",
              "type": "string",
              "example": "BadRequest"
            },
            "message": {
              "description": "Error message.",
              "type": "string",
              "example": "The request was invalid"
            }
          }
        }
      }
    },
    "FinOpsDeploymentCategory": {
      "description": "The deployment category of a Finance and Operations environment.",
      "enum": [
        "UnifiedDeveloper",
        "UnifiedSandbox",
        "UnifiedProduction",
        "LCSSandbox",
        "LCSProduction",
        "Trial",
        "Unknown"
      ],
      "type": "string",
      "example": "UnifiedSandbox"
    },
    "FinOpsPropertiesResponse": {
      "description": "Finance and Operations environment properties response.",
      "type": "object",
      "properties": {
        "appId": {
          "description": "The Finance and Operations environment ID (AppId).",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000003"
        },
        "maxAOSCount": {
          "description": "The maximum number of interactive AOS instances configured for the environment.",
          "type": "string",
          "example": "2"
        },
        "lastObservedAOSCount": {
          "format": "int32",
          "description": "The last observed interactive AOS instance count.",
          "type": "integer",
          "example": 2
        },
        "maxBatchAOSCount": {
          "description": "The maximum number of batch (non-interactive) AOS instances configured for the environment.",
          "type": "string",
          "example": "1"
        },
        "lastObservedBatchAOSCount": {
          "format": "int32",
          "description": "The last observed batch (non-interactive) AOS instance count.",
          "type": "integer",
          "example": 1
        },
        "deploymentType": {
          "$ref": "#/definitions/FinOpsDeploymentCategory"
        },
        "demoDataset": {
          "description": "The demo dataset name for the environment.",
          "type": "string"
        }
      }
    },
    "OperationErrorItem": {
      "description": "A single Finance and Operations operation error.",
      "type": "object",
      "properties": {
        "operationType": {
          "description": "The operation type.",
          "type": "string",
          "example": "UpdateImage"
        },
        "correlationId": {
          "description": "The correlation ID.",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000004"
        },
        "failedActionName": {
          "description": "The name of the failed action.",
          "type": "string"
        },
        "errorCode": {
          "description": "The error code.",
          "type": "string"
        },
        "errorMessage": {
          "description": "The customer-friendly error message.",
          "type": "string"
        },
        "failedAt": {
          "format": "date-time",
          "description": "The timestamp when the operation failed.",
          "type": "string"
        }
      }
    },
    "OperationErrorsResponse": {
      "description": "Response containing operation errors for an environment.",
      "type": "object",
      "properties": {
        "environmentId": {
          "description": "The environment ID.",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000002"
        },
        "errors": {
          "description": "The list of operation errors.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationErrorItem"
          }
        }
      }
    },
    "FinOpsAppVersion": {
      "description": "A Finance and Operations application version.",
      "type": "object",
      "properties": {
        "version": {
          "description": "The application version.",
          "type": "string",
          "example": "10.0.47.5"
        },
        "releaseStage": {
          "description": "The release stage of the version.",
          "type": "string",
          "example": "GA"
        }
      }
    },
    "FinOpsVersionsResponse": {
      "description": "Finance and Operations available versions response.",
      "type": "object",
      "properties": {
        "availableVersions": {
          "description": "The list of available Finance and Operations application versions.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FinOpsAppVersion"
          }
        }
      }
    },
    "ApplyFinOpsVersionAcceptedResponse": {
      "description": "Accepted response for a long-running apply version operation.",
      "type": "object",
      "properties": {
        "resourceId": {
          "description": "The identifier of the environment resource the operation applies to.",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000002"
        },
        "operationId": {
          "description": "The identifier of the long-running operation to poll for status.",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000005"
        }
      }
    }
  },
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize?resource=https://api.powerplatform.com",
      "scopes": {
        ".default": ".default"
      },
      "description": "Microsoft Entra ID OAuth2"
    }
  },
  "security": [
    {
      "oauth2": [
        ".default"
      ]
    }
  ]
}