{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Power Platform REST API - powerpages",
    "description": "Unified API for all administrative capabilities in Microsoft Power Platform.",
    "version": "2024-10-01"
  },
  "host": "api.powerplatform.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/powerpages/environments/{environmentId}/websites": {
      "get": {
        "tags": [
          "Websites"
        ],
        "summary": "List Power Pages websites.",
        "description": "Get a list of all the websites in your environment.",
        "operationId": "GetWebsites",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "The number of items to skip before returning the remaining items.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ODataListWebsitesDto"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Websites"
        ],
        "summary": "Create a Power Pages website.",
        "description": "Trigger the creation of a new website.",
        "operationId": "CreateWebsite",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewWebsiteRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Operation-Location": {
                "description": "Location of a resource",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      }
    },
    "/powerpages/environments/{environmentId}/websites/{id}": {
      "get": {
        "tags": [
          "Websites"
        ],
        "summary": "Get the Power Pages website details by specifying its unique identifier (ID).",
        "description": "Get website details using a specified website ID.",
        "operationId": "GetWebsiteById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/WebsiteDto"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Websites"
        ],
        "summary": "Delete a Power Pages website.",
        "description": "Trigger the deletion of a website by specifying the website ID.",
        "operationId": "DeleteWebsite",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Operation-Location",
            "description": "Operation location.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Operation-Location": {
                "description": "Location of a resource",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      }
    },
    "/powerpages/environments/{environmentId}/websites/{id}/certificates": {
      "post": {
        "tags": [
          "Websites"
        ],
        "summary": "Upload a certificate for a website.",
        "description": "Validates and uploads an SSL or managed certificate for the specified website. The certificate file and password must be provided as multipart form data.",
        "operationId": "UploadCertificate",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "certType",
            "description": "The type of certificate (e.g., SSL, MANAGED).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "formData",
            "name": "file",
            "description": "The certificate file (.pfx).",
            "type": "file",
            "x-ms-summary": "Certificate File"
          },
          {
            "in": "formData",
            "name": "password",
            "description": "The certificate password.",
            "type": "string",
            "x-ms-summary": "Password"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "description": "The thumbprint of the uploaded certificate.",
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Websites"
        ],
        "summary": "Get certificates associated with a website.",
        "description": "Returns the list of certificates associated with the specified website, filtered by certificate type.",
        "operationId": "GetCertificatesByPortal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "certType",
            "description": "The type of certificate to retrieve. Allowed values: SSL, MANAGED.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CertificateDTO"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Websites"
        ],
        "summary": "Delete a certificate associated with a website.",
        "description": "Deletes the certificate identified by the given thumbprint and type from the website.",
        "operationId": "DeleteCertificateByPortal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "thumbprint",
            "description": "The thumbprint of the certificate to delete.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "certType",
            "description": "The type of certificate (e.g., SSL, MANAGED).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      }
    },
    "/powerpages/environments/{environmentId}/websites/{id}/convertToProduction": {
      "post": {
        "tags": [
          "Websites"
        ],
        "summary": "Convert a trial Power Pages website to production.",
        "description": "Convert a trial website to a production website.",
        "operationId": "ConvertTrialToProduction",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConvertTrialToProductionRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Operation-Location": {
                "description": "Location of a resource",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      }
    },
    "/powerpages/environments/{environmentId}/websites/{id}/createWafRules": {
      "put": {
        "tags": [
          "Websites"
        ],
        "summary": "Create web application Firewall rules on a Power Pages website.",
        "description": "Create web application Firewall rules on the given website.",
        "operationId": "CreateWafRules",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebApplicationFirewallRules"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      }
    },
    "/powerpages/environments/{environmentId}/websites/{id}/customDomain": {
      "get": {
        "tags": [
          "Websites"
        ],
        "summary": "List custom host names for a website.",
        "description": "Returns the list of custom host names configured for the specified website.",
        "operationId": "ListHostNamesForPortal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "description": "A custom host name configured for the website.",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Websites"
        ],
        "summary": "Add a custom domain to a website.",
        "description": "Adds the specified custom host name to the website.",
        "operationId": "CreateCustomDomain",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "customDomain",
            "description": "The custom host name to add to the website.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Websites"
        ],
        "summary": "Delete a custom domain from a website.",
        "description": "Removes the specified custom host name from the website and cleans up associated SSL bindings and Azure Front Door (AFD) configuration.",
        "operationId": "DeleteHostNameForPortal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "hostName",
            "description": "The custom host name to remove from the website.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      }
    },
    "/powerpages/environments/{environmentId}/websites/{id}/deleteWafCustomRules": {
      "put": {
        "tags": [
          "Websites"
        ],
        "summary": "Deletes web application firewall custom rules on a Power Pages website.",
        "description": "Deletes web application firewall custom rules on the given website.",
        "operationId": "DeleteWafCustomRules",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customRules"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      }
    },
    "/powerpages/environments/{environmentId}/websites/{id}/disableWaf": {
      "post": {
        "tags": [
          "Websites"
        ],
        "summary": "Disable web application Firewall on a Power Pages website.",
        "description": "Disable web application Firewall on the given website.",
        "operationId": "DisableWaf",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/WebApplicationFirewallStatus"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      }
    },
    "/powerpages/environments/{environmentId}/websites/{id}/enableWaf": {
      "post": {
        "tags": [
          "Websites"
        ],
        "summary": "Enable web application firewall on a Power Pages website.",
        "description": "Enable web application firewall on the given website.",
        "operationId": "EnableWAF",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Operation-Location": {
                "description": "Location of a resource",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      }
    },
    "/powerpages/environments/{environmentId}/websites/{id}/getWafRules": {
      "get": {
        "tags": [
          "Websites"
        ],
        "summary": "Get the web application firewall rules.",
        "description": "Get the web application firewall rules associated with the given website.",
        "operationId": "GetWAFRules",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ruleType",
            "description": "Type of web application firewall rules to retrieve.",
            "type": "string",
            "enum": [
              "managed",
              "custom"
            ]
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/WebApplicationFirewallConfiguration"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      }
    },
    "/powerpages/environments/{environmentId}/websites/{id}/getWafStatus": {
      "get": {
        "tags": [
          "Websites"
        ],
        "summary": "Get the web application firewall status.",
        "description": "Get the status of web application firewall associated with the given website.",
        "operationId": "GetWAFStatus",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/WebApplicationFirewallStatus"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      }
    },
    "/powerpages/environments/{environmentId}/websites/{id}/ipaddressrules": {
      "get": {
        "tags": [
          "Websites"
        ],
        "summary": "Get allowed IP addresses for a Power Pages website.",
        "description": "Returns the list of IP addresses in the website's IP restriction allow list.",
        "operationId": "GetAllowedIpAddresses",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "description": "List of allowed IP addresses.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/IpAddressEntity"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Websites"
        ],
        "summary": "Add allowed IP addresses on a Power Pages website.",
        "description": "These IP addresses will be able to access the website.",
        "operationId": "AddAllowedIpAddresses",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IpAddressConfiguration"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      }
    },
    "/powerpages/environments/{environmentId}/websites/{id}/removeAllowedIpAddresses": {
      "post": {
        "tags": [
          "Websites"
        ],
        "summary": "Remove allowed IP addresses from a Power Pages website.",
        "description": "Removes the specified IP addresses from the website's IP restriction allow list.",
        "operationId": "RemoveAllowedIpAddresses",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IpAddressConfiguration"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      }
    },
    "/powerpages/environments/{environmentId}/websites/{id}/restart": {
      "post": {
        "tags": [
          "Websites"
        ],
        "summary": "Restart a Power Pages website.",
        "description": "Restart the website for the given site ID.",
        "operationId": "RestartWebsite",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      }
    },
    "/powerpages/environments/{environmentId}/websites/{id}/scan/deep/getLatestCompletedReport": {
      "get": {
        "tags": [
          "Websites"
        ],
        "summary": "Get deep scan report for a Power Pages website.",
        "description": "Get the deep scan report for a Power Pages website.",
        "operationId": "GetSecurityScanReport",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SiteSecurityResult"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      }
    },
    "/powerpages/environments/{environmentId}/websites/{id}/scan/deep/getSecurityScore": {
      "get": {
        "tags": [
          "Websites"
        ],
        "summary": "Get deep scan score for a Power Pages website.",
        "description": "Get the deep scan score for a Power Pages website.",
        "operationId": "GetSecurityScanScore",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SiteSecurityScore"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      }
    },
    "/powerpages/environments/{environmentId}/websites/{id}/scan/deep/start": {
      "post": {
        "tags": [
          "Websites"
        ],
        "summary": "Start deep scan for a Power Pages website.",
        "description": "Start deep scan for a Power Pages website.",
        "operationId": "StartDeepScan",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      }
    },
    "/powerpages/environments/{environmentId}/websites/{id}/scan/quick/execute": {
      "post": {
        "tags": [
          "Websites"
        ],
        "summary": "Execute quick scan for a Power Pages website.",
        "description": "Execute a quick scan for a Power Pages website.",
        "operationId": "StartQuickScan",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "lcid",
            "description": "Language code identifier (LCID) for the website.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PortalScanIssues"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      }
    },
    "/powerpages/environments/{environmentId}/websites/{id}/SetPortalBootstrapV5Enabled": {
      "patch": {
        "tags": [
          "Websites"
        ],
        "summary": "Stamp bootstrap version five (5) status as enabled for website.",
        "description": "Stamp bootstrap version five (5) status as enabled for website.",
        "operationId": "SetPortalBootstrapV5Enabled",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      }
    },
    "/powerpages/environments/{environmentId}/websites/{id}/setPortalDataModelVersion": {
      "post": {
        "tags": [
          "Websites"
        ],
        "summary": "Stamp data model version for website.",
        "description": "Stamp data model version for website.",
        "operationId": "SetPortalDataModelVersion",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PortalDataModelDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      }
    },
    "/powerpages/environments/{environmentId}/websites/{id}/sslBindings": {
      "get": {
        "tags": [
          "Websites"
        ],
        "summary": "List SSL bindings for a website by hostname.",
        "description": "Returns the SSL bindings (certificate thumbprints) associated with the specified hostname on the website.",
        "operationId": "ListSslBindingsByThumbprints",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "hostName",
            "description": "The custom domain hostname to filter SSL bindings by.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SslBindingThumbprintDTO"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Websites"
        ],
        "summary": "Add an SSL binding to a website.",
        "description": "Binds the specified certificate thumbprint to the custom domain hostname of the website.",
        "operationId": "AddSslBindingByPortal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "thumbprint",
            "description": "The thumbprint of the certificate to bind.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "hostName",
            "description": "The custom domain hostname to bind the certificate to.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Websites"
        ],
        "summary": "Delete SSL binding for a website by certificate thumbprint.",
        "description": "Removes the SSL binding for the specified hostname and certificate thumbprint from the website.",
        "operationId": "DeleteSslBindingByThumbprint",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "hostName",
            "description": "The custom domain hostname whose SSL binding will be removed.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "thumbprint",
            "description": "The thumbprint of the certificate to unbind.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      }
    },
    "/powerpages/environments/{environmentId}/websites/{id}/start": {
      "post": {
        "tags": [
          "Websites"
        ],
        "summary": "Start a Power Pages website.",
        "description": "Start the website for the given site ID.",
        "operationId": "StartWebsite",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      }
    },
    "/powerpages/environments/{environmentId}/websites/{id}/stop": {
      "post": {
        "tags": [
          "Websites"
        ],
        "summary": "Stop a Power Pages website.",
        "description": "Stop the website for the given site ID.",
        "operationId": "StopWebsite",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      }
    },
    "/powerpages/environments/{environmentId}/websites/{id}/toggleAFDTrafficRouting": {
      "post": {
        "tags": [
          "Websites"
        ],
        "summary": "Toggle AFD traffic routing for a Power Pages website.",
        "description": "Toggles traffic routing between Azure Front Door and web apps for a portal. When enableAFD is true, enables the AFD endpoint and adds service tag restrictions to web apps. When false, removes service tags and disables the AFD endpoint.",
        "operationId": "ToggleAFDTrafficRouting",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "enableAFD",
            "description": "True to enable AFD routing, false to disable.",
            "required": true,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ToggleAFDTrafficRoutingResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      }
    },
    "/powerpages/environments/{environmentId}/websites/{id}/updatePortalSecurityGroup": {
      "post": {
        "tags": [
          "Websites"
        ],
        "summary": "Update security group for site visibility for a website.",
        "description": "Update the security group for site visibility for a website.",
        "operationId": "UpdatePortalSecurityGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "securityGroupId",
            "description": "Security group ID.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      }
    },
    "/powerpages/environments/{environmentId}/websites/{id}/updateSiteVisibility": {
      "post": {
        "tags": [
          "Websites"
        ],
        "summary": "Update site visibility for a website.",
        "description": "Update site visibility for a website.",
        "operationId": "UpdateSiteVisibility",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Website unique identifier (ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "siteVisibility",
            "description": "Site visibility.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "NewWebsiteRequest": {
      "required": [
        "name",
        "dataverseOrganizationId",
        "templateName",
        "selectedBaseLanguage",
        "subdomain"
      ],
      "type": "object",
      "properties": {
        "dataverseOrganizationId": {
          "format": "uuid",
          "description": "Dataverse organization's unique identifier (ID)",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "name": {
          "description": "Name of the website",
          "type": "string"
        },
        "templateName": {
          "description": "Website template name",
          "enum": [
            "DefaultPortalTemplate",
            "PowerPortals_ProgramRegistration",
            "PowerPortals_BookMeeting"
          ],
          "type": "string"
        },
        "selectedBaseLanguage": {
          "format": "int32",
          "description": "Language ID - https://go.microsoft.com/fwlink/?linkid=2208135",
          "type": "integer"
        },
        "subdomain": {
          "description": "Subdomain for the website URL",
          "type": "string"
        },
        "websiteRecordId": {
          "description": "Dataverse record unique identifier (ID) of the website",
          "type": "string"
        }
      }
    },
    "ConvertTrialToProductionRequest": {
      "type": "object",
      "properties": {
        "EnableCDN": {
          "description": "Enable Content Delivery Network (CDN) for the website",
          "default": false,
          "type": "boolean"
        },
        "EnableWAF": {
          "description": "Enable Web Application Firewall (WAF) for the website",
          "default": false,
          "type": "boolean"
        },
        "UseDynamics365PortalAddOnLicense": {
          "description": "Use Dynamics 365 Portal Add-On License for the website",
          "default": false,
          "type": "boolean"
        }
      }
    },
    "ODataListWebsitesDto": {
      "type": "object",
      "properties": {
        "@odata.metadata": {
          "type": "string"
        },
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WebsiteDto"
          }
        },
        "@odata.nextLink": {
          "type": "string"
        }
      }
    },
    "ToggleAFDTrafficRoutingResponse": {
      "required": [
        "message"
      ],
      "type": "object",
      "properties": {
        "message": {
          "description": "Result message describing the outcome of the toggle operation.",
          "type": "string"
        }
      }
    },
    "ErrorMessage": {
      "type": "object",
      "properties": {
        "error": {
          "type": "object",
          "properties": {
            "code": {
              "description": "Error code",
              "type": "string"
            },
            "message": {
              "description": "Error message",
              "type": "string"
            },
            "target": {
              "description": "Target parameter",
              "type": "string"
            },
            "details": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "code": {
                    "description": "Error code",
                    "type": "string"
                  },
                  "message": {
                    "description": "Error message",
                    "type": "string"
                  },
                  "target": {
                    "description": "Target parameter",
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "WebsiteDto": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Website unique identifier (ID)",
          "type": "string"
        },
        "name": {
          "description": "Website name",
          "type": "string"
        },
        "createdOn": {
          "description": "Website creation time in the ISO 8601 UTC format",
          "type": "string"
        },
        "templateName": {
          "description": "Website template name",
          "enum": [
            "DefaultPortalTemplate",
            "PowerPortals_ProgramRegistration",
            "PowerPortals_BookMeeting"
          ],
          "type": "string"
        },
        "websiteUrl": {
          "description": "Website URL",
          "type": "string"
        },
        "tenantId": {
          "description": "Tenant unique identifier (ID) of the website",
          "type": "string"
        },
        "dataverseInstanceUrl": {
          "description": "Organization URL of the website",
          "type": "string"
        },
        "environmentName": {
          "description": "Environment name of the website",
          "type": "string"
        },
        "environmentId": {
          "description": "Environment unique identifier (ID) of the website",
          "type": "string"
        },
        "dataverseOrganizationId": {
          "description": "Organization unique identifier (ID) of the website",
          "type": "string"
        },
        "selectedBaseLanguage": {
          "format": "int32",
          "description": "Language ID - https://go.microsoft.com/fwlink/?linkid=2208135",
          "type": "integer"
        },
        "customHostNames": {
          "description": "Custom hostnames added for the website",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "websiteRecordId": {
          "description": "Dataverse record unique identifier (ID) of the website",
          "type": "string"
        },
        "subdomain": {
          "description": "Subdomain of website",
          "type": "string"
        },
        "packageInstallStatus": {
          "description": "Package installation status of the website",
          "enum": [
            "None",
            "Installed",
            "Uninstalled",
            "InstallRequested",
            "UninstallRequested",
            "InstallFailed",
            "UninstallFailed",
            "Installing",
            "Uninstalling",
            "InstallScheduled",
            "InstallRetrying",
            "TemplateInstalled"
          ],
          "type": "string"
        },
        "type": {
          "description": "Application type of the website",
          "enum": [
            "Trial",
            "Production"
          ],
          "type": "string"
        },
        "trialExpiringInDays": {
          "format": "int32",
          "description": "Time (in days) to expiration of the website",
          "type": "integer"
        },
        "suspendedWebsiteDeletingInDays": {
          "format": "int32",
          "description": "Time (in days) to website deletion, if suspended",
          "type": "integer"
        },
        "packageVersion": {
          "description": "Package version of the website",
          "type": "string"
        },
        "isEarlyUpgradeEnabled": {
          "description": "Website eligibility for early upgrade",
          "type": "boolean"
        },
        "isCustomErrorEnabled": {
          "description": "Custom error enablement for Website",
          "type": "boolean"
        },
        "applicationUserAadAppId": {
          "description": "Entra ID (formerly Azure Active Directory) object unique identifier (ID)",
          "type": "string"
        },
        "ownerId": {
          "description": "User unique identifier (ID) of the website owner",
          "type": "string"
        },
        "status": {
          "description": "Website status",
          "enum": [
            "OperationComplete",
            "OperationInProgress",
            "OperationNotStarted",
            "OperationFailed"
          ],
          "type": "string"
        },
        "siteVisibility": {
          "description": "Website visibility status",
          "enum": [
            "public",
            "private"
          ],
          "type": "string"
        }
      }
    },
    "PortalDataModelDto": {
      "required": [
        "dataModelVersionValue"
      ],
      "type": "object",
      "properties": {
        "dataModelVersionValue": {
          "description": "value of data model version for IsNewDataModel",
          "type": "boolean"
        }
      }
    },
    "WebApplicationFirewallStatus": {
      "description": "Web application firewall status",
      "enum": [
        "None",
        "Creating",
        "Deleting",
        "Created",
        "CreationFailed",
        "DeletionFailed"
      ],
      "type": "string"
    },
    "WafRuleAction": {
      "description": "Action to take for the rule",
      "enum": [
        "Allow",
        "Block",
        "Log",
        "AnomalyScoring"
      ],
      "type": "string"
    },
    "WafRuleType": {
      "description": "WAF rule type",
      "enum": [
        "MatchRule",
        "RateLimitRule"
      ],
      "type": "string"
    },
    "IpAddressType": {
      "description": "The type of the IP address",
      "enum": [
        "IPv4",
        "IPv6"
      ],
      "type": "string"
    },
    "CustomRule": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the custom rule",
          "type": "string"
        },
        "priority": {
          "format": "int32",
          "description": "Priority of the rule",
          "type": "integer"
        },
        "enabledState": {
          "description": "State of the rule",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "type": "string"
        },
        "ruleType": {
          "$ref": "#/definitions/WafRuleType"
        },
        "rateLimitDurationInMinutes": {
          "format": "int32",
          "description": "Duration in minutes for rate limiting",
          "type": "integer"
        },
        "rateLimitThreshold": {
          "format": "int32",
          "description": "Threshold for rate limiting",
          "type": "integer"
        },
        "matchConditions": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "matchVariable": {
                "description": "Variable to match",
                "type": "string"
              },
              "selector": {
                "description": "Selector for the match variable",
                "type": "string"
              },
              "operator": {
                "description": "Operator for the match condition",
                "enum": [
                  "GeoMatch",
                  "Equals",
                  "Contains",
                  "StartsWith",
                  "EndsWith"
                ],
                "type": "string"
              },
              "negateCondition": {
                "description": "Whether to negate the condition",
                "type": "boolean"
              },
              "matchValue": {
                "description": "Values to match",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "transforms": {
                "description": "Transformations to apply",
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "action": {
          "description": "Action to take when the rule matches",
          "enum": [
            "Allow",
            "Block",
            "Log"
          ],
          "type": "string"
        }
      }
    },
    "customRules": {
      "description": "List of custom rule names",
      "type": "array",
      "items": {
        "type": "string"
      }
    },
    "WebApplicationFirewallRules": {
      "type": "object",
      "properties": {
        "customRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomRule"
          }
        },
        "managedRules": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "RuleSetType": {
                "description": "Type of the managed rule set",
                "type": "string"
              },
              "RuleSetVersion": {
                "description": "Version of the managed rule set",
                "type": "string"
              },
              "RuleSetAction": {
                "description": "Action to take for the rule set",
                "enum": [
                  "Allow",
                  "Block",
                  "Log"
                ],
                "type": "string"
              },
              "Exclusions": {
                "description": "List of exclusions for the rule set",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "RuleGroupOverrides": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "RuleGroupName": {
                      "description": "Name of the rule group",
                      "type": "string"
                    },
                    "Exclusions": {
                      "description": "List of exclusions for the rule group",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "Rules": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "RuleId": {
                            "description": "ID of the rule",
                            "type": "string"
                          },
                          "EnabledState": {
                            "description": "State of the rule",
                            "enum": [
                              "Enabled",
                              "Disabled"
                            ],
                            "type": "string"
                          },
                          "Action": {
                            "$ref": "#/definitions/WafRuleAction"
                          },
                          "Exclusions": {
                            "description": "List of exclusions for the rule",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "WebApplicationFirewallConfiguration": {
      "type": "object",
      "properties": {
        "ManagedRules": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "description": "Unique identifier of the managed rule set",
                "type": "string"
              },
              "name": {
                "description": "Name of the managed rule set",
                "type": "string"
              },
              "properties": {
                "type": "object",
                "properties": {
                  "provisioningState": {
                    "description": "Provisioning state of the managed rule set",
                    "enum": [
                      "Succeeded",
                      "Failed",
                      "Updating"
                    ],
                    "type": "string"
                  },
                  "ruleSetId": {
                    "description": "Unique identifier of the rule set",
                    "type": "string"
                  },
                  "ruleSetType": {
                    "description": "Type of the rule set",
                    "type": "string"
                  },
                  "ruleSetVersion": {
                    "description": "Version of the rule set",
                    "type": "string"
                  },
                  "ruleGroups": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "ruleGroupName": {
                          "description": "Name of the rule group",
                          "type": "string"
                        },
                        "description": {
                          "description": "Description of the rule group",
                          "type": "string"
                        },
                        "rules": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ruleId": {
                                "description": "Unique identifier of the rule",
                                "type": "string"
                              },
                              "defaultState": {
                                "description": "Default state of the rule",
                                "enum": [
                                  "Enabled",
                                  "Disabled"
                                ],
                                "type": "string"
                              },
                              "defaultAction": {
                                "$ref": "#/definitions/WafRuleAction"
                              },
                              "description": {
                                "description": "Description of the rule",
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "CustomRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomRule"
          }
        }
      }
    },
    "IpAddressConfiguration": {
      "type": "object",
      "properties": {
        "IpAddresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IpAddressEntity"
          }
        }
      }
    },
    "IpAddressEntity": {
      "description": "Represents an IP address entry in the allow list",
      "type": "object",
      "properties": {
        "IpAddress": {
          "description": "The IP address or CIDR range (e.g., \"208.130.0.0/16\")",
          "type": "string"
        },
        "IpAddressType": {
          "$ref": "#/definitions/IpAddressType"
        }
      }
    },
    "PortalScanIssues": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "issue": {
            "description": "The specific issue identified",
            "type": "string"
          },
          "category": {
            "description": "The category of the issue",
            "enum": [
              "Provisioning issues",
              "Configuration Issues",
              "Portal Startup Issue",
              "Performance",
              "Security"
            ],
            "type": "string"
          },
          "result": {
            "description": "The result of the issue check",
            "enum": [
              "Pass",
              "Warning",
              "Error"
            ],
            "type": "string"
          },
          "description": {
            "description": "Detailed description of the issue",
            "type": "string"
          },
          "learnMoreUrl": {
            "format": "uri",
            "description": "URL for more information about the issue",
            "type": "string"
          }
        }
      }
    },
    "SiteSecurityScore": {
      "type": "object",
      "properties": {
        "totalRules": {
          "description": "Total number of rules",
          "type": "integer"
        },
        "succeededRules": {
          "description": "Number of rules that succeeded",
          "type": "integer"
        }
      }
    },
    "SiteSecurityResult": {
      "type": "object",
      "properties": {
        "TotalRuleCount": {
          "description": "Total number of rules evaluated",
          "type": "integer"
        },
        "FailedRuleCount": {
          "description": "Number of rules that failed",
          "type": "integer"
        },
        "TotalAlertCount": {
          "description": "Total number of alerts generated",
          "type": "integer"
        },
        "UserName": {
          "description": "Name of the user who initiated the scan",
          "type": "string"
        },
        "StartTime": {
          "format": "date-time",
          "description": "Start time of the scan",
          "type": "string"
        },
        "EndTime": {
          "format": "date-time",
          "description": "End time of the scan",
          "type": "string"
        },
        "Rules": {
          "description": "List of rules evaluated during the scan",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Rule"
          }
        }
      }
    },
    "Rule": {
      "type": "object",
      "properties": {
        "RuleId": {
          "description": "Unique identifier of the rule",
          "type": "string"
        },
        "RuleName": {
          "description": "Name of the rule",
          "type": "string"
        },
        "RuleStatus": {
          "description": "Status of the rule",
          "enum": [
            "RuleFailed",
            "RulePassed"
          ],
          "type": "string"
        },
        "AlertsCount": {
          "description": "Number of alerts generated by the rule",
          "type": "integer"
        },
        "Alerts": {
          "description": "List of alerts generated by the rule",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Alert"
          }
        }
      }
    },
    "Alert": {
      "type": "object",
      "properties": {
        "AlertId": {
          "description": "Unique identifier of the alert",
          "type": "string"
        },
        "AlertName": {
          "description": "Name of the alert",
          "type": "string"
        },
        "Description": {
          "description": "Detailed description of the alert",
          "type": "string"
        },
        "Mitigation": {
          "description": "Steps to mitigate the issue",
          "type": "string"
        },
        "Risk": {
          "description": "Risk level associated with the alert",
          "type": "integer"
        },
        "RuleId": {
          "description": "Identifier of the rule that generated the alert",
          "type": "string"
        },
        "LearnMoreLink": {
          "description": "Links to learn more about the alert",
          "type": "array",
          "items": {
            "format": "uri",
            "type": "string"
          }
        },
        "CallToAction": {
          "description": "Actions to address the alert",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SslBindingThumbprintDTO": {
      "type": "object",
      "properties": {
        "Name": {
          "description": "The custom hostname the SSL binding is associated with.",
          "type": "string"
        },
        "Thumbprint": {
          "description": "The certificate thumbprint bound to the hostname.",
          "type": "string"
        }
      }
    },
    "CertificateDTO": {
      "type": "object",
      "properties": {
        "SubjectName": {
          "description": "The subject name of the certificate.",
          "type": "string"
        },
        "ExpirationDate": {
          "format": "date-time",
          "description": "The expiration date of the certificate.",
          "type": "string"
        },
        "Thumbprint": {
          "description": "The thumbprint of the certificate.",
          "type": "string"
        },
        "Location": {
          "description": "The Azure region where the certificate is stored.",
          "type": "string"
        },
        "Type": {
          "description": "The type of the certificate (e.g., SSL, MANAGED, AZURE_MANAGED).",
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize?resource=https://api.powerplatform.com",
      "scopes": {
        ".default": ".default"
      },
      "description": "Microsoft Entra ID OAuth2"
    }
  },
  "security": [
    {
      "oauth2": [
        ".default"
      ]
    }
  ]
}