{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Power Platform REST API - appm anagement",
    "description": "Unified API for all administrative capabilities in Microsoft Power Platform.",
    "version": "2022-03-01-preview"
  },
  "host": "api.powerplatform.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/appmanagement/applicationPackages": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "List the installable application packages for a tenant.",
        "description": "Get the list of available application packages for a tenant.",
        "operationId": "GetTenantApplicationPackage",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TenantApplicationPackageContinuationResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/appmanagement/environments/{environmentId}/applicationPackages": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Get the list of application packages that are available for install in a target environment.",
        "description": "Get the list of available application packages that are relevant in the context of a target environment. The client can filter the application packages based on install state (NotInstalled, Installed, All) and any other response parameters utilizing standard OData capabilities.",
        "operationId": "GetEnvironmentApplicationPackage",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "Environment ID (not to be confused with Org ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "appInstallState",
            "description": "Application package install state.",
            "type": "string",
            "enum": [
              "All",
              "Installed",
              "NotInstalled"
            ]
          },
          {
            "in": "query",
            "name": "lcid",
            "description": "Application package supported language ID.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApplicationPackageContinuationResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/appmanagement/environments/{environmentId}/applicationPackages/{uniqueName}/install": {
      "post": {
        "tags": [
          "Applications"
        ],
        "summary": "Start the install of application package in target environment.",
        "description": "Trigger the installation of an application package, based on the package unique name, to be installed into a target environment. The client can also include a custom payload when requesting installation of an application package.",
        "operationId": "InstallApplicationPackage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "Environment ID (not to be confused with the organization ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "uniqueName",
            "description": "Package unique name.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Payload to be sent during installation of the package",
            "schema": {
              "$ref": "#/definitions/TpsInstallRequestPayload"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InstancePackage"
            }
          }
        }
      }
    },
    "/appmanagement/environments/{environmentId}/operations/{operationId}": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Get the polling status for a previously triggered installation.",
        "description": "Get the polling status to check on the progress of a previously triggered installation based on the operation ID.",
        "operationId": "GetApplicationPackageInstallStatus",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "Environment ID (not to be confused with organization ID).",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "operationId",
            "description": "Operation ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InstancePackageOperationPollingResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {
    "ApplicationInstallState": {
      "description": "Application install state for application packages",
      "enum": [
        "All",
        "Installed",
        "NotInstalled"
      ],
      "type": "string"
    },
    "ApplicationPackage": {
      "required": [
        "id",
        "uniqueName"
      ],
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "description": "Available package ID or instance package ID, where both map to the application package ID",
          "type": "string"
        },
        "uniqueName": {
          "description": "Available package unique name or instance package unique name",
          "type": "string"
        },
        "version": {
          "description": "Available package version or instance package version",
          "type": "string"
        },
        "localizedDescription": {
          "description": "Localized description for the application package",
          "maxLength": 1000,
          "type": "string"
        },
        "localizedName": {
          "description": "Localized name of application package",
          "type": "string"
        },
        "applicationId": {
          "format": "uuid",
          "description": "Application ID",
          "type": "string"
        },
        "applicationName": {
          "description": "Application name",
          "type": "string"
        },
        "applicationDescription": {
          "description": "Application description",
          "type": "string"
        },
        "singlePageApplicationUrl": {
          "description": "Single Page Application (SPA) URL associated with the application",
          "type": "string"
        },
        "publisherName": {
          "description": "Publisher name",
          "type": "string"
        },
        "publisherId": {
          "format": "uuid",
          "description": "Publisher ID",
          "type": "string"
        },
        "learnMoreUrl": {
          "description": "Learn more URL for the application",
          "type": "string"
        },
        "platformMinVersion": {
          "description": "Available package platform minimum version",
          "type": "string"
        },
        "platformMaxVersion": {
          "description": "Available package platform maximum version",
          "type": "string"
        },
        "customHandleUpgrade": {
          "description": "Available package custom upgrade",
          "type": "boolean"
        },
        "instancePackageId": {
          "format": "uuid",
          "description": "Instance package ID that is used only for a retry of package installation (for example, a reinstall).",
          "type": "string"
        },
        "state": {
          "$ref": "#/definitions/InstancePackageState"
        },
        "catalogVisibility": {
          "$ref": "#/definitions/CatalogVisibility"
        },
        "applicationVisibility": {
          "$ref": "#/definitions/ApplicationVisibility"
        },
        "lastError": {
          "$ref": "#/definitions/ErrorDetails"
        },
        "startDateUtc": {
          "format": "date-time",
          "description": "Start date for application package",
          "type": "string"
        },
        "endDateUtc": {
          "format": "date-time",
          "description": "End date for application package",
          "type": "string"
        },
        "supportedCountries": {
          "description": "List of supported countries/regions for the application",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "additionalProperties": false
    },
    "ApplicationPackageContinuationResponse": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplicationPackage"
          }
        },
        "@odata.nextLink": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "ApplicationVisibility": {
      "description": "Application visibility",
      "enum": [
        "None",
        "CrmAdminCenter",
        "BapAdminCenter",
        "OneAdminCenter",
        "All"
      ],
      "type": "string"
    },
    "CatalogVisibility": {
      "description": "Catalog visibility for the application",
      "enum": [
        "None",
        "AdminCenter",
        "Teams",
        "All"
      ],
      "type": "string"
    },
    "ErrorDetails": {
      "type": "object",
      "properties": {
        "errorName": {
          "description": "Error name",
          "type": "string"
        },
        "errorCode": {
          "format": "int32",
          "description": "Error code from Dataverse",
          "type": "integer"
        },
        "message": {
          "description": "Error message",
          "type": "string"
        },
        "type": {
          "description": "Error type",
          "type": "string"
        },
        "statusCode": {
          "format": "int32",
          "description": "Status code for error",
          "type": "integer"
        },
        "source": {
          "description": "Source of the error",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "InstancePackage": {
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "description": "Instance package ID",
          "type": "string"
        },
        "packageId": {
          "format": "uuid",
          "description": "Package ID",
          "type": "string"
        },
        "applicationId": {
          "format": "uuid",
          "description": "Application ID associated with the instance package",
          "type": "string"
        },
        "applicationName": {
          "description": "Application name associated with the instance package",
          "type": "string"
        },
        "applicationDescription": {
          "description": "Application description associated with the instance package",
          "type": "string"
        },
        "singlePageApplicationUrl": {
          "description": "Single Page Application (SPA) URL",
          "type": "string"
        },
        "publisherName": {
          "description": "Publisher name for the application",
          "type": "string"
        },
        "publisherId": {
          "format": "uuid",
          "description": "Publisher ID",
          "type": "string"
        },
        "packageUniqueName": {
          "description": "Package unique name.",
          "type": "string"
        },
        "packageVersion": {
          "description": "Package version",
          "type": "string"
        },
        "localizedDescription": {
          "description": "Localized description of application",
          "type": "string"
        },
        "localizedName": {
          "description": "Localized name of application",
          "type": "string"
        },
        "learnMoreUrl": {
          "description": "Learn more url for the application",
          "type": "string"
        },
        "termsOfServiceBlobUris": {
          "description": "Terms of service for the application",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "applicationVisibility": {
          "$ref": "#/definitions/ApplicationVisibility"
        },
        "lastOperation": {
          "$ref": "#/definitions/InstancePackageOperation"
        },
        "customHandleUpgrade": {
          "description": "Custom handle upgrade flag for the application",
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "InstancePackageOperation": {
      "type": "object",
      "properties": {
        "state": {
          "$ref": "#/definitions/InstancePackageState"
        },
        "createdOn": {
          "format": "date-time",
          "description": "Date and time for creation of the instance package operation",
          "type": "string"
        },
        "modifiedOn": {
          "format": "date-time",
          "description": "Date and time for modification of the instance package operation",
          "type": "string"
        },
        "errorDetails": {
          "$ref": "#/definitions/ErrorDetails"
        },
        "statusMessage": {
          "description": "Status message",
          "type": "string"
        },
        "instancePackageId": {
          "format": "uuid",
          "description": "Instance package ID",
          "type": "string"
        },
        "operationId": {
          "format": "uuid",
          "description": "Operation ID for the operation triggered on the instance package",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "InstancePackageOperationPollingResponse": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/InstancePackageOperationStatus"
        },
        "createdDateTime": {
          "format": "date-time",
          "type": "string"
        },
        "lastActionDateTime": {
          "format": "date-time",
          "type": "string"
        },
        "error": {
          "$ref": "#/definitions/ErrorDetails"
        },
        "statusMessage": {
          "type": "string"
        },
        "operationId": {
          "format": "uuid",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "InstancePackageOperationStatus": {
      "enum": [
        "NotStarted",
        "Running",
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "type": "string"
    },
    "InstancePackageState": {
      "description": "State of the instance package",
      "enum": [
        "None",
        "Installed",
        "Uninstalled",
        "InstallRequested",
        "UninstallRequested",
        "InstallFailed",
        "UninstallFailed",
        "Installing",
        "Uninstalling",
        "InstallScheduled",
        "InstallRetrying",
        "TemplateInstalled"
      ],
      "type": "string"
    },
    "TenantApplicationPackage": {
      "type": "object",
      "properties": {
        "uniqueName": {
          "description": "Unique name of the tenant application package",
          "type": "string"
        },
        "localizedDescription": {
          "description": "Localized description of the tenant application package",
          "type": "string"
        },
        "localizedName": {
          "description": "Localized name",
          "type": "string"
        },
        "applicationId": {
          "format": "uuid",
          "description": "Application ID",
          "type": "string"
        },
        "applicationName": {
          "description": "Application name",
          "type": "string"
        },
        "applicationDescription": {
          "description": "Application description",
          "type": "string"
        },
        "publisherName": {
          "description": "Publisher name",
          "type": "string"
        },
        "publisherId": {
          "format": "uuid",
          "description": "Publisher ID",
          "type": "string"
        },
        "learnMoreUrl": {
          "description": "Learn more URL",
          "type": "string"
        },
        "catalogVisibility": {
          "$ref": "#/definitions/CatalogVisibility"
        },
        "applicationVisibility": {
          "$ref": "#/definitions/ApplicationVisibility"
        },
        "lastError": {
          "$ref": "#/definitions/ErrorDetails"
        }
      },
      "additionalProperties": false
    },
    "TenantApplicationPackageContinuationResponse": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TenantApplicationPackage"
          }
        },
        "@odata.nextLink": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "TpsInstallRequestPayload": {
      "description": "Payload to be sent during installation of the package",
      "type": "object",
      "properties": {
        "payloadValue": {
          "type": "string"
        }
      },
      "additionalProperties": false
    }
  },
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize?resource=https://api.powerplatform.com",
      "scopes": {
        ".default": ".default"
      },
      "description": "Microsoft Entra ID OAuth2"
    }
  },
  "security": [
    {
      "oauth2": [
        ".default"
      ]
    }
  ]
}