{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Power Platform REST API - environmentmanagement",
    "description": "Unified API for all administrative capabilities in Microsoft Power Platform.",
    "version": "2024-10-01"
  },
  "host": "api.powerplatform.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/environmentmanagement/environments/{environmentId}/settings": {
      "post": {
        "tags": [
          "EnvironmentManagementSettings"
        ],
        "summary": "Create environment management settings.",
        "operationId": "CreateEnvironmentManagementSettings",
        "consumes": [
          "application/json;odata.metadata=minimal;odata.streaming=true",
          "application/json;odata.metadata=minimal;odata.streaming=false",
          "application/json;odata.metadata=minimal",
          "application/json;odata.metadata=full;odata.streaming=true",
          "application/json;odata.metadata=full;odata.streaming=false",
          "application/json;odata.metadata=full",
          "application/json;odata.metadata=none;odata.streaming=true",
          "application/json;odata.metadata=none;odata.streaming=false",
          "application/json;odata.metadata=none",
          "application/json;odata.streaming=true",
          "application/json;odata.streaming=false",
          "application/json",
          "application/xml",
          "application/prs.odatatestxx-odata",
          "application/json-patch+json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json;odata.metadata=minimal;odata.streaming=true",
          "application/json;odata.metadata=minimal;odata.streaming=false",
          "application/json;odata.metadata=minimal",
          "application/json;odata.metadata=full;odata.streaming=true",
          "application/json;odata.metadata=full;odata.streaming=false",
          "application/json;odata.metadata=full",
          "application/json;odata.metadata=none;odata.streaming=true",
          "application/json;odata.metadata=none;odata.streaming=false",
          "application/json;odata.metadata=none",
          "application/json;odata.streaming=true",
          "application/json;odata.streaming=false",
          "application/json",
          "application/xml",
          "application/prs.odatatestxx-odata",
          "text/plain",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Payload for the environment management setting",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateEnvironmentManagementSettingResponse"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/CreateEnvironmentManagementSettingResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/CreateEnvironmentManagementSettingResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "EnvironmentManagementSettings"
        ],
        "summary": "Get environment management setting by ID.",
        "operationId": "ListEnvironmentManagementSettings",
        "produces": [
          "application/json;odata.metadata=minimal;odata.streaming=true",
          "application/json;odata.metadata=minimal;odata.streaming=false",
          "application/json;odata.metadata=minimal",
          "application/json;odata.metadata=full;odata.streaming=true",
          "application/json;odata.metadata=full;odata.streaming=false",
          "application/json;odata.metadata=full",
          "application/json;odata.metadata=none;odata.streaming=true",
          "application/json;odata.metadata=none;odata.streaming=false",
          "application/json;odata.metadata=none",
          "application/json;odata.streaming=true",
          "application/json;odata.streaming=false",
          "application/json",
          "application/xml",
          "application/prs.odatatestxx-odata",
          "text/plain",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "ID for the environment management setting.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Number of records to retrieve. Defaults to 500 if not set.",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "List of properties to select for this entity.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetEnvironmentManagementSettingResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/GetEnvironmentManagementSettingResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GetEnvironmentManagementSettingResponse"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/GetEnvironmentManagementSettingResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "EnvironmentManagementSettings"
        ],
        "summary": "Update fields on the environment management setting.",
        "operationId": "UpdateEnvironmentManagementSettings",
        "consumes": [
          "application/json;odata.metadata=minimal;odata.streaming=true",
          "application/json;odata.metadata=minimal;odata.streaming=false",
          "application/json;odata.metadata=minimal",
          "application/json;odata.metadata=full;odata.streaming=true",
          "application/json;odata.metadata=full;odata.streaming=false",
          "application/json;odata.metadata=full",
          "application/json;odata.metadata=none;odata.streaming=true",
          "application/json;odata.metadata=none;odata.streaming=false",
          "application/json;odata.metadata=none",
          "application/json;odata.streaming=true",
          "application/json;odata.streaming=false",
          "application/json",
          "application/xml",
          "application/prs.odatatestxx-odata",
          "application/json-patch+json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json;odata.metadata=minimal;odata.streaming=true",
          "application/json;odata.metadata=minimal;odata.streaming=false",
          "application/json;odata.metadata=minimal",
          "application/json;odata.metadata=full;odata.streaming=true",
          "application/json;odata.metadata=full;odata.streaming=false",
          "application/json;odata.metadata=full",
          "application/json;odata.metadata=none;odata.streaming=true",
          "application/json;odata.metadata=none;odata.streaming=false",
          "application/json;odata.metadata=none",
          "application/json;odata.streaming=true",
          "application/json;odata.streaming=false",
          "application/json",
          "application/xml",
          "application/prs.odatatestxx-odata",
          "text/plain",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID for the environment management setting being updated.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Details on the environment management setting to be updated",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "412": {
            "description": "Precondition Failed",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          }
        }
      }
    },
    "/environmentmanagement/environments/{environmentId}/backups": {
      "post": {
        "tags": [
          "EnvironmentBackup"
        ],
        "summary": "Creates a backup of the specified environment.",
        "description": "Creates a backup of the specified environment.",
        "operationId": "CreateEnvironmentBackup",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of the environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Request detail to create backup.",
            "schema": {
              "$ref": "#/definitions/CreateBackupRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EnvironmentBackup"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Backup.Write"
      },
      "get": {
        "tags": [
          "EnvironmentBackup"
        ],
        "summary": "Gets the list of backups for the specified environment.",
        "description": "Gets the backups for the specified environment.",
        "operationId": "GetEnvironmentBackups",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of the environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvironmentBackupPagedCollection"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Backup.Read"
      }
    },
    "/environmentmanagement/environments/{environmentId}/backups/{backupId}": {
      "delete": {
        "tags": [
          "EnvironmentBackup"
        ],
        "summary": "Deletes the specified backup.",
        "description": "Deletes the specified backup.",
        "operationId": "DeleteEnvironmentBackup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of the environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "backupId",
            "description": "The ID of the backup.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Backup.Delete"
      }
    },
    "/environmentmanagement/environments/{environmentId}/businessContinuityStateFullSnapshot": {
      "get": {
        "tags": [
          "Failover"
        ],
        "summary": "Gets the full business continuity state snapshot for the specified environment.",
        "description": "Gets business continuity snapshot including LastSyncTime.",
        "operationId": "GetBusinessContinuityStateFullSnapshot",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of the environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BusinessContinuityStateFullSnapshot"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Failover.Read"
      }
    },
    "/environmentmanagement/environments/{environmentId}/disableDisasterRecovery": {
      "post": {
        "tags": [
          "Failover"
        ],
        "summary": "Disables disaster recovery on the specified environment.",
        "description": "Disables disaster recovery on the specified environment.",
        "operationId": "DisableDisasterRecovery",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of the environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "When true, validates the request without executing it. Use with validateProperties to validate only specific fields. If validateProperties is empty, the entire request is validated. Defaults to false (validate and execute).",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "A comma-separated list of property names to validate (for example, \"property1,property2\"). Applies only when validateOnly is true.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Failover.Write"
      }
    },
    "/environmentmanagement/environments/{environmentId}/disasterRecoveryDrill": {
      "post": {
        "tags": [
          "Failover"
        ],
        "summary": "Performs DR Drill for the specified environment.",
        "description": "Performs DR Drill for the specified environment.",
        "operationId": "PerformDRDrill",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of the environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "When true, validates the request without executing it. Use with validateProperties to validate only specific fields. If validateProperties is empty, the entire request is validated. Defaults to false (validate and execute).",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "A comma-separated list of property names to validate (for example, \"property1,property2\"). Applies only when validateOnly is true.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Failover.Write"
      }
    },
    "/environmentmanagement/environments/{environmentId}/enableDisasterRecovery": {
      "post": {
        "tags": [
          "Failover"
        ],
        "summary": "Enables disaster recovery on the specified environment.",
        "description": "Enables disaster recovery on the specified environment.",
        "operationId": "EnableDisasterRecovery",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of the environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "When true, validates the request without executing it. Use with validateProperties to validate only specific fields. If validateProperties is empty, the entire request is validated. Defaults to false (validate and execute).",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "A comma-separated list of property names to validate (for example, \"property1,property2\"). Applies only when validateOnly is true.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Failover.Write"
      }
    },
    "/environmentmanagement/environments/{environmentId}/failback": {
      "post": {
        "tags": [
          "Failover"
        ],
        "summary": "Performs failback for the specified environment.",
        "description": "Performs failback for the specified environment, switching it back from its current (paired) region to its original primary region. This is the inverse of force failover.",
        "operationId": "PerformFailback",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of the environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "When true, validates the request without executing it. Use with validateProperties to validate only specific fields. If validateProperties is empty, the entire request is validated. Defaults to false (validate and execute).",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "A comma-separated list of property names to validate (for example, \"property1,property2\"). Applies only when validateOnly is true.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Failover.Write"
      }
    },
    "/environmentmanagement/environments/{environmentId}/forceFailover": {
      "post": {
        "tags": [
          "Failover"
        ],
        "summary": "Performs force failover for the specified environment.",
        "description": "Fails over environment to its paired region as of LastSyncTime.",
        "operationId": "PerformForceFailover",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of the environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "When true, validates the request without executing it. Use with validateProperties to validate only specific fields. If validateProperties is empty, the entire request is validated. Defaults to false (validate and execute).",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "A comma-separated list of property names to validate (for example, \"property1,property2\"). Applies only when validateOnly is true.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The force failover request.",
            "schema": {
              "$ref": "#/definitions/ForceFailoverRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Failover.Write"
      }
    },
    "/environmentmanagement/environments/{environmentId}/governanceSetting/disableManaged": {
      "post": {
        "tags": [
          "EnvironmentManagedGovernance"
        ],
        "summary": "Disables managed governance for the specified environment.",
        "description": "Disables managed governance for the specified environment.",
        "operationId": "DisableManagedEnvironment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of the environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "When true, validates the request without executing it. Use with validateProperties to validate only specific fields. If validateProperties is empty, the entire request is validated. Defaults to false (validate and execute).",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "A comma-separated list of property names to validate (for example, \"property1,property2\"). Applies only when validateOnly is true.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.ManageGovernance.Write"
      }
    },
    "/environmentmanagement/environments/{environmentId}/governanceSetting/enableManaged": {
      "post": {
        "tags": [
          "EnvironmentManagedGovernance"
        ],
        "summary": "Enables managed governance for the specified environment.",
        "description": "Enables managed governance for the specified environment.",
        "operationId": "EnableManagedEnvironment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of the environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "When true, validates the request without executing it. Use with validateProperties to validate only specific fields. If validateProperties is empty, the entire request is validated. Defaults to false (validate and execute).",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "A comma-separated list of property names to validate (for example, \"property1,property2\"). Applies only when validateOnly is true.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.ManageGovernance.Write"
      }
    },
    "/environmentmanagement/environments/{environmentId}/modifySku": {
      "post": {
        "tags": [
          "ModifyEnvironmentSku"
        ],
        "summary": "Modifies SKU for the specified environment.",
        "description": "Modifies SKU for the specified environment.",
        "operationId": "ModifyEnvironmentSku",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of the environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "When true, validates the request without executing it. Use with validateProperties to validate only specific fields. If validateProperties is empty, the entire request is validated. Defaults to false (validate and execute).",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "A comma-separated list of property names to validate (for example, \"property1,property2\"). Applies only when validateOnly is true.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The request body.",
            "schema": {
              "$ref": "#/definitions/ModifyEnvironmentSkuRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Sku.Write"
      }
    },
    "/environmentmanagement/environments/{environmentId}/operations": {
      "get": {
        "tags": [
          "Operation"
        ],
        "summary": "Gets the list of environment lifecycle operations for a specific environment.",
        "description": "Lists the environment lifecycle operations for a specific environment.",
        "operationId": "GetOperationsForEnvironment",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of the environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The maximum number of records to return per request. Must be a positive integer; a server default applies if omitted.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "An opaque token returned by a previous response, used to fetch the next page of results. Omit to retrieve the first page.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationExecutionResultPagedCollection"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Operation.Read"
      }
    },
    "/environmentmanagement/environments/{environmentId}/recover": {
      "post": {
        "tags": [
          "EnvironmentRecover"
        ],
        "summary": "Recovers the deleted environment.",
        "description": "Recover the deleted environment.",
        "operationId": "RecoverEnvironment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of the environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "When true, validates the request without executing it. Use with validateProperties to validate only specific fields. If validateProperties is empty, the entire request is validated. Defaults to false (validate and execute).",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "A comma-separated list of property names to validate (for example, \"property1,property2\"). Applies only when validateOnly is true.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Recover.Write"
      }
    },
    "/environmentmanagement/environments/{environmentId}/reset": {
      "post": {
        "tags": [
          "EnvironmentReset"
        ],
        "summary": "Resets the environment.",
        "description": "Resets the specified environment.",
        "operationId": "ResetEnvironment",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of the environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "When true, validates the request without executing it. Use with validateProperties to validate only specific fields. If validateProperties is empty, the entire request is validated. Defaults to false (validate and execute).",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "A comma-separated list of property names to validate (for example, \"property1,property2\"). Applies only when validateOnly is true.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The reset request specifying the settings to reset the environment to.",
            "schema": {
              "$ref": "#/definitions/ResetRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Reset.Write"
      }
    },
    "/environmentmanagement/environments/{sourceEnvironmentId}/copyCandidates": {
      "get": {
        "tags": [
          "EnvironmentCopy"
        ],
        "summary": "Gets the list of environments that can be copied as the target environment.",
        "description": "Gets the list of environments that can be copied as the target environment.",
        "operationId": "GetEnvironmentCopyCandidates",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "sourceEnvironmentId",
            "description": "The ID of the source environment to copy from.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "When true, validates the request without executing it. Use with validateProperties to validate only specific fields. If validateProperties is empty, the entire request is validated. Defaults to false (validate and execute).",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "A comma-separated list of property names to validate (for example, \"property1,property2\"). Applies only when validateOnly is true.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvironmentPagedCollection"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Copy.Read"
      }
    },
    "/environmentmanagement/environments/{sourceEnvironmentId}/restoreCandidates": {
      "get": {
        "tags": [
          "EnvironmentRestore"
        ],
        "summary": "Gets the list of restore candidates for the specified environment.",
        "description": "Gets the list of restore candidates when restore from the specified environment.",
        "operationId": "GetRestoreCandidates",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "sourceEnvironmentId",
            "description": "The ID of the source environment to restore from.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "When true, validates the request without executing it. Use with validateProperties to validate only specific fields. If validateProperties is empty, the entire request is validated. Defaults to false (validate and execute).",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "A comma-separated list of property names to validate (for example, \"property1,property2\"). Applies only when validateOnly is true.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvironmentPagedCollection"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Restore.Read"
      }
    },
    "/environmentmanagement/environments/{targetEnvironmentId}/copy": {
      "post": {
        "tags": [
          "EnvironmentCopy"
        ],
        "summary": "Copy the environment from the specified source to the target.",
        "description": "Copy the environment from the specified source to the target.",
        "operationId": "CopyEnvironment",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "targetEnvironmentId",
            "description": "The ID of the target environment that will be overwritten.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "When true, validates the request without executing it. Use with validateProperties to validate only specific fields. If validateProperties is empty, the entire request is validated. Defaults to false (validate and execute).",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "A comma-separated list of property names to validate (for example, \"property1,property2\"). Applies only when validateOnly is true.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The request body.",
            "schema": {
              "$ref": "#/definitions/CopyRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Copy.Write"
      }
    },
    "/environmentmanagement/environments/{targetEnvironmentId}/operations/{operationId}": {
      "get": {
        "tags": [
          "Operation"
        ],
        "summary": "Gets the status of a lifecycle operation scoped to a specific environment.",
        "description": "Gets the status of an environment lifecycle operation scoped under a specific environment, enabling environment-level authorization on the operation lookup.",
        "operationId": "GetEnvironmentOperationByID",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "targetEnvironmentId",
            "description": "The ID of the target environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "operationId",
            "description": "The ID of the operation.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationExecutionResult"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{targetEnvironmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Operation.Read"
      }
    },
    "/environmentmanagement/environments/{targetEnvironmentId}/restore": {
      "post": {
        "tags": [
          "EnvironmentRestore"
        ],
        "summary": "Restores the specified environment to a previous backup.",
        "description": "Restores the specified environment to a previous backup.",
        "operationId": "RestoreEnvironment",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "targetEnvironmentId",
            "description": "The ID of the target environment that will be overwritten.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "When true, validates the request without executing it. Use with validateProperties to validate only specific fields. If validateProperties is empty, the entire request is validated. Defaults to false (validate and execute).",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "A comma-separated list of property names to validate (for example, \"property1,property2\"). Applies only when validateOnly is true.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The environment restore request.",
            "schema": {
              "$ref": "#/definitions/RestoreRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Restore.Write"
      }
    },
    "/environmentmanagement/operations/{operationId}": {
      "get": {
        "tags": [
          "Operation"
        ],
        "summary": "Gets the status of an environment lifecycle operation.",
        "description": "Gets the status of an environment lifecycle operation.",
        "operationId": "GetOperationByID",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "operationId",
            "description": "The ID of the operation.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationExecutionResult"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Operation.Read"
      }
    },
    "/environmentmanagement/provisioning/environments": {
      "post": {
        "tags": [
          "EnvironmentProvisioning"
        ],
        "summary": "Provisions a new environment.",
        "description": "Provisions a new environment.",
        "operationId": "ProvisionNewEnvironment",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The environment creation request.",
            "schema": {
              "$ref": "#/definitions/CreateEnvironmentRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/OperationExecutionResult"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Provisioning.Write"
      }
    },
    "/environmentmanagement/provisioning/environments/{environmentId}/link": {
      "patch": {
        "tags": [
          "EnvironmentProvisioning"
        ],
        "summary": "Links a Dataverse instance to an existing environment.",
        "description": "Links a Dataverse instance to an existing environment.",
        "operationId": "LinkDataverse",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of the environment to link Dataverse to.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The linked environment metadata.",
            "schema": {
              "$ref": "#/definitions/CreateEnvironmentRequestLinkedMetadata"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Provisioning.Write"
      }
    },
    "/environmentmanagement/provisioning/locations": {
      "get": {
        "tags": [
          "EnvironmentProvisioning"
        ],
        "summary": "Gets the list of supported locations for environment provisioning.",
        "description": "Gets the list of supported locations for environment provisioning.",
        "operationId": "GetSupportedLocations",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProvisioningLocations"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Provisioning.Read"
      }
    },
    "/environmentmanagement/provisioning/locations/{location}/currencies": {
      "get": {
        "tags": [
          "EnvironmentProvisioning"
        ],
        "summary": "Gets the list of available currencies for provisioning in a location.",
        "description": "Retrieves available currencies for environment provisioning in a location.",
        "operationId": "GetProvisioningCurrencies",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "location",
            "description": "The location name.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvironmentCurrencyResourceCollection"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Provisioning.Read"
      }
    },
    "/environmentmanagement/provisioning/locations/{location}/languages": {
      "get": {
        "tags": [
          "EnvironmentProvisioning"
        ],
        "summary": "Gets the list of available languages for provisioning in a location.",
        "description": "Retrieves available languages for environment provisioning in a location.",
        "operationId": "GetProvisioningLanguages",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "location",
            "description": "The location name.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvironmentLanguageResourceCollection"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Provisioning.Read"
      }
    },
    "/environmentmanagement/provisioning/locations/{location}/templates": {
      "get": {
        "tags": [
          "EnvironmentProvisioning"
        ],
        "summary": "Gets the list of available templates for provisioning in a location.",
        "description": "Retrieves available templates for environment provisioning in a location.",
        "operationId": "GetProvisioningTemplates",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "location",
            "description": "The location name.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvironmentTemplateResourceCollection"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Provisioning.Read"
      }
    },
    "/environmentmanagement/environmentGroupOperations/{operationId}": {
      "get": {
        "tags": [
          "EnvironmentGroups"
        ],
        "summary": "Get operation status.",
        "operationId": "GetEnvironmentGroupOperation",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "operationId",
            "description": "The operation ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/environmentmanagement/environmentGroups": {
      "post": {
        "tags": [
          "EnvironmentGroups"
        ],
        "summary": "Create the environment group.",
        "operationId": "CreateEnvironmentGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The group.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvironmentGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EnvironmentGroup"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      },
      "get": {
        "tags": [
          "EnvironmentGroups"
        ],
        "summary": "List the environment groups.",
        "operationId": "ListEnvironmentGroups",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EnvironmentGroupResponseWithOdataContinuation"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/environmentmanagement/environmentGroups/{groupId}": {
      "get": {
        "tags": [
          "EnvironmentGroups"
        ],
        "summary": "Get the environment group.",
        "operationId": "GetEnvironmentGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "The group ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EnvironmentGroup"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      },
      "put": {
        "tags": [
          "EnvironmentGroups"
        ],
        "summary": "Update the environment group.",
        "operationId": "UpdateEnvironmentGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "The group ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The group.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvironmentGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EnvironmentGroup"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "EnvironmentGroups"
        ],
        "summary": "Delete the environment group.",
        "operationId": "DeleteEnvironmentGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "The group ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/environmentmanagement/environmentGroups/{groupId}/addEnvironment/{environmentId}": {
      "post": {
        "tags": [
          "EnvironmentGroups"
        ],
        "summary": "Add the environment to the environment group.",
        "operationId": "AddEnvironmentToGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "The group ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/environmentmanagement/environmentGroups/{groupId}/removeEnvironment/{environmentId}": {
      "post": {
        "tags": [
          "EnvironmentGroups"
        ],
        "summary": "Remove the environment from the environment group.",
        "operationId": "RemoveEnvironmentFromGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "The group ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/environmentmanagement/environments": {
      "get": {
        "tags": [
          "Environments"
        ],
        "summary": "Retrieve a list of environments (preview).",
        "description": "Returns a list of environments available for the authenticated user.",
        "operationId": "ListEnvironmentsForUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "ids",
            "description": "Comma-separated list of environment IDs to retrieve. When specified, only environments matching these IDs are returned.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "OData filter expression to restrict the set of environments returned. Supported filter properties include `dataverseId`, `type`, `geo`, `state`, `environmentGroupId`, and `domainName`.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Comma-separated list of properties to include in the response.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Maximum number of environments to return.",
            "type": "integer",
            "minimum": 0
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "Number of environments to skip before returning results.",
            "type": "integer",
            "minimum": 0
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "OData order-by expression for sorting the results.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of environments.",
            "schema": {
              "$ref": "#/definitions/EnvironmentList"
            }
          }
        }
      }
    },
    "/environmentmanagement/environments/{environmentId}": {
      "get": {
        "tags": [
          "Environments"
        ],
        "summary": "Retrieves a single environment by ID (preview).",
        "operationId": "GetEnvironmentByIdForUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Comma-separated list of properties to include in the response.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EnvironmentResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "EnvironmentDelete"
        ],
        "summary": "Deletes the specified environment by ID.",
        "description": "Deletes the specified environment by ID.",
        "operationId": "DeleteEnvironmentByID",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of the environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "When true, validates the request without executing it. Use with validateProperties to validate only specific fields. If validateProperties is empty, the entire request is validated. Defaults to false (validate and execute).",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "A comma-separated list of property names to validate (for example, \"property1,property2\"). Applies only when validateOnly is true.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Environment.Delete"
      }
    }
  },
  "definitions": {
    "CreateEnvironmentManagementSettingResponse": {
      "description": "Represents the response object for APIs in this service.",
      "type": "object",
      "properties": {
        "objectResult": {
          "description": "Gets or sets the ID of the entity being created in the response",
          "type": "string"
        },
        "errors": {
          "$ref": "#/definitions/EnvironmentServiceErrorResponse"
        },
        "nextLink": {
          "format": "uri",
          "description": "Gets or sets the next link if there are more records to be returned",
          "type": "string"
        },
        "responseMessage": {
          "description": "Gets or sets the error message.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "EnvironmentManagementSetting": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "tenantId": {
          "format": "uuid",
          "type": "string"
        },
        "enableIpBasedStorageAccessSignatureRule": {
          "type": "boolean"
        },
        "allowedIpRangeForStorageAccessSignatures": {
          "type": "string"
        },
        "ipBasedStorageAccessSignatureMode": {
          "format": "int32",
          "type": "integer"
        },
        "loggingEnabledForIpBasedStorageAccessSignature": {
          "type": "boolean"
        },
        "powerPages_AllowMakerCopilotsForNewSites": {
          "type": "string"
        },
        "powerPages_AllowMakerCopilotsForExistingSites": {
          "type": "string"
        },
        "powerPages_AllowProDevCopilotsForSites": {
          "type": "string"
        },
        "powerPages_AllowSiteCopilotForSites": {
          "type": "string"
        },
        "powerPages_AllowSearchSummaryCopilotForSites": {
          "type": "string"
        },
        "powerPages_AllowListSummaryCopilotForSites": {
          "type": "string"
        },
        "powerPages_AllowIntelligentFormsCopilotForSites": {
          "type": "string"
        },
        "powerPages_AllowSummarizationAPICopilotForSites": {
          "type": "string"
        },
        "powerPages_AllowNonProdPublicSites": {
          "type": "string"
        },
        "powerPages_AllowNonProdPublicSites_Exemptions": {
          "type": "string"
        },
        "powerPages_AllowProDevCopilotsForEnvironment": {
          "type": "string"
        },
        "powerApps_ChartVisualization": {
          "type": "boolean"
        },
        "powerApps_FormPredictSmartPaste": {
          "type": "boolean"
        },
        "powerApps_FormPredictAutomatic": {
          "type": "boolean"
        },
        "powerApps_CopilotChat": {
          "type": "boolean"
        },
        "powerApps_NLSearch": {
          "type": "boolean"
        },
        "powerApps_EnableFormInsights": {
          "type": "boolean"
        },
        "powerApps_AllowCodeApps": {
          "type": "boolean"
        },
        "copilotStudio_ConnectedAgents": {
          "type": "boolean"
        },
        "copilotStudio_CodeInterpreter": {
          "type": "boolean"
        },
        "copilotStudio_ConversationAuditLoggingEnabled": {
          "type": "boolean"
        },
        "d365CustomerService_Copilot": {
          "type": "boolean"
        },
        "d365CustomerService_AIAgents": {
          "type": "boolean"
        },
        "copilotStudio_ComputerUseAppAllowlist": {
          "type": "string"
        },
        "copilotStudio_ComputerUseWebAllowlist": {
          "type": "string"
        },
        "copilotStudio_ComputerUseSharedMachines": {
          "type": "boolean"
        },
        "copilotStudio_ComputerUseCredentialsAllowed": {
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "ErrorDetail": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "target": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "EnvironmentServiceErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          }
        }
      },
      "additionalProperties": false
    },
    "GetEnvironmentManagementSettingResponse": {
      "description": "Represents the response object for APIs in this service.",
      "type": "object",
      "properties": {
        "objectResult": {
          "description": "Gets or sets the fields for the entities being queried.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnvironmentManagementSetting"
          }
        },
        "errors": {
          "$ref": "#/definitions/EnvironmentServiceErrorResponse"
        },
        "nextLink": {
          "format": "uri",
          "description": "Gets or sets the next link if there are more records to be returned",
          "type": "string"
        },
        "responseMessage": {
          "description": "Gets or sets the error message.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "EnterprisePolicyLinkStatus": {
      "description": "The status of the link between an environment and an enterprise policy.",
      "enum": [
        "Linking",
        "Unlinking",
        "Linked",
        "Failed",
        "LinkingOnline",
        "UnlinkingOnline"
      ],
      "type": "string"
    },
    "EnterprisePolicyLink": {
      "description": "A link between the environment and an Azure enterprise policy resource.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the enterprise policy.",
          "type": "string"
        },
        "resourceId": {
          "description": "The fully-qualified Azure resource ID of the enterprise policy.",
          "type": "string"
        },
        "status": {
          "$ref": "#/definitions/EnterprisePolicyLinkStatus"
        },
        "error": {
          "description": "Error details when the link status is Failed.",
          "type": "string"
        }
      }
    },
    "EnterprisePolicies": {
      "description": "The set of enterprise policies linked to the environment.",
      "type": "object",
      "properties": {
        "encryption": {
          "$ref": "#/definitions/EnterprisePolicyLink"
        },
        "identity": {
          "$ref": "#/definitions/EnterprisePolicyLink"
        },
        "networkInjection": {
          "$ref": "#/definitions/EnterprisePolicyLink"
        },
        "privateEndpoint": {
          "$ref": "#/definitions/EnterprisePolicyLink"
        }
      }
    },
    "FinOpsMetadata": {
      "description": "Metadata describing a linked FinOps environment.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The linked FinOps environment type.",
          "type": "string"
        },
        "id": {
          "description": "The linked FinOps environment ID.",
          "type": "string"
        },
        "url": {
          "description": "The linked FinOps environment URL.",
          "type": "string"
        }
      }
    },
    "EnvironmentPrincipal": {
      "description": "Represents a principal (user or application).",
      "type": "object",
      "properties": {
        "id": {
          "description": "The principal ID.",
          "type": "string"
        },
        "type": {
          "description": "The principal type.",
          "type": "string"
        }
      }
    },
    "EnvironmentResponse": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the environment.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the environment.",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the tenant that the environment belongs to.",
          "type": "string"
        },
        "type": {
          "description": "The type (SKU) of the environment.",
          "type": "string"
        },
        "geo": {
          "description": "The geographical region of the environment.",
          "type": "string"
        },
        "environmentGroupId": {
          "description": "The ID of the environment group to which this environment belongs.",
          "type": "string"
        },
        "azureRegion": {
          "description": "The Azure region of the environment.",
          "type": "string"
        },
        "clusterCategory": {
          "description": "The cluster category the environment is in.",
          "type": "string"
        },
        "createdBy": {
          "$ref": "#/definitions/EnvironmentPrincipal"
        },
        "createdFor": {
          "$ref": "#/definitions/EnvironmentPrincipal"
        },
        "createdDateTime": {
          "format": "date-time",
          "description": "The creation date and time of the environment.",
          "type": "string"
        },
        "deletedDateTime": {
          "format": "date-time",
          "description": "The deletion date and time of the environment.",
          "type": "string"
        },
        "dataverseId": {
          "description": "The ID of the Dataverse database (organization) associated with the environment.",
          "type": "string"
        },
        "url": {
          "description": "The URL of the Dataverse database associated with the environment.",
          "type": "string"
        },
        "version": {
          "description": "The version of the Dataverse database associated with the environment.",
          "type": "string"
        },
        "domainName": {
          "description": "The domain name of the Dataverse database associated with the environment.",
          "type": "string"
        },
        "securityGroupId": {
          "description": "The security group that controls access to the environment.",
          "type": "string"
        },
        "connectedGroupId": {
          "description": "The ID of the AAD group connected to the environment.",
          "type": "string"
        },
        "state": {
          "description": "The current state of the environment.",
          "type": "string"
        },
        "adminMode": {
          "description": "Indicates whether admin-only mode is enabled or disabled for the environment.",
          "type": "string"
        },
        "backgroundOperationsState": {
          "description": "Indicates whether background operations are enabled or disabled for the environment.",
          "type": "string"
        },
        "protectionLevel": {
          "description": "The protection level applied to the environment.",
          "type": "string"
        },
        "retentionDetails": {
          "description": "The retention details of the environment.",
          "type": "object",
          "properties": {
            "retentionPeriod": {
              "description": "The retention period of the environment.",
              "type": "string"
            },
            "availableFromDateTime": {
              "format": "date-time",
              "description": "The date and time from which the environment is available for recovery.",
              "type": "string"
            }
          }
        },
        "finOpsMetadata": {
          "$ref": "#/definitions/FinOpsMetadata"
        },
        "enterprisePolicies": {
          "$ref": "#/definitions/EnterprisePolicies"
        },
        "scenarioName": {
          "description": "The scenario name associated with the environment (for example, singleton scenario type).",
          "type": "string"
        }
      }
    },
    "EnvironmentList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnvironmentResponse"
          }
        },
        "@odata.nextlink": {
          "format": "uri",
          "description": "Opaque URL to retrieve the next page of results. Present only when additional pages are available.",
          "type": "string"
        }
      }
    },
    "Principal": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "tenantId": {
          "type": "string"
        },
        "userPrincipalName": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "ProblemDetails": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "status": {
          "format": "int32",
          "type": "integer"
        },
        "detail": {
          "type": "string"
        },
        "instance": {
          "type": "string"
        },
        "extensions": {
          "type": "object",
          "additionalProperties": {},
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "EnvironmentGroupResponseWithOdataContinuation": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnvironmentGroup"
          }
        },
        "@odata.nextLink": {
          "type": "string"
        }
      },
[...]
