{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Power Platform REST API",
    "description": "Unified API for all administrative capabilities in Microsoft Power Platform",
    "version": "2022-03-01-preview"
  },
  "host": "api.powerplatform.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/environmentmanagement/environmentGroups/{groupId}": {
      "get": {
        "tags": [
          "EnvironmentGroups"
        ],
        "summary": "Get the environment group.",
        "operationId": "GetEnvironmentGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "The group Id.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EnvironmentGroup"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      },
      "put": {
        "tags": [
          "EnvironmentGroups"
        ],
        "summary": "Update the environment group.",
        "operationId": "UpdateEnvironmentGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "The group Id.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The group.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvironmentGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EnvironmentGroup"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "EnvironmentGroups"
        ],
        "summary": "Delete the environment group.",
        "operationId": "DeleteEnvironmentGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "The group Id.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/environmentmanagement/environmentGroups": {
      "get": {
        "tags": [
          "EnvironmentGroups"
        ],
        "summary": "List the environment groups.",
        "operationId": "ListEnvironmentGroups",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EnvironmentGroupResponseWithOdataContinuation"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      },
      "post": {
        "tags": [
          "EnvironmentGroups"
        ],
        "summary": "Create the environment group.",
        "operationId": "CreateEnvironmentGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The group.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvironmentGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EnvironmentGroup"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/environmentmanagement/environmentGroups/{groupId}/addEnvironment/{environmentId}": {
      "post": {
        "tags": [
          "EnvironmentGroups"
        ],
        "summary": "Add the environment to the environment group.",
        "operationId": "AddEnvironmentToGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "The group Id.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment Id.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/environmentmanagement/environmentGroups/{groupId}/removeEnvironment/{environmentId}": {
      "post": {
        "tags": [
          "EnvironmentGroups"
        ],
        "summary": "Remove the environment from the environment group.",
        "operationId": "RemoveEnvironmentFromGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "The group Id.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment Id.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/environmentmanagement/environmentGroupOperations/{operationId}": {
      "get": {
        "tags": [
          "EnvironmentGroups"
        ],
        "summary": "Get Operation Status.",
        "operationId": "GetEnvironmentGroupOperation",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "operationId",
            "description": "The operation id.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/EnvironmentManagement/Environments/{environmentId}/Settings": {
      "post": {
        "tags": [
          "EnvironmentManagementSettings"
        ],
        "summary": "Create Environment Management Settings",
        "operationId": "CreateEnvironmentManagementSettings",
        "consumes": [
          "application/json;odata.metadata=minimal;odata.streaming=true",
          "application/json;odata.metadata=minimal;odata.streaming=false",
          "application/json;odata.metadata=minimal",
          "application/json;odata.metadata=full;odata.streaming=true",
          "application/json;odata.metadata=full;odata.streaming=false",
          "application/json;odata.metadata=full",
          "application/json;odata.metadata=none;odata.streaming=true",
          "application/json;odata.metadata=none;odata.streaming=false",
          "application/json;odata.metadata=none",
          "application/json;odata.streaming=true",
          "application/json;odata.streaming=false",
          "application/json",
          "application/xml",
          "application/prs.odatatestxx-odata",
          "application/json-patch+json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json;odata.metadata=minimal;odata.streaming=true",
          "application/json;odata.metadata=minimal;odata.streaming=false",
          "application/json;odata.metadata=minimal",
          "application/json;odata.metadata=full;odata.streaming=true",
          "application/json;odata.metadata=full;odata.streaming=false",
          "application/json;odata.metadata=full",
          "application/json;odata.metadata=none;odata.streaming=true",
          "application/json;odata.metadata=none;odata.streaming=false",
          "application/json;odata.metadata=none",
          "application/json;odata.streaming=true",
          "application/json;odata.streaming=false",
          "application/json",
          "application/xml",
          "application/prs.odatatestxx-odata",
          "text/plain",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Payload for the Environment Management Setting",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateEnvironmentManagementSettingResponse"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/CreateEnvironmentManagementSettingResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/CreateEnvironmentManagementSettingResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "EnvironmentManagementSettings"
        ],
        "summary": "Gets Environment Management Setting by Id.  Only columns provided in the $select queryOption will be returned.\r\nA list of selectable properties is defined in the Microsoft.Dynamics.Artemis.Infrastructure.Models.EnvironmentManagementSetting type.",
        "operationId": "ListEnvironmentManagementSettings",
        "produces": [
          "application/json;odata.metadata=minimal;odata.streaming=true",
          "application/json;odata.metadata=minimal;odata.streaming=false",
          "application/json;odata.metadata=minimal",
          "application/json;odata.metadata=full;odata.streaming=true",
          "application/json;odata.metadata=full;odata.streaming=false",
          "application/json;odata.metadata=full",
          "application/json;odata.metadata=none;odata.streaming=true",
          "application/json;odata.metadata=none;odata.streaming=false",
          "application/json;odata.metadata=none",
          "application/json;odata.streaming=true",
          "application/json;odata.streaming=false",
          "application/json",
          "application/xml",
          "application/prs.odatatestxx-odata",
          "text/plain",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "Id for the EnvironmentManagementSetting",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Number of records to retrieve. If not set, 500 records are returned.",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "List of properties to select for this entity.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetEnvironmentManagementSettingResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/GetEnvironmentManagementSettingResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GetEnvironmentManagementSettingResponse"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/GetEnvironmentManagementSettingResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "EnvironmentManagementSettings"
        ],
        "summary": "Updates fields on a EnvironmentManagementSetting. This API currently doesn't return any entity data in the response body.",
        "operationId": "UpdateEnvironmentManagementSettings",
        "consumes": [
          "application/json;odata.metadata=minimal;odata.streaming=true",
          "application/json;odata.metadata=minimal;odata.streaming=false",
          "application/json;odata.metadata=minimal",
          "application/json;odata.metadata=full;odata.streaming=true",
          "application/json;odata.metadata=full;odata.streaming=false",
          "application/json;odata.metadata=full",
          "application/json;odata.metadata=none;odata.streaming=true",
          "application/json;odata.metadata=none;odata.streaming=false",
          "application/json;odata.metadata=none",
          "application/json;odata.streaming=true",
          "application/json;odata.streaming=false",
          "application/json",
          "application/xml",
          "application/prs.odatatestxx-odata",
          "application/json-patch+json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json;odata.metadata=minimal;odata.streaming=true",
          "application/json;odata.metadata=minimal;odata.streaming=false",
          "application/json;odata.metadata=minimal",
          "application/json;odata.metadata=full;odata.streaming=true",
          "application/json;odata.metadata=full;odata.streaming=false",
          "application/json;odata.metadata=full",
          "application/json;odata.metadata=none;odata.streaming=true",
          "application/json;odata.metadata=none;odata.streaming=false",
          "application/json;odata.metadata=none",
          "application/json;odata.streaming=true",
          "application/json;odata.streaming=false",
          "application/json",
          "application/xml",
          "application/prs.odatatestxx-odata",
          "text/plain",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The Id for the EnvironmentManagementSetting being updated",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Details on the EnvironmentManagementSetting to be updated",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "412": {
            "description": "Precondition Failed",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "EnvironmentGroup": {
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "parentGroupId": {
          "format": "uuid",
          "type": "string"
        },
        "childrenGroupIds": {
          "type": "array",
          "items": {
            "format": "uuid",
            "type": "string"
          }
        },
        "createdTime": {
          "format": "date-time",
          "type": "string"
        },
        "createdBy": {
          "$ref": "#/definitions/Principal"
        },
        "lastModifiedTime": {
          "format": "date-time",
          "type": "string"
        },
        "lastModifiedBy": {
          "$ref": "#/definitions/Principal"
        }
      },
      "additionalProperties": false
    },
    "EnvironmentGroupResponseWithOdataContinuation": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnvironmentGroup"
          }
        },
        "@odata.nextLink": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "ProblemDetails": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "status": {
          "format": "int32",
          "type": "integer"
        },
        "detail": {
          "type": "string"
        },
        "instance": {
          "type": "string"
        },
        "extensions": {
          "type": "object",
          "additionalProperties": { },
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Principal": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "tenantId": {
          "type": "string"
        },
        "userPrincipalName": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "AddressFamily": {
      "format": "int32",
      "enum": [
        0,
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14,
        15,
        16,
        17,
        18,
        19,
        21,
        22,
        23,
        24,
        25,
        26,
        28,
        29,
        65536,
        65537,
        -1
      ],
      "type": "integer"
    },
    "ApplyClause": {
      "type": "object",
      "properties": {
        "transformations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransformationNode"
          }
        }
      },
      "additionalProperties": false
    },
    "ApplyQueryOption": {
      "type": "object",
      "properties": {
        "context": {
          "$ref": "#/definitions/ODataQueryContext"
        },
        "resultClrType": {
          "type": "string",
          "readOnly": true
        },
        "applyClause": {
          "$ref": "#/definitions/ApplyClause"
        },
        "rawValue": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "AsnEncodedData": {
      "type": "object",
      "properties": {
        "oid": {
          "$ref": "#/definitions/Oid"
        },
        "rawData": {
          "format": "byte",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "AsymmetricAlgorithm": {
      "type": "object",
      "properties": {
        "keySize": {
          "format": "int32",
          "type": "integer"
        },
        "legalKeySizes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KeySizes"
          },
          "readOnly": true
        },
        "signatureAlgorithm": {
          "type": "string",
          "readOnly": true
        },
        "keyExchangeAlgorithm": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "AvailabilityZonesInfo": {
      "type": "object",
      "properties": {
        "supportsAvailabilityZones": {
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "AzureRegion": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "readOnly": true
        },
        "availabilityZonesInfo": {
          "$ref": "#/definitions/AvailabilityZonesInfo"
        }
      },
      "additionalProperties": false
    },
    "CancellationToken": {
      "type": "object",
      "properties": {
        "isCancellationRequested": {
          "type": "boolean",
          "readOnly": true
        },
        "canBeCanceled": {
          "type": "boolean",
          "readOnly": true
        },
        "waitHandle": {
          "$ref": "#/definitions/WaitHandle"
        }
      },
      "additionalProperties": false
    },
    "Claim": {
      "type": "object",
      "properties": {
        "issuer": {
          "type": "string"
        },
        "originalIssuer": {
          "type": "string"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "subject": {
          "$ref": "#/definitions/ClaimsIdentity"
        },
        "type": {
          "type": "string"
        },
        "value": {
          "type": "string"
        },
        "valueType": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "ClaimsIdentity": {
      "type": "object",
      "properties": {
        "authenticationType": {
          "type": "string"
        },
        "isAuthenticated": {
          "type": "boolean",
          "readOnly": true
        },
        "actor": {
          "$ref": "#/definitions/ClaimsIdentity"
        },
        "bootstrapContext": { },
        "claims": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Claim"
          }
        },
        "label": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "nameClaimType": {
          "type": "string",
          "readOnly": true
        },
        "roleClaimType": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "ClaimsPrincipal": {
      "type": "object",
      "properties": {
        "claims": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Claim"
          },
          "readOnly": true
        },
        "identities": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ClaimsIdentity"
          }
        },
        "identity": {
          "$ref": "#/definitions/IIdentity"
        }
      },
      "additionalProperties": false
    },
    "CombinedOrganizationLifecycleODataQueryOptions": {
      "type": "object",
      "properties": {
        "ifMatch": {
          "readOnly": true
        },
        "ifNoneMatch": {
          "readOnly": true
        },
        "request": {
          "$ref": "#/definitions/HttpRequest"
        },
        "context": {
          "$ref": "#/definitions/ODataQueryContext"
        },
        "rawValues": {
          "$ref": "#/definitions/ODataRawQueryOptions"
        },
        "selectExpand": {
          "$ref": "#/definitions/SelectExpandQueryOption"
        },
        "apply": {
          "$ref": "#/definitions/ApplyQueryOption"
        },
        "filter": {
          "$ref": "#/definitions/FilterQueryOption"
        },
        "orderBy": {
          "$ref": "#/definitions/OrderByQueryOption"
        },
        "skip": {
          "$ref": "#/definitions/SkipQueryOption"
        },
        "skipToken": {
          "$ref": "#/definitions/SkipTokenQueryOption"
        },
        "top": {
          "$ref": "#/definitions/TopQueryOption"
        },
        "count": {
          "$ref": "#/definitions/CountQueryOption"
        },
        "validator": {
          "$ref": "#/definitions/ODataQueryValidator"
        }
      },
      "additionalProperties": false
    },
    "ConnectionInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "remoteIpAddress": {
          "$ref": "#/definitions/IPAddress"
        },
        "remotePort": {
          "format": "int32",
          "type": "integer"
        },
        "localIpAddress": {
          "$ref": "#/definitions/IPAddress"
        },
        "localPort": {
          "format": "int32",
          "type": "integer"
        },
        "clientCertificate": {
          "$ref": "#/definitions/X509Certificate2"
        }
      },
      "additionalProperties": false
    },
    "ContactCenterChannelODataQueryOptions": {
      "type": "object",
      "properties": {
        "ifMatch": {
          "readOnly": true
        },
        "ifNoneMatch": {
          "readOnly": true
        },
        "request": {
          "$ref": "#/definitions/HttpRequest"
        },
        "context": {
          "$ref": "#/definitions/ODataQueryContext"
        },
        "rawValues": {
          "$ref": "#/definitions/ODataRawQueryOptions"
        },
        "selectExpand": {
          "$ref": "#/definitions/SelectExpandQueryOption"
        },
        "apply": {
          "$ref": "#/definitions/ApplyQueryOption"
        },
        "filter": {
          "$ref": "#/definitions/FilterQueryOption"
        },
        "orderBy": {
          "$ref": "#/definitions/OrderByQueryOption"
        },
        "skip": {
          "$ref": "#/definitions/SkipQueryOption"
        },
        "skipToken": {
          "$ref": "#/definitions/SkipTokenQueryOption"
        },
        "top": {
          "$ref": "#/definitions/TopQueryOption"
        },
        "count": {
          "$ref": "#/definitions/CountQueryOption"
        },
        "validator": {
          "$ref": "#/definitions/ODataQueryValidator"
        }
      },
      "additionalProperties": false
    },
    "ContactCenterODataQueryOptions": {
      "type": "object",
      "properties": {
        "ifMatch": {
          "readOnly": true
        },
        "ifNoneMatch": {
          "readOnly": true
        },
        "request": {
          "$ref": "#/definitions/HttpRequest"
        },
        "context": {
          "$ref": "#/definitions/ODataQueryContext"
        },
        "rawValues": {
          "$ref": "#/definitions/ODataRawQueryOptions"
        },
        "selectExpand": {
          "$ref": "#/definitions/SelectExpandQueryOption"
        },
        "apply": {
          "$ref": "#/definitions/ApplyQueryOption"
        },
        "filter": {
          "$ref": "#/definitions/FilterQueryOption"
        },
        "orderBy": {
          "$ref": "#/definitions/OrderByQueryOption"
        },
        "skip": {
          "$ref": "#/definitions/SkipQueryOption"
        },
        "skipToken": {
          "$ref": "#/definitions/SkipTokenQueryOption"
        },
        "top": {
          "$ref": "#/definitions/TopQueryOption"
        },
        "count": {
          "$ref": "#/definitions/CountQueryOption"
        },
        "validator": {
          "$ref": "#/definitions/ODataQueryValidator"
        }
      },
      "additionalProperties": false
    },
    "ContactCenterResourceODataQueryOptions": {
      "type": "object",
      "properties": {
        "ifMatch": {
          "readOnly": true
        },
        "ifNoneMatch": {
          "readOnly": true
        },
        "request": {
          "$ref": "#/definitions/HttpRequest"
        },
        "context": {
          "$ref": "#/definitions/ODataQueryContext"
        },
        "rawValues": {
          "$ref": "#/definitions/ODataRawQueryOptions"
        },
        "selectExpand": {
          "$ref": "#/definitions/SelectExpandQueryOption"
        },
        "apply": {
          "$ref": "#/definitions/ApplyQueryOption"
        },
        "filter": {
          "$ref": "#/definitions/FilterQueryOption"
        },
        "orderBy": {
          "$ref": "#/definitions/OrderByQueryOption"
        },
        "skip": {
          "$ref": "#/definitions/SkipQueryOption"
        },
        "skipToken": {
          "$ref": "#/definitions/SkipTokenQueryOption"
        },
        "top": {
          "$ref": "#/definitions/TopQueryOption"
        },
        "count": {
          "$ref": "#/definitions/CountQueryOption"
        },
        "validator": {
          "$ref": "#/definitions/ODataQueryValidator"
        }
      },
      "additionalProperties": false
    },
    "CountQueryOption": {
      "type": "object",
      "properties": {
        "context": {
          "$ref": "#/definitions/ODataQueryContext"
        },
        "rawValue": {
          "type": "string"
        },
        "value": {
          "type": "boolean",
          "readOnly": true
        },
        "validator": {
          "$ref": "#/definitions/CountQueryValidator"
        }
      },
      "additionalProperties": false
    },
    "CountQueryValidator": {
      "type": "object",
      "additionalProperties": false
    },
    "CreateEnvironmentManagementSettingResponse": {
      "description": "Represents the response object for APIs in this service.",
      "type": "object",
      "properties": {
        "objectResult": {
          "description": "Gets or sets the Id of the entity being created in the response",
          "type": "string"
        },
        "errors": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "nextLink": {
          "format": "uri",
          "description": "Gets or sets the nextLink if there are more records to be returned",
          "type": "string"
        },
        "responseMessage": {
          "description": "Gets or sets the error message.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "DatabaseIdentifier": {
      "required": [
        "azureRegion",
        "connectionString",
        "databaseName",
        "sqlServerName"
      ],
      "type": "object",
      "properties": {
        "databaseName": {
          "minLength": 1,
          "type": "string"
        },
        "sqlServerName": {
          "minLength": 1,
          "type": "string"
        },
        "connectionString": {
          "minLength": 1,
          "type": "string"
        },
        "azureRegion": {
          "$ref": "#/definitions/AzureRegion"
        }
      },
      "additionalProperties": false
    },
    "DefaultQuerySettings": {
      "type": "object",
      "properties": {
        "enableExpand": {
          "type": "boolean"
        },
        "enableSelect": {
          "type": "boolean"
        },
        "enableCount": {
          "type": "boolean"
        },
        "enableOrderBy": {
          "type": "boolean"
        },
        "enableFilter": {
          "type": "boolean"
        },
        "maxTop": {
          "format": "int32",
          "type": "integer"
        },
        "enableSkipToken": {
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "EdmContainerElementKind": {
      "format": "int32",
      "enum": [
        0,
        1,
        2,
        3,
        4
      ],
      "type": "integer"
    },
    "EdmExpressionKind": {
      "format": "int32",
      "enum": [
        0,
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14,
        15,
        16,
        17,
        18,
        19,
        20,
        21,
        22,
        23,
        24,
        25
      ],
      "type": "integer"
    },
    "EdmOnDeleteAction": {
      "format": "int32",
      "enum": [
        0,
        1
      ],
      "type": "integer"
    },
    "EdmPropertyKind": {
      "format": "int32",
      "enum": [
        0,
        1,
        2
      ],
      "type": "integer"
    },
    "EdmReferentialConstraintPropertyPair": {
      "type": "object",
      "properties": {
        "dependentProperty": {
          "$ref": "#/definitions/IEdmStructuralProperty"
        },
        "principalProperty": {
          "$ref": "#/definitions/IEdmStructuralProperty"
        }
      },
      "additionalProperties": false
    },
    "EdmSchemaElementKind": {
      "format": "int32",
      "enum": [
        0,
        1,
        2,
        3,
        4,
        5
      ],
      "type": "integer"
    },
    "EdmTypeKind": {
      "format": "int32",
      "enum": [
        0,
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9
      ],
      "type": "integer"
    },
    "EnvironmentManagementSetting": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "tenantId": {
          "format": "uuid",
          "type": "string"
        },
        "enableIpBasedStorageAccessSignatureRule": {
          "type": "boolean"
        },
        "allowedIpRangeForStorageAccessSignatures": {
          "type": "string"
        },
        "ipBasedStorageAccessSignatureMode": {
          "format": "int32",
          "type": "integer"
        },
        "loggingEnabledForIpBasedStorageAccessSignature": {
          "type": "boolean"
        },
        "rowRevision": {
          "format": "int64",
          "type": "integer"
        }
      },
      "additionalProperties": false
    },
    "EnvironmentManagementSettingODataQueryOptions": {
      "type": "object",
      "properties": {
        "ifMatch": {
          "readOnly": true
        },
        "ifNoneMatch": {
          "readOnly": true
        },
        "request": {
          "$ref": "#/definitions/HttpRequest"
        },
        "context": {
          "$ref": "#/definitions/ODataQueryContext"
        },
        "rawValues": {
          "$ref": "#/definitions/ODataRawQueryOptions"
        },
        "selectExpand": {
          "$ref": "#/definitions/SelectExpandQueryOption"
        },
        "apply": {
          "$ref": "#/definitions/ApplyQueryOption"
        },
        "filter": {
          "$ref": "#/definitions/FilterQueryOption"
        },
        "orderBy": {
          "$ref": "#/definitions/OrderByQueryOption"
        },
        "skip": {
          "$ref": "#/definitions/SkipQueryOption"
        },
        "skipToken": {
          "$ref": "#/definitions/SkipTokenQueryOption"
        },
        "top": {
          "$ref": "#/definitions/TopQueryOption"
        },
        "count": {
          "$ref": "#/definitions/CountQueryOption"
        },
        "validator": {
          "$ref": "#/definitions/ODataQueryValidator"
        }
      },
      "additionalProperties": false
    },
    "ErrorDetail": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "target": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          }
        }
      },
      "additionalProperties": false
    },
    "FilterClause": {
      "type": "object",
      "properties": {
        "expression": {
          "$ref": "#/definitions/SingleValueNode"
        },
        "rangeVariable": {
          "$ref": "#/definitions/RangeVariable"
        },
        "itemType": {
          "$ref": "#/definitions/IEdmTypeReference"
        }
      },
      "additionalProperties": false
    },
    "FilterQueryOption": {
      "type": "object",
      "properties": {
        "context": {
          "$ref": "#/definitions/ODataQueryContext"
        },
        "validator": {
          "$ref": "#/definitions/FilterQueryValidator"
        },
        "filterClause": {
          "$ref": "#/definitions/FilterClause"
        },
        "rawValue": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "FilterQueryValidator": {
      "type": "object",
      "additionalProperties": false
    },
    "GetEnvironmentManagementSettingResponse": {
      "description": "Represents the response object for APIs in this service.",
      "type": "object",
      "properties": {
        "objectResult": {
          "description": "Gets or sets the fields for the entities being queried",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnvironmentManagementSetting"
          }
        },
        "errors": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "nextLink": {
          "format": "uri",
          "description": "Gets or sets the nextLink if there are more records to be returned",
          "type": "string"
        },
        "responseMessage": {
          "description": "Gets or sets the error message.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "HandleNullPropagationOption": {
      "format": "int32",
      "enum": [
        0,
        1,
        2
      ],
      "type": "integer"
    },
    "HostString": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "hasValue": {
          "type": "boolean",
          "readOnly": true
        },
        "host": {
          "type": "string"
        },
        "port": {
          "format": "int32",
          "type": "integer"
        }
      },
      "additionalProperties": false
    },
    "HttpContext": {
      "type": "object",
      "properties": {
        "features": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TypeObjectKeyValuePair"
          },
          "readOnly": true
        },
        "request": {
          "$ref": "#/definitions/HttpRequest"
        },
        "response": {
          "$ref": "#/definitions/HttpResponse"
        },
        "connection": {
          "$ref": "#/definitions/ConnectionInfo"
        },
        "webSockets": {
          "$ref": "#/definitions/WebSocketManager"
        },
        "user": {
          "$ref": "#/definitions/ClaimsPrincipal"
        },
        "items": {
          "type": "object",
          "additionalProperties": { }
        },
        "requestServices": {
          "$ref": "#/definitions/IServiceProvider"
        },
        "requestAborted": {
          "$ref": "#/definitions/CancellationToken"
        },
        "traceIdentifier": {
          "type": "string"
        },
        "session": {
          "$ref": "#/definitions/ISession"
        }
      },
      "additionalProperties": false
    },
    "HttpRequest": {
      "type": "object",
      "properties": {
        "httpContext": {
          "$ref": "#/definitions/HttpContext"
        },
        "method": {
          "type": "string"
        },
        "scheme": {
          "type": "string"
        },
        "isHttps": {
          "type": "boolean"
        },
        "host": {
          "$ref": "#/definitions/HostString"
        },
        "pathBase": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "queryString": {
          "$ref": "#/definitions/QueryString"
        },
        "query": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StringStringValuesKeyValuePair"
          }
        },
        "protocol": {
          "type": "string"
        },
        "headers": {
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "readOnly": true
        },
        "cookies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StringStringKeyValuePair"
          }
        },
        "contentLength": {
          "format": "int64",
          "type": "integer"
        },
        "contentType": {
          "type": "string"
        },
        "body": {
          "format": "binary",
          "type": "string"
        },
        "bodyReader": {
          "format": "binary",
          "type": "string",
          "readOnly": true
        },
        "hasFormContentType": {
          "type": "boolean",
          "readOnly": true
        },
        "form": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StringStringValuesKeyValuePair"
          }
        },
        "routeValues": {
          "type": "object",
          "additionalProperties": { }
        }
      },
      "additionalProperties": false
    },
    "HttpResponse": {
      "type": "object",
      "properties": {
        "httpContext": {
          "$ref": "#/definitions/HttpContext"
        },
        "statusCode": {
          "format": "int32",
          "type": "integer"
        },
        "headers": {
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "readOnly": true
        },
        "body": {
          "format": "binary",
          "type": "string"
        },
        "bodyWriter": {
          "$ref": "#/definitions/PipeWriter"
        },
        "contentLength": {
          "format": "int64",
          "type": "integer"
        },
        "contentType": {
          "type": "string"
        },
        "cookies": {
          "$ref": "#/definitions/IResponseCookies"
        },
        "hasStarted": {
          "type": "boolean",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "IEdmDirectValueAnnotationsManager": {
      "type": "object",
      "additionalProperties": false
    },
    "IEdmEntityContainer": {
      "type": "object",
      "properties": {
        "elements": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IEdmEntityContainerElement"
          },
          "readOnly": true
        },
        "schemaElementKind": {
          "$ref": "#/definitions/EdmSchemaElementKind"
        },
        "namespace": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "IEdmEntityContainerElement": {
      "type": "object",
      "properties": {
        "containerElementKind": {
          "$ref": "#/definitions/EdmContainerElementKind"
        },
        "container": {
          "$ref": "#/definitions/IEdmEntityContainer"
        },
        "name": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "IEdmExpression": {
      "type": "object",
      "properties": {
        "expressionKind": {
          "$ref": "#/definitions/EdmExpressionKind"
        }
      },
      "additionalProperties": false
    },
    "IEdmModel": {
      "type": "object",
      "properties": {
        "schemaElements": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IEdmSchemaElement"
          },
          "readOnly": true
        },
        "vocabularyAnnotations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IEdmVocabularyAnnotation"
          },
          "readOnly": true
        },
        "referencedModels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IEdmModel"
          },
          "readOnly": true
        },
        "declaredNamespaces": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "directValueAnnotationsManager": {
          "$ref": "#/definitions/IEdmDirectValueAnnotationsManager"
        },
        "entityContainer": {
          "$ref": "#/definitions/IEdmEntityContainer"
        }
      },
      "additionalProperties": false
    },
    "IEdmNavigationProperty": {
      "type": "object",
      "properties": {
        "partner": {
          "$ref": "#/definitions/IEdmNavigationProperty"
        },
        "onDelete": {
          "$ref": "#/definitions/EdmOnDeleteAction"
        },
        "containsTarget": {
          "type": "boolean",
          "readOnly": true
        },
        "referentialConstraint": {
          "$ref": "#/definitions/IEdmReferentialConstraint"
        },
        "propertyKind": {
          "$ref": "#/definitions/EdmPropertyKind"
        },
        "type": {
          "$ref": "#/definitions/IEdmTypeReference"
        },
        "declaringType": {
          "$ref": "#/definitions/IEdmStructuredType"
        },
        "name": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "IEdmNavigationPropertyBinding": {
      "type": "object",
      "properties": {
        "navigationProperty": {
          "$ref": "#/definitions/IEdmNavigationProperty"
        },
        "target": {
          "$ref": "#/definitions/IEdmNavigationSource"
        },
        "path": {
          "$ref": "#/definitions/IEdmPathExpression"
        }
      },
      "additionalProperties": false
    },
    "IEdmNavigationSource": {
      "type": "object",
      "properties": {
        "navigationPropertyBindings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IEdmNavigationPropertyBinding"
          },
          "readOnly": true
        },
        "path": {
          "$ref": "#/definitions/IEdmPathExpression"
        },
        "type": {
          "$ref": "#/definitions/IEdmType"
        },
        "name": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "IEdmPathExpression": {
      "type": "object",
      "properties": {
        "pathSegments": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "path": {
          "type": "string",
          "readOnly": true
        },
        "expressionKind": {
          "$ref": "#/definitions/EdmExpressionKind"
        }
      },
      "additionalProperties": false
    },
    "IEdmProperty": {
      "type": "object",
      "properties": {
        "propertyKind": {
          "$ref": "#/definitions/EdmPropertyKind"
        },
        "type": {
          "$ref": "#/definitions/IEdmTypeReference"
        },
        "declaringType": {
          "$ref": "#/definitions/IEdmStructuredType"
        },
        "name": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "IEdmReferentialConstraint": {
      "type": "object",
      "properties": {
        "propertyPairs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EdmReferentialConstraintPropertyPair"
          },
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "IEdmSchemaElement": {
      "type": "object",
      "properties": {
        "schemaElementKind": {
          "$ref": "#/definitions/EdmSchemaElementKind"
        },
        "namespace": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "IEdmStructuralProperty": {
      "type": "object",
      "properties": {
        "defaultValueString": {
          "type": "string",
          "readOnly": true
        },
        "propertyKind": {
          "$ref": "#/definitions/EdmPropertyKind"
        },
        "type": {
          "$ref": "#/definitions/IEdmTypeReference"
        },
        "declaringType": {
          "$ref": "#/definitions/IEdmStructuredType"
        },
        "name": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "IEdmStructuredType": {
      "type": "object",
      "properties": {
        "isAbstract": {
          "type": "boolean",
          "readOnly": true
        },
        "isOpen": {
          "type": "boolean",
          "readOnly": true
        },
        "baseType": {
          "$ref": "#/definitions/IEdmStructuredType"
        },
        "declaredProperties": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IEdmProperty"
          },
          "readOnly": true
        },
        "typeKind": {
          "$ref": "#/definitions/EdmTypeKind"
        }
      },
      "additionalProperties": false
    },
    "IEdmTerm": {
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/IEdmTypeReference"
        },
        "appliesTo": {
          "type": "string",
          "readOnly": true
        },
        "defaultValue": {
          "type": "string",
          "readOnly": true
        },
        "schemaElementKind": {
          "$ref": "#/definitions/EdmSchemaElementKind"
        },
        "namespace": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "IEdmType": {
      "type": "object",
      "properties": {
        "typeKind": {
          "$ref": "#/definitions/EdmTypeKind"
        }
      },
      "additionalProperties": false
    },
    "IEdmTypeReference": {
      "type": "object",
      "properties": {
        "isNullable": {
          "type": "boolean",
          "readOnly": true
        },
        "definition": {
          "$ref": "#/definitions/IEdmType"
        }
      },
      "additionalProperties": false
    },
    "IEdmVocabularyAnnotatable": {
      "type": "object",
      "additionalProperties": false
    },
    "IEdmVocabularyAnnotation": {
      "type": "object",
      "properties": {
        "qualifier": {
          "type": "string",
          "readOnly": true
        },
        "term": {
          "$ref": "#/definitions/IEdmTerm"
        },
        "target": {
          "$ref": "#/definitions/IEdmVocabularyAnnotatable"
        },
        "value": {
          "$ref": "#/definitions/IEdmExpression"
        }
      },
      "additionalProperties": false
    },
    "IIdentity": {
      "type": "object",
      "properties": {
        "authenticationType": {
          "type": "string",
          "readOnly": true
        },
        "isAuthenticated": {
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "IPAddress": {
      "type": "object",
      "properties": {
        "addressFamily": {
          "$ref": "#/definitions/AddressFamily"
        },
        "scopeId": {
          "format": "int64",
          "type": "integer"
        },
        "isIPv6Multicast": {
          "type": "boolean",
          "readOnly": true
        },
        "isIPv6LinkLocal": {
          "type": "boolean",
          "readOnly": true
        },
        "isIPv6SiteLocal": {
          "type": "boolean",
          "readOnly": true
        },
        "isIPv6Teredo": {
          "type": "boolean",
          "readOnly": true
        },
        "isIPv6UniqueLocal": {
          "type": "boolean",
          "readOnly": true
        },
        "isIPv4MappedToIPv6": {
          "type": "boolean",
          "readOnly": true
        },
        "address": {
          "format": "int64",
          "type": "integer"
        }
      },
      "additionalProperties": false
    },
    "IResponseCookies": {
      "type": "object",
      "additionalProperties": false
    },
    "IServiceProvider": {
      "type": "object",
      "additionalProperties": false
    },
    "ISession": {
      "type": "object",
      "properties": {
        "isAvailable": {
          "type": "boolean",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "readOnly": true
        },
        "keys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "KeySizes": {
      "type": "object",
      "properties": {
        "minSize": {
          "format": "int32",
          "type": "integer"
        },
        "maxSize": {
          "format": "int32",
          "type": "integer"
        },
        "skipSize": {
          "format": "int32",
          "type": "integer"
        }
      },
      "additionalProperties": false
    },
    "ODataPath": {
      "type": "object",
      "properties": {
        "edmType": {
          "$ref": "#/definitions/IEdmType"
        },
        "navigationSource": {
          "$ref": "#/definitions/IEdmNavigationSource"
        },
        "segments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ODataPathSegment"
          }
        },
        "pathTemplate": {
          "type": "string",
          "readOnly": true
        },
        "path": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ODataPathSegment"
          },
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "ODataPathSegment": {
      "type": "object",
      "properties": {
        "edmType": {
          "$ref": "#/definitions/IEdmType"
        },
        "identifier": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "ODataQueryContext": {
      "type": "object",
      "properties": {
        "defaultQuerySettings": {
          "$ref": "#/definitions/DefaultQuerySettings"
        },
        "model": {
          "$ref": "#/definitions/IEdmModel"
        },
        "elementType": {
          "$ref": "#/definitions/IEdmType"
        },
        "navigationSource": {
          "$ref": "#/definitions/IEdmNavigationSource"
        },
        "elementClrType": {
          "type": "string"
        },
        "path": {
          "$ref": "#/definitions/ODataPath"
        },
        "requestContainer": {
          "$ref": "#/definitions/IServiceProvider"
        }
      },
      "additionalProperties": false
    },
    "ODataQueryOptions": {
      "type": "object",
      "properties": {
        "request": {
          "$ref": "#/definitions/HttpRequest"
        },
        "context": {
          "$ref": "#/definitions/ODataQueryContext"
        },
        "rawValues": {
          "$ref": "#/definitions/ODataRawQueryOptions"
        },
        "selectExpand": {
          "$ref": "#/definitions/SelectExpandQueryOption"
        },
        "apply": {
          "$ref": "#/definitions/ApplyQueryOption"
        },
        "filter": {
          "$ref": "#/definitions/FilterQueryOption"
        },
        "orderBy": {
          "$ref": "#/definitions/OrderByQueryOption"
        },
        "skip": {
          "$ref": "#/definitions/SkipQueryOption"
        },
        "skipToken": {
          "$ref": "#/definitions/SkipTokenQueryOption"
        },
        "top": {
          "$ref": "#/definitions/TopQueryOption"
        },
        "count": {
          "$ref": "#/definitions/CountQueryOption"
        },
        "validator": {
          "$ref": "#/definitions/ODataQueryValidator"
        },
        "ifMatch": {
          "readOnly": true
        },
        "ifNoneMatch": {
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "ODataQuerySettings": {
      "type": "object",
      "properties": {
        "ensureStableOrdering": {
          "type": "boolean"
        },
        "handleNullPropagation": {
          "$ref": "#/definitions/HandleNullPropagationOption"
        },
        "enableConstantParameterization": {
          "type": "boolean"
        },
        "enableCorrelatedSubqueryBuffering": {
          "type": "boolean"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer"
        },
        "handleReferenceNavigationPropertyExpandFilter": {
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "ODataQueryValidator": {
      "type": "object",
      "additionalProperties": false
    },
    "ODataRawQueryOptions": {
      "type": "object",
      "properties": {
        "filter": {
          "type": "string",
          "readOnly": true
        },
        "apply": {
          "type": "string",
          "readOnly": true
        },
        "orderBy": {
          "type": "string",
          "readOnly": true
        },
        "top": {
          "type": "string",
          "readOnly": true
        },
        "skip": {
          "type": "string",
          "readOnly": true
        },
        "select": {
          "type": "string",
          "readOnly": true
        },
        "expand": {
          "type": "string",
          "readOnly": true
        },
        "count": {
          "type": "string",
          "readOnly": true
        },
        "format": {
          "type": "string",
          "readOnly": true
        },
        "skipToken": {
          "type": "string",
          "readOnly": true
        },
        "deltaToken": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Oid": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "friendlyName": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "OperationResponse": {
      "description": "Represents the response object for APIs in this service.",
      "type": "object",
      "properties": {
        "objectResult": {
          "description": "Gets or sets the response's object"
        },
        "errors": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "nextLink": {
          "format": "uri",
          "description": "Gets or sets the nextLink if there are more records to be returned",
          "type": "string"
        },
        "debugErrors": {
          "description": "Gets or sets DebugErrors, only shown for private/local testing",
          "type": "string"
        },
        "responseMessage": {
          "description": "Gets or sets the error message.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "OrderByClause": {
      "type": "object",
      "properties": {
        "thenBy": {
          "$ref": "#/definitions/OrderByClause"
        },
        "expression": {
          "$ref": "#/definitions/SingleValueNode"
        },
        "direction": {
          "$ref": "#/definitions/OrderByDirection"
        },
        "rangeVariable": {
          "$ref": "#/definitions/RangeVariable"
        },
        "itemType": {
          "$ref": "#/definitions/IEdmTypeReference"
        }
      },
      "additionalProperties": false
    },
    "OrderByDirection": {
      "format": "int32",
      "enum": [
        0,
        1
      ],
      "type": "integer"
    },
    "OrderByNode": {
      "type": "object",
      "properties": {
        "direction": {
          "$ref": "#/definitions/OrderByDirection"
        }
      },
      "additionalProperties": false
    },
    "OrderByQueryOption": {
      "type": "object",
      "properties": {
        "context": {
          "$ref": "#/definitions/ODataQueryContext"
        },
        "orderByNodes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OrderByNode"
          },
          "readOnly": true
        },
        "rawValue": {
          "type": "string"
        },
        "validator": {
          "$ref": "#/definitions/OrderByQueryValidator"
        },
        "orderByClause": {
          "$ref": "#/definitions/OrderByClause"
        }
      },
      "additionalProperties": false
    },
    "OrderByQueryValidator": {
      "type": "object",
      "additionalProperties": false
    },
    "OrganizationLifecycleODataQueryOptions": {
      "type": "object",
      "properties": {
        "ifMatch": {
          "readOnly": true
        },
        "ifNoneMatch": {
          "readOnly": true
        },
        "request": {
          "$ref": "#/definitions/HttpRequest"
        },
        "context": {
          "$ref": "#/definitions/ODataQueryContext"
        },
        "rawValues": {
          "$ref": "#/definitions/ODataRawQueryOptions"
        },
        "selectExpand": {
          "$ref": "#/definitions/SelectExpandQueryOption"
        },
        "apply": {
          "$ref": "#/definitions/ApplyQueryOption"
        },
        "filter": {
          "$ref": "#/definitions/FilterQueryOption"
        },
        "orderBy": {
          "$ref": "#/definitions/OrderByQueryOption"
        },
        "skip": {
          "$ref": "#/definitions/SkipQueryOption"
        },
        "skipToken": {
          "$ref": "#/definitions/SkipTokenQueryOption"
        },
        "top": {
          "$ref": "#/definitions/TopQueryOption"
        },
        "count": {
          "$ref": "#/definitions/CountQueryOption"
        },
        "validator": {
          "$ref": "#/definitions/ODataQueryValidator"
        }
      },
      "additionalProperties": false
    },
    "OrganizationLifecyclePropertyODataQueryOptions": {
      "type": "object",
      "properties": {
        "ifMatch": {
          "readOnly": true
        },
        "ifNoneMatch": {
          "readOnly": true
        },
        "request": {
          "$ref": "#/definitions/HttpRequest"
        },
        "context": {
          "$ref": "#/definitions/ODataQueryContext"
        },
        "rawValues": {
          "$ref": "#/definitions/ODataRawQueryOptions"
        },
        "selectExpand": {
          "$ref": "#/definitions/SelectExpandQueryOption"
        },
        "apply": {
          "$ref": "#/definitions/ApplyQueryOption"
        },
        "filter": {
          "$ref": "#/definitions/FilterQueryOption"
        },
        "orderBy": {
          "$ref": "#/definitions/OrderByQueryOption"
        },
        "skip": {
          "$ref": "#/definitions/SkipQueryOption"
        },
        "skipToken": {
          "$ref": "#/definitions/SkipTokenQueryOption"
        },
        "top": {
          "$ref": "#/definitions/TopQueryOption"
        },
        "count": {
          "$ref": "#/definitions/CountQueryOption"
        },
        "validator": {
          "$ref": "#/definitions/ODataQueryValidator"
        }
      },
      "additionalProperties": false
    },
    "OrganizationODataQueryOptions": {
      "type": "object",
      "properties": {
        "ifMatch": {
          "readOnly": true
        },
        "ifNoneMatch": {
          "readOnly": true
        },
        "request": {
          "$ref": "#/definitions/HttpRequest"
        },
        "context": {
          "$ref": "#/definitions/ODataQueryContext"
        },
        "rawValues": {
          "$ref": "#/definitions/ODataRawQueryOptions"
        },
        "selectExpand": {
          "$ref": "#/definitions/SelectExpandQueryOption"
        },
        "apply": {
          "$ref": "#/definitions/ApplyQueryOption"
        },
        "filter": {
          "$ref": "#/definitions/FilterQueryOption"
        },
        "orderBy": {
          "$ref": "#/definitions/OrderByQueryOption"
        },
        "skip": {
          "$ref": "#/definitions/SkipQueryOption"
        },
        "skipToken": {
          "$ref": "#/definitions/SkipTokenQueryOption"
        },
        "top": {
          "$ref": "#/definitions/TopQueryOption"
        },
        "count": {
          "$ref": "#/definitions/CountQueryOption"
        },
        "validator": {
          "$ref": "#/definitions/ODataQueryValidator"
        }
      },
      "additionalProperties": false
    },
    "OrganizationPropertyODataQueryOptions": {
      "type": "object",
      "properties": {
        "ifMatch": {
          "readOnly": true
        },
        "ifNoneMatch": {
          "readOnly": true
        },
        "request": {
          "$ref": "#/definitions/HttpRequest"
        },
        "context": {
          "$ref": "#/definitions/ODataQueryContext"
        },
        "rawValues": {
          "$ref": "#/definitions/ODataRawQueryOptions"
        },
        "selectExpand": {
          "$ref": "#/definitions/SelectExpandQueryOption"
        },
        "apply": {
          "$ref": "#/definitions/ApplyQueryOption"
        },
        "filter": {
          "$ref": "#/definitions/FilterQueryOption"
        },
        "orderBy": {
          "$ref": "#/definitions/OrderByQueryOption"
        },
        "skip": {
          "$ref": "#/definitions/SkipQueryOption"
        },
        "skipToken": {
          "$ref": "#/definitions/SkipTokenQueryOption"
        },
        "top": {
          "$ref": "#/definitions/TopQueryOption"
        },
        "count": {
          "$ref": "#/definitions/CountQueryOption"
        },
        "validator": {
          "$ref": "#/definitions/ODataQueryValidator"
        }
      },
      "additionalProperties": false
    },
    "PipeWriter": {
      "type": "object",
      "properties": {
        "canGetUnflushedBytes": {
          "type": "boolean",
          "readOnly": true
        },
        "unflushedBytes": {
          "format": "int64",
          "type": "integer",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "PublicKey": {
      "type": "object",
      "properties": {
        "encodedKeyValue": {
          "$ref": "#/definitions/AsnEncodedData"
        },
        "encodedParameters": {
          "$ref": "#/definitions/AsnEncodedData"
        },
        "key": {
          "$ref": "#/definitions/AsymmetricAlgorithm"
        },
        "oid": {
          "$ref": "#/definitions/Oid"
        }
      },
      "additionalProperties": false
    },
    "QueryNodeKind": {
      "format": "int32",
      "enum": [
        0,
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14,
        15,
        16,
        17,
        18,
        19,
        20,
        21,
        22,
        23,
        24,
        25,
        26,
        27,
        28,
        29,
        30,
        31,
        32,
        33
      ],
      "type": "integer"
    },
    "QueryString": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "hasValue": {
          "type": "boolean",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "RangeVariable": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true
        },
        "typeReference": {
          "$ref": "#/definitions/IEdmTypeReference"
        },
        "kind": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "RecoverableOrganizationODataQueryOptions": {
      "type": "object",
      "properties": {
        "ifMatch": {
          "readOnly": true
        },
        "ifNoneMatch": {
          "readOnly": true
        },
        "request": {
          "$ref": "#/definitions/HttpRequest"
        },
        "context": {
          "$ref": "#/definitions/ODataQueryContext"
        },
        "rawValues": {
          "$ref": "#/definitions/ODataRawQueryOptions"
        },
        "selectExpand": {
          "$ref": "#/definitions/SelectExpandQueryOption"
        },
        "apply": {
          "$ref": "#/definitions/ApplyQueryOption"
        },
        "filter": {
          "$ref": "#/definitions/FilterQueryOption"
        },
        "orderBy": {
          "$ref": "#/definitions/OrderByQueryOption"
        },
        "skip": {
          "$ref": "#/definitions/SkipQueryOption"
        },
        "skipToken": {
          "$ref": "#/definitions/SkipTokenQueryOption"
        },
        "top": {
          "$ref": "#/definitions/TopQueryOption"
        },
        "count": {
          "$ref": "#/definitions/CountQueryOption"
        },
        "validator": {
          "$ref": "#/definitions/ODataQueryValidator"
        }
      },
      "additionalProperties": false
    },
    "SafeWaitHandle": {
      "type": "object",
      "properties": {
        "isInvalid": {
          "type": "boolean",
          "readOnly": true
        },
        "isClosed": {
          "type": "boolean",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "SelectExpandClause": {
      "type": "object",
      "properties": {
        "selectedItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SelectItem"
          }
        },
        "allSelected": {
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "SelectExpandQueryOption": {
      "type": "object",
      "properties": {
        "context": {
          "$ref": "#/definitions/ODataQueryContext"
        },
        "rawSelect": {
          "type": "string",
          "readOnly": true
        },
        "rawExpand": {
          "type": "string",
          "readOnly": true
        },
        "validator": {
          "$ref": "#/definitions/SelectExpandQueryValidator"
        },
        "selectExpandClause": {
          "$ref": "#/definitions/SelectExpandClause"
        },
        "levelsMaxLiteralExpansionDepth": {
          "format": "int32",
          "type": "integer"
        }
      },
      "additionalProperties": false
    },
    "SelectExpandQueryValidator": {
      "type": "object",
      "additionalProperties": false
    },
    "SelectItem": {
      "type": "object",
      "additionalProperties": false
    },
    "SingleValueNode": {
      "type": "object",
      "properties": {
        "typeReference": {
          "$ref": "#/definitions/IEdmTypeReference"
        },
        "kind": {
          "$ref": "#/definitions/QueryNodeKind"
        }
      },
      "additionalProperties": false
    },
    "SkipQueryOption": {
      "type": "object",
      "properties": {
        "context": {
          "$ref": "#/definitions/ODataQueryContext"
        },
        "rawValue": {
          "type": "string"
        },
        "value": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "validator": {
          "$ref": "#/definitions/SkipQueryValidator"
        }
      },
      "additionalProperties": false
    },
    "SkipQueryValidator": {
      "type": "object",
      "additionalProperties": false
    },
    "SkipTokenQueryOption": {
      "type": "object",
      "properties": {
        "rawValue": {
          "type": "string"
        },
        "context": {
          "$ref": "#/definitions/ODataQueryContext"
        },
        "validator": {
          "$ref": "#/definitions/SkipTokenQueryValidator"
        },
        "querySettings": {
          "$ref": "#/definitions/ODataQuerySettings"
        },
        "queryOptions": {
          "$ref": "#/definitions/ODataQueryOptions"
        }
      },
      "additionalProperties": false
    },
    "SkipTokenQueryValidator": {
      "type": "object",
      "additionalProperties": false
    },
    "StringStringKeyValuePair": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "StringStringValuesKeyValuePair": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "additionalProperties": false
    },
    "TopQueryOption": {
      "type": "object",
      "properties": {
        "context": {
          "$ref": "#/definitions/ODataQueryContext"
        },
        "rawValue": {
          "type": "string"
        },
        "value": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "validator": {
          "$ref": "#/definitions/TopQueryValidator"
        }
      },
      "additionalProperties": false
    },
    "TopQueryValidator": {
      "type": "object",
      "additionalProperties": false
    },
    "TransformationNode": {
      "type": "object",
      "properties": {
        "kind": {
          "$ref": "#/definitions/TransformationNodeKind"
        }
      },
      "additionalProperties": false
    },
    "TransformationNodeKind": {
      "format": "int32",
      "enum": [
        0,
        1,
        2,
        3,
        4
      ],
      "type": "integer"
    },
    "TypeObjectKeyValuePair": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": { }
      },
      "additionalProperties": false
    },
    "UpdateDatabaseDetailsRequest": {
      "required": [
        "primaryDatabaseIdentifier"
      ],
      "type": "object",
      "properties": {
        "primaryDatabaseIdentifier": {
          "$ref": "#/definitions/DatabaseIdentifier"
        },
        "continuousCopies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DatabaseIdentifier"
          }
        },
        "organizationId": {
          "format": "uuid",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "WaitHandle": {
      "type": "object",
      "properties": {
        "handle": { },
        "safeWaitHandle": {
          "$ref": "#/definitions/SafeWaitHandle"
        }
      },
      "additionalProperties": false
    },
    "WebSocketManager": {
      "type": "object",
      "properties": {
        "isWebSocketRequest": {
          "type": "boolean",
          "readOnly": true
        },
        "webSocketRequestedProtocols": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "X500DistinguishedName": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true
        },
        "oid": {
          "$ref": "#/definitions/Oid"
        },
        "rawData": {
          "format": "byte",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "X509Certificate2": {
      "type": "object",
      "properties": {
        "archived": {
          "type": "boolean"
        },
        "extensions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/X509Extension"
          },
          "readOnly": true
        },
        "friendlyName": {
          "type": "string"
        },
        "hasPrivateKey": {
          "type": "boolean",
          "readOnly": true
        },
        "privateKey": {
          "$ref": "#/definitions/AsymmetricAlgorithm"
        },
        "issuerName": {
          "$ref": "#/definitions/X500DistinguishedName"
        },
        "notAfter": {
          "format": "date-time",
          "type": "string",
          "readOnly": true
        },
        "notBefore": {
          "format": "date-time",
          "type": "string",
          "readOnly": true
        },
        "publicKey": {
          "$ref": "#/definitions/PublicKey"
        },
        "rawData": {
          "format": "byte",
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "readOnly": true
        },
        "signatureAlgorithm": {
          "$ref": "#/definitions/Oid"
        },
        "subjectName": {
          "$ref": "#/definitions/X500DistinguishedName"
        },
        "thumbprint": {
          "type": "string",
          "readOnly": true
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "handle": { },
        "issuer": {
          "type": "string",
          "readOnly": true
        },
        "subject": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "X509Extension": {
      "type": "object",
      "properties": {
        "critical": {
          "type": "boolean"
        },
        "oid": {
          "$ref": "#/definitions/Oid"
        },
        "rawData": {
          "format": "byte",
          "type": "string"
        }
      },
      "additionalProperties": false
    }
  },
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize?resource=https://api.powerplatform.com",
      "scopes": {
        ".default": ".default"
      },
      "description": "Microsoft Entra ID OAuth2"
    }
  },
  "security": [
    {
      "oauth2": [
        ".default"
      ]
    }
  ]
}