{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Power Platform REST API - environmentmanagement",
    "description": "Unified API for all administrative capabilities in Microsoft Power Platform.",
    "version": "2024-10-01"
  },
  "host": "api.powerplatform.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/environmentmanagement/environments/{environmentId}/settings": {
      "post": {
        "tags": [
          "EnvironmentManagementSettings"
        ],
        "summary": "Create environment management settings.",
        "operationId": "CreateEnvironmentManagementSettings",
        "consumes": [
          "application/json;odata.metadata=minimal;odata.streaming=true",
          "application/json;odata.metadata=minimal;odata.streaming=false",
          "application/json;odata.metadata=minimal",
          "application/json;odata.metadata=full;odata.streaming=true",
          "application/json;odata.metadata=full;odata.streaming=false",
          "application/json;odata.metadata=full",
          "application/json;odata.metadata=none;odata.streaming=true",
          "application/json;odata.metadata=none;odata.streaming=false",
          "application/json;odata.metadata=none",
          "application/json;odata.streaming=true",
          "application/json;odata.streaming=false",
          "application/json",
          "application/xml",
          "application/prs.odatatestxx-odata",
          "application/json-patch+json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json;odata.metadata=minimal;odata.streaming=true",
          "application/json;odata.metadata=minimal;odata.streaming=false",
          "application/json;odata.metadata=minimal",
          "application/json;odata.metadata=full;odata.streaming=true",
          "application/json;odata.metadata=full;odata.streaming=false",
          "application/json;odata.metadata=full",
          "application/json;odata.metadata=none;odata.streaming=true",
          "application/json;odata.metadata=none;odata.streaming=false",
          "application/json;odata.metadata=none",
          "application/json;odata.streaming=true",
          "application/json;odata.streaming=false",
          "application/json",
          "application/xml",
          "application/prs.odatatestxx-odata",
          "text/plain",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Payload for the environment management setting",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateEnvironmentManagementSettingResponse"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/CreateEnvironmentManagementSettingResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/CreateEnvironmentManagementSettingResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "EnvironmentManagementSettings"
        ],
        "summary": "Get environment management setting by ID.",
        "operationId": "ListEnvironmentManagementSettings",
        "produces": [
          "application/json;odata.metadata=minimal;odata.streaming=true",
          "application/json;odata.metadata=minimal;odata.streaming=false",
          "application/json;odata.metadata=minimal",
          "application/json;odata.metadata=full;odata.streaming=true",
          "application/json;odata.metadata=full;odata.streaming=false",
          "application/json;odata.metadata=full",
          "application/json;odata.metadata=none;odata.streaming=true",
          "application/json;odata.metadata=none;odata.streaming=false",
          "application/json;odata.metadata=none",
          "application/json;odata.streaming=true",
          "application/json;odata.streaming=false",
          "application/json",
          "application/xml",
          "application/prs.odatatestxx-odata",
          "text/plain",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "ID for the environment management setting.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Number of records to retrieve. Defaults to 500 if not set.",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "List of properties to select for this entity.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetEnvironmentManagementSettingResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/GetEnvironmentManagementSettingResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/GetEnvironmentManagementSettingResponse"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/GetEnvironmentManagementSettingResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "EnvironmentManagementSettings"
        ],
        "summary": "Update fields on the environment management setting.",
        "operationId": "UpdateEnvironmentManagementSettings",
        "consumes": [
          "application/json;odata.metadata=minimal;odata.streaming=true",
          "application/json;odata.metadata=minimal;odata.streaming=false",
          "application/json;odata.metadata=minimal",
          "application/json;odata.metadata=full;odata.streaming=true",
          "application/json;odata.metadata=full;odata.streaming=false",
          "application/json;odata.metadata=full",
          "application/json;odata.metadata=none;odata.streaming=true",
          "application/json;odata.metadata=none;odata.streaming=false",
          "application/json;odata.metadata=none",
          "application/json;odata.streaming=true",
          "application/json;odata.streaming=false",
          "application/json",
          "application/xml",
          "application/prs.odatatestxx-odata",
          "application/json-patch+json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json;odata.metadata=minimal;odata.streaming=true",
          "application/json;odata.metadata=minimal;odata.streaming=false",
          "application/json;odata.metadata=minimal",
          "application/json;odata.metadata=full;odata.streaming=true",
          "application/json;odata.metadata=full;odata.streaming=false",
          "application/json;odata.metadata=full",
          "application/json;odata.metadata=none;odata.streaming=true",
          "application/json;odata.metadata=none;odata.streaming=false",
          "application/json;odata.metadata=none",
          "application/json;odata.streaming=true",
          "application/json;odata.streaming=false",
          "application/json",
          "application/xml",
          "application/prs.odatatestxx-odata",
          "text/plain",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID for the environment management setting being updated.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Details on the environment management setting to be updated",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "412": {
            "description": "Precondition Failed",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          }
        }
      }
    },
    "/environmentmanagement/environments/{environmentId}/backups": {
      "post": {
        "tags": [
          "EnvironmentBackup"
        ],
        "summary": "Creates a backup of the specified environment (Preview).",
        "description": "Creates a backup of the specified environment.",
        "operationId": "CreateEnvironmentBackup",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of Environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Request detail to create backup.",
            "schema": {
              "$ref": "#/definitions/CreateBackupRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EnvironmentBackup"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Backup.Write"
      },
      "get": {
        "tags": [
          "EnvironmentBackup"
        ],
        "summary": "Gets the backups for the specified environment (Preview).",
        "description": "Gets the backups for the specified environment.",
        "operationId": "GetEnvironmentBackups",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of Environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvironmentBackupPagedCollection"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Backup.Read"
      }
    },
    "/environmentmanagement/environments/{environmentId}/backups/{backupId}": {
      "delete": {
        "tags": [
          "EnvironmentBackup"
        ],
        "summary": "Deletes the specified backup (Preview).",
        "description": "Deletes the specified backup.",
        "operationId": "DeleteEnvironmentBackup",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of Environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "backupId",
            "description": "The ID of the backup.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Backup.Delete"
      }
    },
    "/environmentmanagement/environments/{environmentId}/businessContinuityStateFullSnapshot": {
      "get": {
        "tags": [
          "Failover"
        ],
        "summary": "Gets business continuity snapshot for environment (Preview).",
        "description": "Gets business continuity snapshot including LastSyncTime.",
        "operationId": "GetBusinessContinuityStateFullSnapshot",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of Environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BusinessContinuityStateFullSnapshot"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Failover.Read"
      }
    },
    "/environmentmanagement/environments/{environmentId}/Disable": {
      "post": {
        "tags": [
          "EnvironmentState"
        ],
        "summary": "Disables the specified environment (Preview).",
        "description": "Disables the specified environment.",
        "operationId": "DisableEnvironment",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of Environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "If true, validates the request without executing it.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "Comma-separated property names to validate with ValidateOnly.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The request body.",
            "schema": {
              "$ref": "#/definitions/StateChangeRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.State.Write"
      }
    },
    "/environmentmanagement/environments/{environmentId}/disableDisasterRecovery": {
      "post": {
        "tags": [
          "Failover"
        ],
        "summary": "Disables disaster recovery on the specified environment (Preview).",
        "description": "Disables disaster recovery on the specified environment.",
        "operationId": "DisableDisasterRecovery",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of Environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "If true, validates the request without executing it.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "Comma-separated property names to validate with ValidateOnly.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/OperationExecutionResult"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "409": {
            "description": "Conflict"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Failover.Write"
      }
    },
    "/environmentmanagement/environments/{environmentId}/disasterRecoveryDrill": {
      "post": {
        "tags": [
          "Failover"
        ],
        "summary": "Performs DR Drill for the specified environment (Preview).",
        "description": "Performs DR Drill for the specified environment.",
        "operationId": "PerformDRDrill",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of Environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "If true, validates the request without executing it.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "Comma-separated property names to validate with ValidateOnly.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/OperationExecutionResult"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "409": {
            "description": "Conflict"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Failover.Write"
      }
    },
    "/environmentmanagement/environments/{environmentId}/Enable": {
      "post": {
        "tags": [
          "EnvironmentState"
        ],
        "summary": "Enables the specified environment (Preview).",
        "description": "Enables the specified environment.",
        "operationId": "EnableEnvironment",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of Environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "If true, validates the request without executing it.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "Comma-separated property names to validate with ValidateOnly.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The request body.",
            "schema": {
              "$ref": "#/definitions/StateChangeRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.State.Write"
      }
    },
    "/environmentmanagement/environments/{environmentId}/enableDisasterRecovery": {
      "post": {
        "tags": [
          "Failover"
        ],
        "summary": "Enables disaster recovery on the specified environment (Preview).",
        "description": "Enables disaster recovery on the specified environment.",
        "operationId": "EnableDisasterRecovery",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of Environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "If true, validates the request without executing it.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "Comma-separated property names to validate with ValidateOnly.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/OperationExecutionResult"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "409": {
            "description": "Conflict"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Failover.Write"
      }
    },
    "/environmentmanagement/environments/{environmentId}/forceFailover": {
      "post": {
        "tags": [
          "Failover"
        ],
        "summary": "Force failover for the specified environment (Preview).",
        "description": "Fails over environment to its paired region as of LastSyncTime.",
        "operationId": "PerformForceFailover",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of Environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "If true, validates the request without executing it.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "Comma-separated property names to validate with ValidateOnly.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The force failover request.",
            "schema": {
              "$ref": "#/definitions/ForceFailoverRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/OperationExecutionResult"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "409": {
            "description": "Conflict"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Failover.Write"
      }
    },
    "/environmentmanagement/environments/{environmentId}/governancesetting/disablemanaged": {
      "post": {
        "tags": [
          "EnvironmentManagedGovernance"
        ],
        "summary": "Disables managed governance for the specified environment (Preview).",
        "description": "Disables managed governance for the specified environment.",
        "operationId": "DisableManagedEnvironment",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of Environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "If true, validates the request without executing it.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "Comma-separated property names to validate with ValidateOnly.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/OperationExecutionResult"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.ManageGovernance.Write"
      }
    },
    "/environmentmanagement/environments/{environmentId}/governancesetting/enablemanaged": {
      "post": {
        "tags": [
          "EnvironmentManagedGovernance"
        ],
        "summary": "Enables managed governance for the specified environment (Preview).",
        "description": "Enables managed governance for the specified environment.",
        "operationId": "EnableManagedEnvironment",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of Environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "If true, validates the request without executing it.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "Comma-separated property names to validate with ValidateOnly.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/OperationExecutionResult"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.ManageGovernance.Write"
      }
    },
    "/environmentmanagement/environments/{environmentId}/modifySku": {
      "post": {
        "tags": [
          "ModifyEnvironmentSku"
        ],
        "summary": "Modifies sku for the specified environment (Preview).",
        "description": "Modifies sku for the specified environment.",
        "operationId": "ModifyEnvironmentSku",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of Environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "If true, validates the request without executing it.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "Comma-separated property names to validate with ValidateOnly.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The request body.",
            "schema": {
              "$ref": "#/definitions/ModifyEnvironmentSkuRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/OperationExecutionResult"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Sku.Write"
      }
    },
    "/environmentmanagement/environments/{environmentId}/operations": {
      "get": {
        "tags": [
          "Operation"
        ],
        "summary": "Lists the environment lifecycle operations for a specific environment (Preview).",
        "description": "Lists the environment lifecycle operations for a specific environment.",
        "operationId": "GetOperationsForEnvironment",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of Environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The limit.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "The continuation token.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationExecutionResultPagedCollection"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Operation.Read"
      }
    },
    "/environmentmanagement/environments/{environmentId}/recover": {
      "post": {
        "tags": [
          "EnvironmentRecover"
        ],
        "summary": "Recover the deleted environment (Preview).",
        "description": "Recover the deleted environment.",
        "operationId": "RecoverEnvironment",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment that will be recovered.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "If true, validates the request without executing it.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "Comma-separated property names to validate with ValidateOnly.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Recover.Write"
      }
    },
    "/environmentmanagement/environments/{sourceEnvironmentId}/copyCandidates": {
      "get": {
        "tags": [
          "EnvironmentCopy"
        ],
        "summary": "Gets copy target candidate environments (Preview).",
        "description": "Gets the list of environments that can be copied as the target environment.",
        "operationId": "GetEnvironmentCopyCandidates",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "sourceEnvironmentId",
            "description": "The source environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "If true, validates the request without executing it.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "Comma-separated property names to validate with ValidateOnly.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvironmentPagedCollection"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Copy.Read"
      }
    },
    "/environmentmanagement/environments/{sourceEnvironmentId}/restoreCandidates": {
      "get": {
        "tags": [
          "EnvironmentRestore"
        ],
        "summary": "Gets restore candidate environments (Preview).",
        "description": "Gets the list of restore candidates when restore from the specified environment.",
        "operationId": "GetRestoreCandidates",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "sourceEnvironmentId",
            "description": "The environment ID of restore from.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "If true, validates the request without executing it.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "Comma-separated property names to validate with ValidateOnly.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvironmentPagedCollection"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Restore.Read"
      }
    },
    "/environmentmanagement/environments/{targetEnvironmentId}/copy": {
      "post": {
        "tags": [
          "EnvironmentCopy"
        ],
        "summary": "Copy the environment from the specified source to the target (Preview).",
        "description": "Copy the environment from the specified source to the target.",
        "operationId": "CopyEnvironment",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "targetEnvironmentId",
            "description": "The target environment will be overwritten.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "If true, validates the request without executing it.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "Comma-separated property names to validate with ValidateOnly.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The request body.",
            "schema": {
              "$ref": "#/definitions/CopyRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Copy.Write"
      }
    },
    "/environmentmanagement/environments/{targetEnvironmentId}/Restore": {
      "post": {
        "tags": [
          "EnvironmentRestore"
        ],
        "summary": "Restores the specified environment to a previous backup (Preview).",
        "description": "Restores the specified environment to a previous backup.",
        "operationId": "RestoreEnvironment",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "targetEnvironmentId",
            "description": "The target environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "If true, validates the request without executing it.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "Comma-separated property names to validate with ValidateOnly.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The request body.",
            "schema": {
              "$ref": "#/definitions/EnvironmentRestoreRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Restore.Write"
      }
    },
    "/environmentmanagement/operations/{operationId}": {
      "get": {
        "tags": [
          "Operation"
        ],
        "summary": "Gets the status of an environment lifecycle operation (Preview).",
        "description": "Gets the status of an environment lifecycle operation.",
        "operationId": "GetOperationByID",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "operationId",
            "description": "The operation ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationExecutionResult"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Operation.Read"
      }
    },
    "/environmentmanagement/provisioning/create": {
      "post": {
        "tags": [
          "EnvironmentProvisioning"
        ],
        "summary": "Provisions a new environment.",
        "description": "Provisions a new environment.",
        "operationId": "ProvisionNewEnvironment",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The environment creation request.",
            "schema": {
              "$ref": "#/definitions/CreateEnvironmentRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/OperationExecutionResult"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Provisioning.Write"
      }
    },
    "/environmentmanagement/provisioning/environments/{environmentId}/link": {
      "patch": {
        "tags": [
          "EnvironmentProvisioning"
        ],
        "summary": "Links a Dataverse instance to an existing environment.",
        "description": "Links a Dataverse instance to an existing environment.",
        "operationId": "LinkDataverse",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID to link Dataverse to.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The linked environment metadata.",
            "schema": {
              "$ref": "#/definitions/CreateEnvironmentRequestLinkedMetadata"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/OperationExecutionResult"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Provisioning.Write"
      }
    },
    "/environmentmanagement/provisioning/locations": {
      "get": {
        "tags": [
          "EnvironmentProvisioning"
        ],
        "summary": "Gets the list of supported locations for environment provisioning.",
        "description": "Gets the list of supported locations for environment provisioning.",
        "operationId": "GetSupportedLocations",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LocationPagedCollection"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Provisioning.Read"
      }
    },
    "/environmentmanagement/provisioning/locations/{location}/currencies": {
      "get": {
        "tags": [
          "EnvironmentProvisioning"
        ],
        "summary": "Retrieves available currencies for environment provisioning in a location.",
        "description": "Retrieves available currencies for environment provisioning in a location.",
        "operationId": "GetProvisioningCurrencies",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "location",
            "description": "The location name.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvironmentCurrencyPagedCollection"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Provisioning.Read"
      }
    },
    "/environmentmanagement/provisioning/locations/{location}/languages": {
      "get": {
        "tags": [
          "EnvironmentProvisioning"
        ],
        "summary": "Retrieves available languages for environment provisioning in a location.",
        "description": "Retrieves available languages for environment provisioning in a location.",
        "operationId": "GetProvisioningLanguages",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "location",
            "description": "The location name.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvironmentLanguagePagedCollection"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Provisioning.Read"
      }
    },
    "/environmentmanagement/provisioning/locations/{location}/templates": {
      "get": {
        "tags": [
          "EnvironmentProvisioning"
        ],
        "summary": "Retrieves available templates for environment provisioning in a location.",
        "description": "Retrieves available templates for environment provisioning in a location.",
        "operationId": "GetProvisioningTemplates",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "location",
            "description": "The location name.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvironmentTemplatePagedCollection"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Provisioning.Read"
      }
    },
    "/environmentmanagement/environmentGroupOperations/{operationId}": {
      "get": {
        "tags": [
          "EnvironmentGroups"
        ],
        "summary": "Get operation status.",
        "operationId": "GetEnvironmentGroupOperation",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "operationId",
            "description": "The operation ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/environmentmanagement/environmentGroups": {
      "post": {
        "tags": [
          "EnvironmentGroups"
        ],
        "summary": "Create the environment group.",
        "operationId": "CreateEnvironmentGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The group.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvironmentGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EnvironmentGroup"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      },
      "get": {
        "tags": [
          "EnvironmentGroups"
        ],
        "summary": "List the environment groups.",
        "operationId": "ListEnvironmentGroups",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EnvironmentGroupResponseWithOdataContinuation"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/environmentmanagement/environmentGroups/{groupId}": {
      "get": {
        "tags": [
          "EnvironmentGroups"
        ],
        "summary": "Get the environment group.",
        "operationId": "GetEnvironmentGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "The group ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EnvironmentGroup"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      },
      "put": {
        "tags": [
          "EnvironmentGroups"
        ],
        "summary": "Update the environment group.",
        "operationId": "UpdateEnvironmentGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "The group ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The group.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvironmentGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EnvironmentGroup"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "EnvironmentGroups"
        ],
        "summary": "Delete the environment group.",
        "operationId": "DeleteEnvironmentGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "The group ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/environmentmanagement/environmentGroups/{groupId}/addEnvironment/{environmentId}": {
      "post": {
        "tags": [
          "EnvironmentGroups"
        ],
        "summary": "Add the environment to the environment group.",
        "operationId": "AddEnvironmentToGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "The group ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/environmentmanagement/environmentGroups/{groupId}/removeEnvironment/{environmentId}": {
      "post": {
        "tags": [
          "EnvironmentGroups"
        ],
        "summary": "Remove the environment from the environment group.",
        "operationId": "RemoveEnvironmentFromGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "The group ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/environmentmanagement/environments": {
      "get": {
        "tags": [
          "Environments"
        ],
        "summary": "Retrieve a list of environments (preview).",
        "description": "Returns a list of environments available for the authenticated user.",
        "operationId": "ListEnvironmentsForUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "ids",
            "description": "Comma-separated list of environment IDs to retrieve. When specified, only environments matching these IDs are returned.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "OData filter expression to restrict the set of environments returned. Supported filter properties include `dataverseId`, `type`, `geo`, `state`, `environmentGroupId`, and `domainName`.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Comma-separated list of properties to include in the response.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Maximum number of environments to return.",
            "type": "integer",
            "minimum": 0
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "Number of environments to skip before returning results.",
            "type": "integer",
            "minimum": 0
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "OData order-by expression for sorting the results.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of environments.",
            "schema": {
              "$ref": "#/definitions/EnvironmentList"
            }
          }
        }
      }
    },
    "/environmentmanagement/environments/{environmentId}": {
      "get": {
        "tags": [
          "Environments"
        ],
        "summary": "Retrieves a single environment by ID (preview).",
        "operationId": "GetEnvironmentByIdForUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Comma-separated list of properties to include in the response.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EnvironmentResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "EnvironmentDelete"
        ],
        "summary": "Deletes the specified environment by ID (Preview).",
        "description": "Deletes the specified environment by ID.",
        "operationId": "DeleteEnvironmentByID",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The ID of Environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ValidateOnly",
            "description": "If true, validates the request without executing it.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ValidateProperties",
            "description": "Comma-separated property names to validate with ValidateOnly.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-AccessControl.Scope": "/tenants/{tenantId}/environments/{environmentId}",
        "x-AccessControl.Permission": "EnvironmentManagement.Environment.Delete"
      }
    }
  },
  "definitions": {
    "CreateEnvironmentManagementSettingResponse": {
      "description": "Represents the response object for APIs in this service.",
      "type": "object",
      "properties": {
        "objectResult": {
          "description": "Gets or sets the ID of the entity being created in the response",
          "type": "string"
        },
        "errors": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "nextLink": {
          "format": "uri",
          "description": "Gets or sets the next link if there are more records to be returned",
          "type": "string"
        },
        "responseMessage": {
          "description": "Gets or sets the error message.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "EnvironmentManagementSetting": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "tenantId": {
          "format": "uuid",
          "type": "string"
        },
        "enableIpBasedStorageAccessSignatureRule": {
          "type": "boolean"
        },
        "allowedIpRangeForStorageAccessSignatures": {
          "type": "string"
        },
        "ipBasedStorageAccessSignatureMode": {
          "format": "int32",
          "type": "integer"
        },
        "loggingEnabledForIpBasedStorageAccessSignature": {
          "type": "boolean"
        },
        "powerPages_AllowMakerCopilotsForNewSites": {
          "type": "string"
        },
        "powerPages_AllowMakerCopilotsForExistingSites": {
          "type": "string"
        },
        "powerPages_AllowProDevCopilotsForSites": {
          "type": "string"
        },
        "powerPages_AllowSiteCopilotForSites": {
          "type": "string"
        },
        "powerPages_AllowSearchSummaryCopilotForSites": {
          "type": "string"
        },
        "powerPages_AllowListSummaryCopilotForSites": {
          "type": "string"
        },
        "powerPages_AllowIntelligentFormsCopilotForSites": {
          "type": "string"
        },
        "powerPages_AllowSummarizationAPICopilotForSites": {
          "type": "string"
        },
        "powerPages_AllowNonProdPublicSites": {
          "type": "string"
        },
        "powerPages_AllowNonProdPublicSites_Exemptions": {
          "type": "string"
        },
        "powerPages_AllowProDevCopilotsForEnvironment": {
          "type": "string"
        },
        "powerApps_ChartVisualization": {
          "type": "boolean"
        },
        "powerApps_FormPredictSmartPaste": {
          "type": "boolean"
        },
        "powerApps_FormPredictAutomatic": {
          "type": "boolean"
        },
        "powerApps_CopilotChat": {
          "type": "boolean"
        },
        "powerApps_NLSearch": {
          "type": "boolean"
        },
        "powerApps_EnableFormInsights": {
          "type": "boolean"
        },
        "powerApps_AllowCodeApps": {
          "type": "boolean"
        },
        "copilotStudio_ConnectedAgents": {
          "type": "boolean"
        },
        "copilotStudio_CodeInterpreter": {
          "type": "boolean"
        },
        "copilotStudio_ConversationAuditLoggingEnabled": {
          "type": "boolean"
        },
        "d365CustomerService_Copilot": {
          "type": "boolean"
        },
        "d365CustomerService_AIAgents": {
          "type": "boolean"
        },
        "copilotStudio_ComputerUseAppAllowlist": {
          "type": "string"
        },
        "copilotStudio_ComputerUseWebAllowlist": {
          "type": "string"
        },
        "copilotStudio_ComputerUseSharedMachines": {
          "type": "boolean"
        },
        "copilotStudio_ComputerUseCredentialsAllowed": {
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "ErrorDetail": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "target": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          }
        }
      },
      "additionalProperties": false
    },
    "GetEnvironmentManagementSettingResponse": {
      "description": "Represents the response object for APIs in this service.",
      "type": "object",
      "properties": {
        "objectResult": {
          "description": "Gets or sets the fields for the entities being queried.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnvironmentManagementSetting"
          }
        },
        "errors": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "nextLink": {
          "format": "uri",
          "description": "Gets or sets the next link if there are more records to be returned",
          "type": "string"
        },
        "responseMessage": {
          "description": "Gets or sets the error message.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "EnterprisePolicyLinkStatus": {
      "description": "The status of the link between an environment and an enterprise policy.",
      "enum": [
        "Linking",
        "Unlinking",
        "Linked",
        "Failed",
        "LinkingOnline",
        "UnlinkingOnline"
      ],
      "type": "string"
    },
    "EnterprisePolicyLink": {
      "description": "A link between the environment and an Azure enterprise policy resource.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the enterprise policy.",
          "type": "string"
        },
        "resourceId": {
          "description": "The fully-qualified Azure resource ID of the enterprise policy.",
          "type": "string"
        },
        "status": {
          "$ref": "#/definitions/EnterprisePolicyLinkStatus"
        },
        "error": {
          "description": "Error details when the link status is Failed.",
          "type": "string"
        }
      }
    },
    "EnterprisePolicies": {
      "description": "The set of enterprise policies linked to the environment.",
      "type": "object",
      "properties": {
        "encryption": {
          "$ref": "#/definitions/EnterprisePolicyLink"
        },
        "identity": {
          "$ref": "#/definitions/EnterprisePolicyLink"
        },
        "networkInjection": {
          "$ref": "#/definitions/EnterprisePolicyLink"
        },
        "privateEndpoint": {
          "$ref": "#/definitions/EnterprisePolicyLink"
        }
      }
    },
    "FinOpsMetadata": {
      "description": "Metadata describing a linked FinOps environment.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The linked FinOps environment type.",
          "type": "string"
        },
        "id": {
          "description": "The linked FinOps environment ID.",
          "type": "string"
        },
        "url": {
          "description": "The linked FinOps environment URL.",
          "type": "string"
        }
      }
    },
    "EnvironmentResponse": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the environment.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the environment.",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the tenant that the environment belongs to.",
          "type": "string"
        },
        "type": {
          "description": "The type (SKU) of the environment.",
          "type": "string"
        },
        "geo": {
          "description": "The geographical region of the environment.",
          "type": "string"
        },
        "environmentGroupId": {
          "description": "The ID of the environment group to which this environment belongs.",
          "type": "string"
        },
        "azureRegion": {
          "description": "The Azure region of the environment.",
          "type": "string"
        },
        "clusterCategory": {
          "description": "The cluster category the environment is in.",
          "type": "string"
        },
        "createdBy": {
          "$ref": "#/definitions/Principal"
        },
        "createdFor": {
          "$ref": "#/definitions/Principal"
        },
        "createdDateTime": {
          "format": "date-time",
          "description": "The creation date and time of the environment.",
          "type": "string"
        },
        "deletedDateTime": {
          "format": "date-time",
          "description": "The deletion date and time of the environment.",
          "type": "string"
        },
        "dataverseId": {
          "description": "The ID of the Dataverse database (organization) associated with the environment.",
          "type": "string"
        },
        "url": {
          "description": "The URL of the Dataverse database associated with the environment.",
          "type": "string"
        },
        "version": {
          "description": "The version of the Dataverse database associated with the environment.",
          "type": "string"
        },
        "domainName": {
          "description": "The domain name of the Dataverse database associated with the environment.",
          "type": "string"
        },
        "securityGroupId": {
          "description": "The security group that controls access to the environment.",
          "type": "string"
        },
        "connectedGroupId": {
          "description": "The ID of the AAD group connected to the environment.",
          "type": "string"
        },
        "state": {
          "description": "The current state of the environment.",
          "type": "string"
        },
        "adminMode": {
          "description": "Indicates whether admin-only mode is enabled or disabled for the environment.",
          "type": "string"
        },
        "backgroundOperationsState": {
          "description": "Indicates whether background operations are enabled or disabled for the environment.",
          "type": "string"
        },
        "protectionLevel": {
          "description": "The protection level applied to the environment.",
          "type": "string"
        },
        "retentionDetails": {
          "description": "The retention details of the environment.",
          "type": "object",
          "properties": {
            "retentionPeriod": {
              "description": "The retention period of the environment.",
              "type": "string"
            },
            "availableFromDateTime": {
              "format": "date-time",
              "description": "The date and time from which the environment is available for recovery.",
              "type": "string"
            }
          }
        },
        "finOpsMetadata": {
          "$ref": "#/definitions/FinOpsMetadata"
        },
        "enterprisePolicies": {
          "$ref": "#/definitions/EnterprisePolicies"
        }
      }
    },
    "EnvironmentList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnvironmentResponse"
          }
        },
        "@odata.nextlink": {
          "format": "uri",
          "description": "Opaque URL to retrieve the next page of results. Present only when additional pages are available.",
          "type": "string"
        }
      }
    },
    "Principal": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "tenantId": {
          "type": "string"
        },
        "userPrincipalName": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "ProblemDetails": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "status": {
          "format": "int32",
          "type": "integer"
        },
        "detail": {
          "type": "string"
        },
        "instance": {
          "type": "string"
        },
        "extensions": {
          "type": "object",
          "additionalProperties": {},
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "EnvironmentGroupResponseWithOdataContinuation": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnvironmentGroup"
          }
        },
        "@odata.nextLink": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "ValidationResponse": {
      "description": "Represents the response for validation of an operation.",
      "type": "object",
      "properties": {
        "errorDetail": {
          "$ref": "#/definitions/ErrorInfo"
        }
      },
      "additionalProperties": false
    },
    "UserIdentity": {
      "description": "Represents the identity of a user.",
      "type": "object",
      "properties": {
        "userId": {
          "description": "The ID of the user.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the user.",
          "type": "string"
        },
        "tenantId": {
          "description": "The tenant ID of the user.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "TemplateAvailability": {
      "type": "object",
      "properties": {
        "environmentSku": {
          "$ref": "#/definitions/EnvironmentSku"
        },
        "isDisabled": {
          "type": "boolean"
        },
        "disabledReason": {
          "$ref": "#/definitions/DisabledReason"
        }
      },
      "additionalProperties": false
    },
    "StateChangeRequest": {
      "description": "Represents a request to change the state of an environment.",
      "type": "object",
      "properties": {
        "reason": {
          "description": "The reason of this state change.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "OperationResponse": {
      "description": "Represents the response object for APIs in this service.",
      "type": "object",
      "properties": {
        "objectResult": {
          "description": "Gets or sets the response's object"
        },
        "errors": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "nextLink": {
          "format": "uri",
          "description": "Gets or sets the next link if there are more records to be returned",
          "type": "string"
        },
        "debugErrors": {
          "description": "Gets or sets debug errors, that are only shown for private/local testing",
          "type": "string"
        },
        "responseMessage": {
          "description": "Gets or sets the error message.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "StageStatus": {
      "description": "The stage status of an operation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of stage.",
          "type": "string"
        },
        "status": {
          "description": "The status of stage.",
          "type": "string"
        },
        "startTime": {
          "format": "date-time",
          "description": "The start time of stage.",
          "type": "string"
        },
        "endTime": {
          "format": "date-time",
          "description": "The end time of stage.",
          "type": "string"
        },
        "errorDetail": {
          "$ref": "#/definitions/ErrorInfo"
        }
      },
      "additionalProperties": false
    },
    "ProtectionLevel": {
      "description": "The environment governance protection level.",
      "enum": [
        "NotSpecified",
        "Basic",
        "Standard"
      ],
      "type": "string"
    },
    "OperationStatus": {
      "description": "The status of operation.",
      "enum": [
        "Queued",
        "InProgress",
        "Succeeded",
        "ValidationFailed",
        "Failed",
        "NoOperation",
        "ValidationPassed"
      ],
      "type": "string"
    },
    "OperationExecutionResultPagedCollection": {
      "type": "object",
      "properties": {
        "collection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationExecutionResult"
          }
        },
        "continuationToken": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "OperationExecutionResult": {
      "description": "Represents the result of an operation execution.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the operation.",
          "type": "string"
        },
        "status": {
          "$ref": "#/definitions/OperationStatus"
        },
        "operationId": {
          "description": "The ID of the operation.",
          "type": "string"
        },
        "startTime": {
          "format": "date-time",
          "description": "The start time of the operation.",
          "type": "string"
        },
        "endTime": {
          "format": "date-time",
          "description": "The end time of the operation.",
          "type": "string"
        },
        "updatedEnvironment": {
          "$ref": "#/definitions/Environment"
        },
        "requestedBy": {
          "$ref": "#/definitions/UserIdentity"
        },
        "errorDetail": {
          "$ref": "#/definitions/ErrorInfo"
        },
        "stageStatuses": {
          "description": "The list of State statuses associated with the operation.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StageStatus"
          }
        }
      },
      "additionalProperties": false
    },
    "ModifyEnvironmentSkuRequest": {
      "description": "Represents request to change the sku of an environment.",
      "required": [
        "environmentSku"
      ],
      "type": "object",
      "properties": {
        "environmentSku": {
          "$ref": "#/definitions/EnvironmentSku"
        }
      },
      "additionalProperties": false
    },
    "LocationPagedCollection": {
      "type": "object",
      "properties": {
        "collection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Location"
          }
        },
        "continuationToken": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "Location": {
      "description": "Represents a location/geo for environment provisioning.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The location name.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name.",
          "type": "string"
        },
        "code": {
          "description": "The location code.",
          "type": "string"
        },
        "isDefault": {
          "description": "Whether this is the default location.",
          "type": "boolean"
        },
        "isDisabled": {
          "description": "Whether this location is disabled.",
          "type": "boolean"
        },
        "canProvisionDatabase": {
          "description": "Whether database provisioning is allowed.",
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "EnvironmentGroup": {
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "parentGroupId": {
          "format": "uuid",
          "type": "string"
        },
        "childrenGroupIds": {
          "type": "array",
          "items": {
            "format": "uuid",
            "type": "string"
          }
        },
        "createdTime": {
          "format": "date-time",
          "type": "string"
        },
        "createdBy": {
          "$ref": "#/definitions/Principal"
        },
        "lastModifiedTime": {
          "format": "date-time",
          "type": "string"
        },
        "lastModifiedBy": {
          "$ref": "#/definitions/Principal"
        }
      },
      "additionalProperties": false
    },
    "Identity": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "tenantId": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "ForceFailoverRequest": {
      "description": "Request model for force failover operation on an environment.",
      "required": [
        "lastSyncTime"
      ],
      "type": "object",
      "properties": {
        "lastSyncTime": {
          "format": "date-time",
          "description": "Last sync time used for the force failover operation.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "ErrorInfo": {
      "description": "Represents error information for an operation.",
      "type": "object",
      "properties": {
        "code": {
          "description": "The error Code.",
          "type": "string"
        },
        "fieldErrors": {
          "description": "The detailed error.",
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "additionalProperties": false
    },
    "EnvironmentTemplatePagedCollection": {
      "type": "object",
      "properties": {
        "collection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnvironmentTemplate"
          }
        },
        "continuationToken": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "EnvironmentTemplate": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "isCustomerEngagement": {
          "type": "boolean"
        },
        "isSupportedForResetOperation": {
          "type": "boolean"
        },
        "availability": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TemplateAvailability"
          }
        }
      },
      "additionalProperties": false
    },
    "EnvironmentSku": {
      "description": "The environment SKU.",
      "enum": [
        "NotSpecified",
        "Standard",
        "Premium",
        "Developer",
        "Basic",
        "Production",
        "Sandbox",
        "Trial",
        "Default",
        "Support",
        "SubscriptionBasedTrial",
        "Teams",
        "Platform"
      ],
      "type": "string"
    },
    "EnvironmentRestoreRequest": {
      "description": "Request model for restoring an environment to a previous backup.",
      "required": [
        "restorePointDateTime",
        "sourceEnvironmentId"
      ],
      "type": "object",
      "properties": {
        "restorePointDateTime": {
          "format": "date-time",
          "description": "Restore point date-time with timezone offset per RFC 3339.",
          "type": "string"
        },
        "skipAuditData": {
          "description": "A value indicating whether to skip audit data during the restore process.",
          "type": "boolean"
        },
        "sourceEnvironmentId": {
          "description": "The ID of the source environment from which the backup will be restored from.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "EnvironmentPagedCollection": {
      "type": "object",
      "properties": {
        "collection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Environment"
          }
        },
        "continuationToken": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "EnvironmentLanguagePagedCollection": {
      "type": "object",
      "properties": {
        "collection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnvironmentLanguage"
          }
        },
        "continuationToken": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "EnvironmentLanguage": {
      "type": "object",
      "properties": {
        "localeId": {
          "format": "int32",
          "type": "integer"
        },
        "localizedName": {
          "type": "string"
        },
        "isTenantDefault": {
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "EnvironmentCurrencyPagedCollection": {
      "type": "object",
      "properties": {
        "collection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnvironmentCurrency"
          }
        },
        "continuationToken": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "EnvironmentCurrency": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "symbol": {
          "type": "string"
        },
        "isTenantDefault": {
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "EnvironmentBackupPagedCollection": {
      "type": "object",
      "properties": {
        "collection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnvironmentBackup"
          }
        },
        "continuationToken": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "EnvironmentBackup": {
      "type": "object",
      "properties": {
        "backupPointDateTime": {
[...]
