{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Power Platform REST API - governance",
    "description": "Unified API for all administrative capabilities in Microsoft Power Platform.",
    "version": "2022-03-01-preview"
  },
  "host": "api.powerplatform.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/governance/ruleBasedPolicies": {
      "post": {
        "tags": [
          "RuleBasedPolicies"
        ],
        "summary": "Create rule based policy.",
        "description": "Creates a rule-based policy with rule sets and metadata.",
        "operationId": "CreateRuleBasedPolicy",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the policy.",
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          },
          "400": {
            "description": "Bad Request - The query parameters are invalid."
          },
          "401": {
            "description": "Unauthorized - Invalid credentials or missing authentication."
          },
          "404": {
            "description": "Not Found - The specified resource does not exist."
          },
          "500": {
            "description": "Internal Server Error - Unexpected server error."
          }
        }
      },
      "get": {
        "tags": [
          "RuleBasedPolicies"
        ],
        "summary": "List rule based policies.",
        "description": "List rule based policies available in the tenant.",
        "operationId": "ListRuleBasedPolicies",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of policies.",
            "schema": {
              "$ref": "#/definitions/ListPolicyResponse"
            }
          },
          "400": {
            "description": "Bad Request - The query parameters are invalid."
          },
          "401": {
            "description": "Unauthorized - Invalid credentials or missing authentication."
          },
          "404": {
            "description": "Not Found - The specified resource does not exist."
          },
          "500": {
            "description": "Internal Server Error - Unexpected server error."
          }
        }
      }
    },
    "/governance/ruleBasedPolicies/{policyId}": {
      "get": {
        "tags": [
          "RuleBasedPolicies"
        ],
        "summary": "Get rule based policy by ID.",
        "description": "Gets policy details by ID including rule sets and metadata.",
        "operationId": "GetRuleBasedPolicyByID",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyId",
            "description": "The unique identifier of the policy.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the policy.",
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          },
          "400": {
            "description": "Bad Request - The query parameters are invalid."
          },
          "401": {
            "description": "Unauthorized - Invalid credentials or missing authentication."
          },
          "404": {
            "description": "Not Found - The specified resource does not exist."
          },
          "500": {
            "description": "Internal Server Error - Unexpected server error."
          }
        }
      },
      "put": {
        "tags": [
          "RuleBasedPolicies"
        ],
        "summary": "Update rule based policy by ID.",
        "description": "Updates a policy by ID including rule sets and metadata.",
        "operationId": "UpdateRuleBasedPolicyByID",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyId",
            "description": "The unique identifier of the policy.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the policy.",
            "schema": {
              "$ref": "#/definitions/RuleAssignment"
            }
          },
          "400": {
            "description": "Bad Request - The query parameters are invalid."
          },
          "401": {
            "description": "Unauthorized - Invalid credentials or missing authentication."
          },
          "404": {
            "description": "Not Found - The specified resource does not exist."
          },
          "500": {
            "description": "Internal Server Error - Unexpected server error."
          }
        }
      }
    },
    "/governance/ruleBasedPolicies/{policyId}/assignments": {
      "get": {
        "tags": [
          "RuleBasedPolicies"
        ],
        "summary": "List rule based policy assignments for a specific policy.",
        "description": "Lists rule assignments for a policy with rule set details.",
        "operationId": "ListRuleAssignmentsByPolicyId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyId",
            "description": "The unique identifier of the policy.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeRuleSetCounts",
            "description": "Flag to include rule set counts in the response.",
            "required": true,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of policy assignments for the specified policy.",
            "schema": {
              "$ref": "#/definitions/RuleAssignmentsResponse"
            }
          },
          "400": {
            "description": "Bad Request - The query parameters are invalid."
          },
          "401": {
            "description": "Unauthorized - Invalid credentials or missing authentication."
          },
          "404": {
            "description": "Not Found - The specified policy does not exist."
          },
          "500": {
            "description": "Internal Server Error - Unexpected server error."
          }
        }
      }
    },
    "/governance/ruleBasedPolicies/{policyId}/environmentGroups/{groupId}/assignments": {
      "post": {
        "tags": [
          "RuleBasedPolicies"
        ],
        "summary": "Create environment group rule based assignment.",
        "description": "Creates a rule-based policy assignment for an environment group.",
        "operationId": "CreateEnviornmentGroupRuleBasedAssignment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyId",
            "description": "The unique identifier of the policy.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "groupId",
            "description": "The unique identifier of the environment group.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyAssignmentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the policy.",
            "schema": {
              "$ref": "#/definitions/RuleAssignment"
            }
          },
          "201": {
            "description": "Record created.",
            "schema": {
              "$ref": "#/definitions/RuleAssignment"
            }
          },
          "400": {
            "description": "Bad Request - The query parameters are invalid."
          },
          "401": {
            "description": "Unauthorized - Invalid credentials or missing authentication."
          },
          "404": {
            "description": "Not Found - The specified resource does not exist."
          },
          "500": {
            "description": "Internal Server Error - Unexpected server error."
          }
        }
      }
    },
    "/governance/ruleBasedPolicies/{policyId}/environments/{environmentId}/assignments": {
      "post": {
        "tags": [
          "RuleBasedPolicies"
        ],
        "summary": "Create environment rule based assignment.",
        "description": "Creates a rule-based policy assignment for an environment.",
        "operationId": "CreateEnvironmentRuleBasedAssignment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyId",
            "description": "The unique identifier of the policy.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "environmentId",
            "description": "The unique identifier of the environment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyAssignmentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the policy.",
            "schema": {
              "$ref": "#/definitions/RuleAssignment"
            }
          },
          "201": {
            "description": "Record created.",
            "schema": {
              "$ref": "#/definitions/RuleAssignment"
            }
          },
          "400": {
            "description": "Bad Request - The query parameters are invalid."
          },
          "401": {
            "description": "Unauthorized - Invalid credentials or missing authentication."
          },
          "404": {
            "description": "Not Found - The specified resource does not exist."
          },
          "500": {
            "description": "Internal Server Error - Unexpected server error."
          }
        }
      }
    },
    "/governance/ruleBasedPolicies/assignments": {
      "get": {
        "tags": [
          "RuleBasedPolicies"
        ],
        "summary": "List rule based policy assignments.",
        "description": "Lists rule assignments for a tenant with rule set details.",
        "operationId": "ListRuleAssignments",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "includeRuleSetCounts",
            "description": "Flag to include rule set counts in the response.",
            "required": true,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of policy assignments.",
            "schema": {
              "$ref": "#/definitions/RuleAssignmentsResponse"
            }
          },
          "400": {
            "description": "Bad Request - The query parameters are invalid."
          },
          "401": {
            "description": "Unauthorized - Invalid credentials or missing authentication."
          },
          "404": {
            "description": "Not Found - The specified resource does not exist."
          },
          "500": {
            "description": "Internal Server Error - Unexpected server error."
          }
        }
      }
    },
    "/governance/ruleBasedPolicies/environmentGroups/{environmentGroupId}/assignments": {
      "get": {
        "tags": [
          "RuleBasedPolicies"
        ],
        "summary": "List rule based policy assignments for a specific environment group.",
        "description": "Lists rule assignments for an environment group.",
        "operationId": "ListRuleAssignmentsByEnvironmentGroupId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentGroupId",
            "description": "The unique identifier of the environment group.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeRuleSetCounts",
            "description": "Flag to include rule set counts in the response.",
            "required": true,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of policy assignments for the specified policy.",
            "schema": {
              "$ref": "#/definitions/RuleAssignmentsResponse"
            }
          },
          "400": {
            "description": "Bad Request - The query parameters are invalid."
          },
          "401": {
            "description": "Unauthorized - Invalid credentials or missing authentication."
          },
          "404": {
            "description": "Not Found - The specified policy does not exist."
          },
          "500": {
            "description": "Internal Server Error - Unexpected server error."
          }
        }
      }
    },
    "/governance/ruleBasedPolicies/environments/{environmentId}/assignments": {
      "get": {
        "tags": [
          "RuleBasedPolicies"
        ],
        "summary": "List rule based policy assignments for a specific environment.",
        "description": "Lists rule assignments for a specific environment.",
        "operationId": "ListRuleAssignmentsByEnvironmentId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The unique identifier of the environment group.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeRuleSetCounts",
            "description": "Flag to include rule set counts in the response.",
            "required": true,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of policy assignments for the specified policy.",
            "schema": {
              "$ref": "#/definitions/RuleAssignmentsResponse"
            }
          },
          "400": {
            "description": "Bad Request - The query parameters are invalid."
          },
          "401": {
            "description": "Unauthorized - Invalid credentials or missing authentication."
          },
          "404": {
            "description": "Not Found - The specified policy does not exist."
          },
          "500": {
            "description": "Internal Server Error - Unexpected server error."
          }
        }
      }
    },
    "/governance/environments/{environmentId}/environmentGroups/{groupId}/ruleSets": {
      "get": {
        "tags": [
          "RuleSets"
        ],
        "summary": "Get Rule Set for Environment Group.",
        "description": "Returns the Rule Set for the given environment group.",
        "operationId": "GetRuleSet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The unique identifier of the environment.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "groupId",
            "description": "The unique identifier of the environment group.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved Rule Set.",
            "schema": {
              "$ref": "#/definitions/MgGovODataResponse"
            }
          },
          "204": {
            "description": "No Content - Rule Set not found."
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/MgGovErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/MgGovErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/MgGovErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/MgGovErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "RuleSets"
        ],
        "summary": "Create Rule Set.",
        "description": "Creates the Rule Set for the environment group.",
        "operationId": "CreateRuleSet",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The unique identifier of the environment.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "groupId",
            "description": "The unique identifier of the environment group.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RuleSetDto"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully created Rule Set.",
            "schema": {
              "$ref": "#/definitions/RuleSetDto"
            }
          },
          "204": {
            "description": "No Content."
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/MgGovErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/MgGovErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/MgGovErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/MgGovErrorResponse"
            }
          }
        }
      }
    },
    "/governance/ruleSets": {
      "get": {
        "tags": [
          "RuleSets"
        ],
        "summary": "List Rule Sets for Tenant.",
        "description": "Returns all the Rule Sets under the given tenant with OData pagination support.",
        "operationId": "GetRuleSetListForTenant",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "OData select query option.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "OData filter query option.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "OData expand query option.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$skiptoken",
            "description": "OData skip token for pagination.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "OData top query option to limit results.",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved Rule Set list.",
            "schema": {
              "$ref": "#/definitions/MgGovODataResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/MgGovErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/MgGovErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/MgGovErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/MgGovErrorResponse"
            }
          }
        }
      }
    },
    "/governance/ruleSets/{ruleSetId}": {
      "put": {
        "tags": [
          "RuleSets"
        ],
        "summary": "Update Rule Set.",
        "description": "Updates the Rule Set.",
        "operationId": "UpdateRuleSet",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "ruleSetId",
            "description": "The unique identifier of the Rule Set.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RuleSetDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated Rule Set.",
            "schema": {
              "$ref": "#/definitions/RuleSetDto"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/MgGovErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/MgGovErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/MgGovErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/MgGovErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "RuleSets"
        ],
        "summary": "Delete Rule Set.",
        "description": "Deletes the Rule Set. Only tenant admins can delete.",
        "operationId": "DeleteRuleSet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "ruleSetId",
            "description": "The unique identifier of the Rule Set.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted Rule Set."
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/MgGovErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/MgGovErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/MgGovErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/MgGovErrorResponse"
            }
          }
        }
      }
    },
    "/governance/crossTenantConnectionReports": {
      "get": {
        "tags": [
          "CrossTenantConnectionReports"
        ],
        "summary": "List cross-tenant connection reports for a tenant.",
        "operationId": "ListCrossTenantConnectionReports",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/CrossTenantConnectionReportsResponseWithOdataContinuation"
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          }
        }
      },
      "post": {
        "tags": [
          "CrossTenantConnectionReports"
        ],
        "summary": "Generate or fetch a cross-tenant connection report.",
        "operationId": "CreateCrossTenantConnectionReport",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/CrossTenantConnectionReport"
            }
          },
          "202": {
            "description": "Accepted.",
            "schema": {
              "$ref": "#/definitions/CrossTenantConnectionReport"
            }
          }
        }
      }
    },
    "/governance/crossTenantConnectionReports/{reportId}": {
      "get": {
        "tags": [
          "CrossTenantConnectionReports"
        ],
        "summary": "Get a cross-tenant connection report by report ID for a tenant.",
        "operationId": "GetCrossTenantConnectionReport",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "reportId",
            "description": "The report ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2022-03-01-preview"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/CrossTenantConnectionReport"
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          }
        }
      }
    }
  },
  "definitions": {
    "RuleAssignmentsResponse": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RuleAssignment"
          }
        }
      }
    },
    "ListPolicyResponse": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Policy"
          }
        }
      }
    },
    "RuleAssignment": {
      "type": "object",
      "properties": {
        "ruleSetCount": {
          "description": "The count of rule sets assigned.",
          "type": "integer"
        },
        "policyId": {
          "description": "The unique identifier of the policy.",
          "type": "string"
        },
        "tenantId": {
          "description": "The unique identifier of the tenant.",
          "type": "string"
        },
        "resourceId": {
          "description": "The unique identifier of the resource.",
          "type": "string"
        },
        "resourceType": {
          "description": "The type of resource assigned to the rule.",
          "enum": [
            "NotSpecified",
            "EnvironmentGroup",
            "Environment"
          ],
          "type": "string",
          "example": "EnvironmentGroup"
        }
      }
    },
    "PolicyRequest": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the policy.",
          "type": "string",
          "example": "Default Policy Name"
        },
        "ruleSets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RuleSet"
          }
        }
      }
    },
    "Policy": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique identifier of the policy assignment.",
          "type": "string",
          "example": "0946e801-254d-4698-b1e6-db43a52c017c"
        },
        "tenantId": {
          "description": "The unique identifier of the tenant.",
          "type": "string",
          "example": "d8d86e5f-13e9-4bb5-bb94-0f99b507cd15"
        },
        "name": {
          "description": "The name of the policy.",
          "type": "string",
          "example": "Default Policy Name"
        },
        "lastModified": {
          "format": "date-time",
          "description": "The date and time when the policy was last modified.",
          "type": "string",
          "example": "2025-04-11T13:41:32.0000000+00:00"
        },
        "ruleSets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RuleSet"
          }
        },
        "ruleSetCount": {
          "description": "The number of rule sets associated with this policy.",
          "type": "integer",
          "example": 2
        }
      }
    },
    "RuleSet": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique identifier of the rule set.",
          "type": "string",
          "example": "ConnectorManagement"
        },
        "version": {
          "description": "The version of the rule set.",
          "type": "string",
          "example": "1.0"
        },
        "inputs": {
          "description": "The inputs for the rule set, which may vary based on the rule.",
          "type": "object",
          "example": {
            "AllowedConnectorList": [ ],
            "tsg": ""
          }
        }
      }
    },
    "PolicyAssignmentOverride": {
      "required": [
        "resourceId",
        "resourceType",
        "behaviorType"
      ],
      "type": "object",
      "properties": {
        "resourceId": {
          "description": "Resource Id ex. the environment group id.",
          "type": "string"
        },
        "resourceType": {
          "description": "The Resource type.",
          "enum": [
            "NotSpecified",
            "EnvironmentGroup",
            "Environment",
            "Tenant"
          ],
          "type": "string"
        },
        "behaviorType": {
          "description": "The Behavior type.",
          "enum": [
            "NotSpecified",
            "Include",
            "Exclude"
          ],
          "type": "string"
        }
      }
    },
    "PolicyAssignmentRequest": {
      "type": "object",
      "properties": {
        "assignmentOverrides": {
          "description": "List of policy assignment overrides.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PolicyAssignmentOverride"
          }
        }
      }
    },
    "MgGovRuleSetType": {
      "description": "The type of the Rule Set.",
      "enum": [
        "NotSpecified",
        "Sharing",
        "AdminDigest",
        "SolutionChecker",
        "MakerOnboarding",
        "Lifecycle",
        "Copilot",
        "CrossGeoCopilotDataMovement",
        "GenerativeAISettings",
        "CopilotAuth",
        "FlowAutomationRestrictions"
      ],
      "type": "string",
      "example": "Sharing"
    },
    "MgGovResourceType": {
      "description": "The type of resource.",
      "enum": [
        "NotSpecified",
        "Flow",
        "App",
        "AuthoringBot",
        "UsersBot"
      ],
      "type": "string",
      "example": "App"
    },
    "MgGovFilterType": {
      "description": "The type of environment filter.",
      "enum": [
        "NotSpecified",
        "Include",
        "Exclude"
      ],
      "type": "string",
      "example": "Include"
    },
    "MgGovRule": {
      "description": "A rule definition.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The rule ID.",
          "type": "string",
          "example": "rule-001"
        },
        "value": {
          "description": "The rule value.",
          "type": "string",
          "example": "enabled"
        }
      }
    },
    "MgGovEnvironmentValues": {
      "description": "Environment information.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the environment.",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000004"
        },
        "type": {
          "description": "The type of the environment.",
          "type": "string",
          "example": "EnvironmentGroup"
        },
        "name": {
          "description": "The name of the environment.",
          "type": "string",
          "example": "Production Environment Group"
        }
      }
    },
    "MgGovPolicyEnvironmentFilter": {
      "description": "Defines the environment filters.",
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/MgGovFilterType"
        },
        "values": {
          "description": "The environment information.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MgGovEnvironmentValues"
          }
        }
      }
    },
    "RuleSetParameters": {
      "description": "Parameters for a Rule Set.",
      "required": [
        "type",
        "resourceType"
      ],
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/MgGovRuleSetType"
        },
        "resourceType": {
          "$ref": "#/definitions/MgGovResourceType"
        },
        "value": {
          "description": "The rule values.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MgGovRule"
          }
        }
      }
    },
    "RuleSetDto": {
      "description": "Rule Set data transfer object.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the Rule Set.",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000003"
        },
        "lastModified": {
          "format": "date-time",
          "description": "The last modified timestamp.",
          "type": "string",
          "example": "2024-01-15T10:30:00.0000000+00:00"
        },
        "environmentFilter": {
          "$ref": "#/definitions/MgGovPolicyEnvironmentFilter"
        },
        "parameters": {
          "description": "The Rule Set parameters.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RuleSetParameters"
          }
        }
      }
    },
    "MgGovODataResponse": {
      "description": "OData response wrapper with continuation support.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The array of Rule Sets.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RuleSetDto"
          }
        },
        "@odata.nextLink": {
          "description": "The link to the next page of results.",
          "type": "string",
          "example": "https://api.powerplatform.com/governance/ruleSets?$skiptoken=abc123"
        }
      }
    },
    "MgGovErrorResponse": {
      "description": "Standard error response.",
      "type": "object",
      "properties": {
        "error": {
          "type": "object",
          "properties": {
            "code": {
              "description": "Error code.",
              "type": "string",
              "example": "BadRequest"
            },
            "message": {
              "description": "Error message.",
              "type": "string",
              "example": "The request was invalid."
            }
          }
        }
      }
    },
    "CrossTenantConnection": {
      "required": [
        "tenantId",
        "connectionType"
      ],
      "type": "object",
      "properties": {
        "tenantId": {
          "format": "uuid",
          "description": "The Azure AD tenant ID to or from which the cross-tenant connection occurred.",
          "type": "string"
        },
        "connectionType": {
          "description": "The direction of the cross-tenant connection.",
          "enum": [
            "Inbound",
            "Outbound"
          ],
          "type": "string"
        }
      }
    },
    "CrossTenantConnectionReport": {
      "required": [
        "tenantId",
        "reportId",
        "requestDate",
        "status",
        "startDate",
        "endDate"
      ],
      "type": "object",
      "properties": {
        "tenantId": {
          "format": "uuid",
          "description": "The Azure AD tenant ID for which the report was generated.",
          "type": "string"
        },
        "reportId": {
          "format": "uuid",
          "description": "The report ID.",
          "type": "string"
        },
        "requestDate": {
          "format": "date-time",
          "description": "The date when the cross-tenant connection report was requested.",
          "type": "string"
        },
        "startDate": {
          "format": "date-time",
          "description": "The start of the report date window.",
          "type": "string"
        },
        "endDate": {
          "format": "date-time",
          "description": "The end of the report date window.",
          "type": "string"
        },
        "status": {
          "enum": [
            "Received",
            "InProgress",
            "Completed",
            "Failed"
          ],
          "type": "string"
        },
        "connections": {
          "description": "The page of cross-tenant connections occurring within the report date window.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CrossTenantConnection"
          }
        },
        "@odata.nextLink": {
          "description": "Next page URI for additional cross-tenant connections.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "CrossTenantConnectionReportsResponseWithOdataContinuation": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The cross-tenant connection reports for the tenant.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CrossTenantConnectionReport"
          }
        },
        "@odata.nextLink": {
          "description": "The URI of the next page of the list response.",
          "type": "string"
        }
      },
      "additionalProperties": false
    }
  },
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize?resource=https://api.powerplatform.com",
      "scopes": {
        ".default": ".default"
      },
      "description": "Microsoft Entra ID OAuth2"
    }
  },
  "security": [
    {
      "oauth2": [
        ".default"
      ]
    }
  ]
}