{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Power Platform REST API",
    "description": "Unified API for all administrative capabilities in Microsoft Power Platform",
    "version": "2021-10-01-preview"
  },
  "host": "api.powerplatform.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/licensing/billingPolicies": {
      "get": {
        "tags": [
          "BillingPolicy"
        ],
        "operationId": "ListBillingPolicies",
        "summary": "Get the list of billing policy for the tenant.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "tenantId",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The requested API version",
            "type": "string",
            "default": "1.0"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Top limit of results",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BillingPolicyResponseModelResponseWithOdataContinuation"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "BillingPolicy"
        ],
        "operationId": "CreateBillingPolicy",
        "summary": "Create billing policy.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "tenantId",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The Billing Policy",
            "schema": {
              "$ref": "#/definitions/BillingPolicyPostRequestModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully created",
            "schema": {
              "$ref": "#/definitions/BillingPolicyResponseModel"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/licensing/billingPolicies/{billingPolicyId}": {
      "get": {
        "tags": [
          "BillingPolicy"
        ],
        "operationId": "GetBillingPolicy",
        "summary": "Get billing policy.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "billingPolicyId",
            "description": "The Billing Policy Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "tenantId",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BillingPolicyResponseModel"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "BillingPolicy"
        ],
        "operationId": "UpdateBillingPolicy",
        "summary": "Update billing policy.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "billingPolicyId",
            "description": "The Billing Policy Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "tenantId",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The Billing Policy",
            "schema": {
              "$ref": "#/definitions/BillingPolicyPutRequestModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BillingPolicyResponseModel"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "BillingPolicy"
        ],
        "operationId": "DeleteBillingPolicy",
        "summary": "Delete billing policy.",
        "parameters": [
          {
            "in": "path",
            "name": "billingPolicyId",
            "description": "The Billing Policy Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "tenantId",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/licensing/billingPolicies/{billingPolicyId}/environments": {
      "get": {
        "tags": [
          "BillingPolicyEnvironment"
        ],
        "operationId": "ListBillingPolicyEnvironments",
        "summary": "Get the list environments which are linked to billing policy.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "billingPolicyId",
            "description": "The billing policy Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "tenantId",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BillingPolicyEnvironmentResponseModelV1ResponseWithOdataContinuation"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/licensing/billingPolicies/{billingPolicyId}/environments/{environmentId}": {
      "get": {
        "tags": [
          "BillingPolicyEnvironment"
        ],
        "operationId": "GetBillingPolicyEnvironment",
        "summary": "Get the environment which is linked to billing policy",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "billingPolicyId",
            "description": "The billing policy Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "tenantId",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BillingPolicyEnvironmentResponseModelV1"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/licensing/billingPolicies/{billingPolicyId}/environments/add": {
      "post": {
        "tags": [
          "BillingPolicyEnvironment"
        ],
        "operationId": "AddBillingPolicyEnvironment",
        "summary": "Link billing policy with environment ids.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "billingPolicyId",
            "description": "The billing policy Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "tenantId",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Model to represents the list of environments to be linked",
            "schema": {
              "$ref": "#/definitions/BillingPolicyEnvironmentAddRequestModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/licensing/billingPolicies/{billingPolicyId}/environments/remove": {
      "post": {
        "tags": [
          "BillingPolicyEnvironment"
        ],
        "operationId": "RemoveBillingPolicyEnvironment",
        "summary": "Unlink billing policy with environment ids.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "billingPolicyId",
            "description": "The billing policy Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "tenantId",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Model to represents the list of environments to be unlinked",
            "schema": {
              "$ref": "#/definitions/BillingPolicyEnvironmentRemoveRequestModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/licensing/environments/{environmentId}/billingPolicy": {
      "get": {
        "tags": [
          "EnvironmentBillingPolicy"
        ],
        "operationId": "GetEnvironmentBillingPolicy",
        "summary": "Get the linked billing policy details for environment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "tenantId",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BillingPolicyResponseModel"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {
    "BillingAssignmentMode": {
      "enum": [
        "Auto",
        "AdminAssigned",
        "IsvAssigned"
      ],
      "type": "string"
    },
    "BillingInstrumentModel": {
      "type": "object",
      "properties": {
        "subscriptionId": {
          "type": "string"
        },
        "resourceGroup": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "BillingPolicyEnvironmentAddRequestModel": {
      "type": "object",
      "properties": {
        "environmentIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BillingPolicyEnvironmentRemoveRequestModel": {
      "type": "object",
      "properties": {
        "environmentIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BillingPolicyEnvironmentResponseModelV1": {
      "type": "object",
      "properties": {
        "billingPolicyId": {
          "type": "string"
        },
        "environmentId": {
          "type": "string"
        }
      }
    },
    "BillingPolicyEnvironmentResponseModelV1ResponseWithOdataContinuation": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BillingPolicyEnvironmentResponseModelV1"
          }
        },
        "@odata.nextLink": {
          "type": "string"
        }
      }
    },
    "BillingPolicyPostRequestModel": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "provider": {
          "$ref": "#/definitions/ProviderIdentityModel"
        },
        "billingInstrument": {
          "$ref": "#/definitions/BillingInstrumentModel"
        },
        "powerAutomatePolicy": {
          "$ref": "#/definitions/PowerAutomatePolicyModel"
        },
        "powerAppsPolicy": {
          "$ref": "#/definitions/PowerAppsPolicyModel"
        },
        "storagePolicy": {
          "$ref": "#/definitions/StoragePolicyModel"
        },
        "status": {
          "$ref": "#/definitions/BillingPolicyStatus"
        },
        "type": {
          "$ref": "#/definitions/BillingPolicyType"
        }
      }
    },
    "BillingPolicyPutRequestModel": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "status": {
          "$ref": "#/definitions/BillingPolicyStatus"
        },
        "powerAutomatePolicy": {
          "$ref": "#/definitions/PowerAutomatePolicyModel"
        },
        "powerAppsPolicy": {
          "$ref": "#/definitions/PowerAppsPolicyModel"
        },
        "storagePolicy": {
          "$ref": "#/definitions/StoragePolicyModel"
        }
      }
    },
    "BillingPolicyResponseModel": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/BillingPolicyType"
        },
        "status": {
          "$ref": "#/definitions/BillingPolicyStatus"
        },
        "location": {
          "type": "string"
        },
        "environmentPolicy": {
          "$ref": "#/definitions/EnvironmentPolicyModel"
        },
        "licensePolicy": {
          "$ref": "#/definitions/LicensePolicyModel"
        },
        "powerAutomatePolicy": {
          "$ref": "#/definitions/PowerAutomatePolicyModel"
        },
        "powerAppsPolicy": {
          "$ref": "#/definitions/PowerAppsPolicyModel"
        },
        "storagePolicy": {
          "$ref": "#/definitions/StoragePolicyModel"
        },
        "provider": {
          "$ref": "#/definitions/ProviderIdentityModel"
        },
        "billingInstrument": {
          "$ref": "#/definitions/BillingInstrumentModel"
        },
        "activationCode": {
          "type": "string"
        },
        "createdOn": {
          "format": "date-time",
          "type": "string"
        },
        "createdBy": {
          "$ref": "#/definitions/Principal"
        },
        "lastModifiedOn": {
          "format": "date-time",
          "type": "string"
        },
        "lastModifiedBy": {
          "$ref": "#/definitions/Principal"
        }
      }
    },
    "BillingPolicyResponseModelResponseWithOdataContinuation": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BillingPolicyResponseModel"
          }
        },
        "@odata.nextLink": {
          "type": "string"
        }
      }
    },
    "BillingPolicyStatus": {
      "enum": [
        "Enabled",
        "Disabled",
        "DisabledBySubscription",
        "Deleted"
      ],
      "type": "string"
    },
    "BillingPolicyType": {
      "enum": [
        "TenantOwned",
        "IsvOwned"
      ],
      "type": "string"
    },
    "EnvironmentCreationState": {
      "enum": [
        "Allow",
        "Disallow"
      ],
      "type": "string"
    },
    "EnvironmentPolicyModel": {
      "type": "object",
      "properties": {
        "environmentCreation": {
          "$ref": "#/definitions/EnvironmentCreationState"
        },
        "maxAllowedEnvironmentCount": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "LicensePolicyModel": {
      "type": "object",
      "properties": {
        "assignmentMode": {
          "$ref": "#/definitions/BillingAssignmentMode"
        },
        "overageState": {
          "$ref": "#/definitions/OverageState"
        },
        "allocations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LicenseSkuAllocationModel"
          }
        }
      }
    },
    "LicenseSkuAllocationModel": {
      "type": "object",
      "properties": {
        "licenseSkuId": {
          "type": "string"
        },
        "allocated": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "OverageState": {
      "enum": [
        "Allow",
        "Disallow"
      ],
      "type": "string"
    },
    "PayAsYouGoState": {
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "type": "string"
    },
    "PowerAppsPolicyModel": {
      "type": "object",
      "properties": {
        "payAsYouGoState": {
          "$ref": "#/definitions/PayAsYouGoState"
        }
      }
    },
    "PowerAutomatePolicyModel": {
      "type": "object",
      "properties": {
        "payAsYouGoState": {
          "$ref": "#/definitions/PayAsYouGoState"
        }
      }
    },
    "Principal": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/PrincipalType"
        }
      }
    },
    "PrincipalType": {
      "enum": [
        "None",
        "Application",
        "User",
        "DelegatedAdmin"
      ],
      "type": "string"
    },
    "ProviderIdentityModel": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        }
      }
    },
    "StoragePolicyModel": {
      "type": "object",
      "properties": {
        "payAsYouGoState": {
          "$ref": "#/definitions/PayAsYouGoState"
        }
      }
    }
  },
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2"
    }
  },
  "security": [
    {
      "oauth2": [ ]
    }
  ]
}