{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Power Platform REST API - licensing",
    "description": "Unified API for all administrative capabilities in Microsoft Power Platform.",
    "version": "2024-10-01"
  },
  "host": "api.powerplatform.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/licensing/allocationsV2": {
      "put": {
        "tags": [
          "Allocation"
        ],
        "summary": "Set the allocations for the scope.",
        "operationId": "PutAllocationsV2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Request body containing allocation data.",
            "schema": {
              "$ref": "#/definitions/AllocationPutRequestModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NeptuneOperationResult"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/licensing/allocationsV2/availability": {
      "get": {
        "tags": [
          "Allocation"
        ],
        "summary": "Get the entitlements available to be allocated for the scope.",
        "operationId": "GetAllocationsAvailabilityV2",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$filter",
            "description": "OData filter expression.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AllocationAvailabilityResponseModel"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/licensing/allocationsV2/entitlements/reserved": {
      "get": {
        "tags": [
          "Allocation"
        ],
        "summary": "Get the reserved entitlements for the scope.",
        "operationId": "GetManyEntitlementsReservedV2",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$filter",
            "description": "OData filter expression.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EntitlementReservedResponseModel"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/licensing/entitlements/{entitlementId}": {
      "get": {
        "tags": [
          "Entitlement"
        ],
        "summary": "Get the entitlement details for the tenant.",
        "operationId": "GetEntitlement",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "entitlementId",
            "description": "The entitlement ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TenantEntitlementResponseModel"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/licensing/entitlements/{entitlementId}/environments/{environmentId}/resources": {
      "get": {
        "tags": [
          "EntitlementInsight"
        ],
        "summary": "Get environment resource entitlement snapshots for an entitlement.",
        "operationId": "GetEnvironmentResources",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "entitlementId",
            "description": "The entitlement ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "fromDate",
            "description": "The start date (inclusive) of the query range.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "toDate",
            "description": "The end date (inclusive) of the query range.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "searchRequest",
            "description": "Search request for filtering the resources.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeFields",
            "description": "Comma separated additional fields to include in the response.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "orderbyConsumed",
            "description": "Order by consumed date time if specified.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "Continuation token for pagination.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EnvironmentEntitlementSnapshotResponseModelPagedResponse"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/licensing/entitlements/{entitlementId}/licenses": {
      "get": {
        "tags": [
          "EntitlementInsight"
        ],
        "summary": "Get the license trends for the tenant for the specified entitlement.",
        "operationId": "GetTenantLicenseTrends",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "entitlementId",
            "description": "The entitlement ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "fromDate",
            "description": "The start date (inclusive) of the query range.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "toDate",
            "description": "The end date (inclusive) of the query range.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "The maximum number of records to return.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "OData filter expression.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TenantEntitlementLicenseTrendResponseModelPagedResponse"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/licensing/entitlements/{entitlementId}/resources": {
      "get": {
        "tags": [
          "EntitlementInsight"
        ],
        "summary": "Get tenant resources for an entitlement across all environments.",
        "operationId": "GetTenantResourcesAcrossEnvironments",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "entitlementId",
            "description": "The entitlement ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "fromDate",
            "description": "The start date (inclusive) of the query range.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "toDate",
            "description": "The end date (inclusive) of the query range.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "Maximum number of environments to fan out to per page.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "Opaque continuation token returned by the previous page, or null for the first page.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TenantEnvironmentResourceSnapshotResponseModelPagedResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/licensing/entitlements/{entitlementId}/resources/{resourceId}/users": {
      "get": {
        "tags": [
          "EntitlementInsight"
        ],
        "summary": "Get tenant user consumption by entitlement and resource ID.",
        "operationId": "GetTenantUserConsumptionByResource",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "entitlementId",
            "description": "The entitlement ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "resourceId",
            "description": "The resource ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "fromDate",
            "description": "The start date (inclusive) of the query range.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "toDate",
            "description": "The end date (inclusive) of the query range.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "The page size for pagination.",
            "type": "integer",
            "format": "int32",
            "default": 100
          },
          {
            "in": "query",
            "name": "searchRequest",
            "description": "Search request for filtering.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "Continuation token for pagination.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TenantUserResponseModelPagedResponse"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/licensing/entitlements/{entitlementId}/resourceThresholds": {
      "get": {
        "tags": [
          "ResourceThreshold"
        ],
        "summary": "Get all resource thresholds for the specified entitlement.",
        "operationId": "GetAllResourceThresholds",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "entitlementId",
            "description": "The entitlement ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ResourceThresholdModel"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/licensing/entitlements/{entitlementId}/users": {
      "get": {
        "tags": [
          "EntitlementInsight"
        ],
        "summary": "Get the list of tenant users entitlement snapshot for the specified entitlement.",
        "operationId": "GetTenantUsers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "entitlementId",
            "description": "The entitlement ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "fromDate",
            "description": "The start date (inclusive) of the query range.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "toDate",
            "description": "The end date (inclusive) of the query range.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "The page size for pagination.",
            "type": "integer",
            "format": "int32",
            "default": 100
          },
          {
            "in": "query",
            "name": "searchRequest",
            "description": "Search request for filtering the users.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "orderbyConsumed",
            "description": "Order by consumed field.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "Continuation token for pagination.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TenantUserResponseModelPagedResponse"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/licensing/entitlements/{entitlementId}/users/{userId}/resources": {
      "get": {
        "tags": [
          "EntitlementInsight"
        ],
        "summary": "Get resource consumption by entitlement and user ID.",
        "operationId": "GetTenantResourceConsumptionByUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "entitlementId",
            "description": "The entitlement ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "userId",
            "description": "The user ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "fromDate",
            "description": "The start date (inclusive) of the query range.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "toDate",
            "description": "The end date (inclusive) of the query range.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "The page size for pagination.",
            "type": "integer",
            "format": "int32",
            "default": 100
          },
          {
            "in": "query",
            "name": "searchRequest",
            "description": "Search request for filtering.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "Continuation token for pagination.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TenantResourceResponseModelPagedResponse"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/licensing/environments/{environmentId}/entitlements": {
      "get": {
        "tags": [
          "Entitlement"
        ],
        "summary": "Get the entitlements for the tenant by environment.",
        "operationId": "GetManyEnvironmentEntitlements",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "OData filter expression.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EnvironmentEntitlementResponseModel"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/licensing/environments/{environmentId}/entitlements/{entitlementId}/resources/{resourceId}/threshold": {
      "put": {
        "tags": [
          "ResourceThreshold"
        ],
        "summary": "Create or update the resource threshold for an environment resource.",
        "operationId": "UpsertResourceThreshold",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "entitlementId",
            "description": "The entitlement ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "resourceId",
            "description": "The resource ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The resource threshold configuration.",
            "schema": {
              "$ref": "#/definitions/ResourceThresholdRequestModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ResourceThresholdModel"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/licensing/FinOpsLicensing/GetLicenseSummaryV2": {
      "get": {
        "tags": [
          "FinOpsLicensing"
        ],
        "summary": "Get FinOps license summary (V2) for the tenant.",
        "operationId": "GetFinOpsLicenseSummaryV2",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/FinOpsLicenseSummaryV2Response"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/licensing/allocationsByEnvironment": {
      "get": {
        "tags": [
          "AllocationsByEnvironment"
        ],
        "summary": "Get currency allocations and enforcement rules for all environments.",
        "operationId": "ListAllocationsByEnvironment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AllocationByEnvironmentModel"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "patch": {
        "tags": [
          "AllocationsByEnvironment"
        ],
        "summary": "Update currency allocations and enforcement rules for an environment.",
        "operationId": "UpdateAllocationsByEnvironment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The environment currency allocations and enforcement rules to apply.",
            "schema": {
              "$ref": "#/definitions/AllocationByEnvironmentModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AllocationByEnvironmentModel"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/licensing/allocationsByEnvironment/{environmentId}": {
      "get": {
        "tags": [
          "AllocationsByEnvironment"
        ],
        "summary": "Get currency allocations and enforcement rules for an environment.",
        "operationId": "GetAllocationsByEnvironment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AllocationByEnvironmentModel"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/licensing/billingPolicies": {
      "get": {
        "tags": [
          "BillingPolicy"
        ],
        "summary": "Get the list of billing policies for the tenant.",
        "operationId": "ListBillingPolicies",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$top",
            "description": "The ISV contract ID.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BillingPolicyResponseModelResponseWithOdataContinuation"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "BillingPolicy"
        ],
        "summary": "Creates the billing policy at tenant level.",
        "operationId": "CreateBillingPolicy",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The billing policy.",
            "schema": {
              "$ref": "#/definitions/BillingPolicyPostRequestModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully created",
            "schema": {
              "$ref": "#/definitions/BillingPolicyResponseModel"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/licensing/billingPolicies/{billingPolicyId}": {
      "get": {
        "tags": [
          "BillingPolicy"
        ],
        "summary": "Get the billing policy at tenant level by policy ID.",
        "operationId": "GetBillingPolicy",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "billingPolicyId",
            "description": "The billing policy ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BillingPolicyResponseModel"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "BillingPolicy"
        ],
        "summary": "Updates the billing policy at tenant level.",
        "operationId": "UpdateBillingPolicy",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "billingPolicyId",
            "description": "The billing policy ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The billing policy",
            "schema": {
              "$ref": "#/definitions/BillingPolicyPutRequestModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BillingPolicyResponseModel"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "BillingPolicy"
        ],
        "summary": "Delete billing policy.",
        "operationId": "DeleteBillingPolicy",
        "parameters": [
          {
            "in": "path",
            "name": "billingPolicyId",
            "description": "The billing policy ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/licensing/billingPolicies/{billingPolicyId}/environments": {
      "get": {
        "tags": [
          "BillingPolicyEnvironment"
        ],
        "summary": "Get the list of environments linked to the billing policy.",
        "operationId": "ListBillingPolicyEnvironments",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "billingPolicyId",
            "description": "The billing policy ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BillingPolicyEnvironmentResponseModelV1ResponseWithOdataContinuation"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/licensing/billingPolicies/{billingPolicyId}/environments/{environmentId}": {
      "get": {
        "tags": [
          "BillingPolicyEnvironment"
        ],
        "summary": "Get the environment linked to the billing policy.",
        "operationId": "GetBillingPolicyEnvironment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "billingPolicyId",
            "description": "The billing policy ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BillingPolicyEnvironmentResponseModelV1"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/licensing/billingPolicies/{billingPolicyId}/environments/add": {
      "post": {
        "tags": [
          "BillingPolicyEnvironment"
        ],
        "summary": "Link billing policy ID with environments.",
        "operationId": "AddBillingPolicyEnvironment",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "billingPolicyId",
            "description": "The billing policy ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Model to represents the list of environments to be linked.",
            "schema": {
              "$ref": "#/definitions/BillingPolicyEnvironmentAddRequestModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/licensing/billingPolicies/{billingPolicyId}/environments/remove": {
      "post": {
        "tags": [
          "BillingPolicyEnvironment"
        ],
        "summary": "Unlink billing policy ID from environments.",
        "operationId": "RemoveBillingPolicyEnvironment",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "billingPolicyId",
            "description": "The billing policy ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Model to represents the list of environments to be unlinked.",
            "schema": {
              "$ref": "#/definitions/BillingPolicyEnvironmentRemoveRequestModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/licensing/billingPolicies/{billingPolicyId}/refreshProvisioningStatus": {
      "post": {
        "tags": [
          "BillingPolicy"
        ],
        "summary": "Refresh the billing policy provisioning status.",
        "operationId": "RefreshProvisioningStatus",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "billingPolicyId",
            "description": "The billing policy ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BillingPolicyResponseModel"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/licensing/environments/{environmentId}/allocations": {
      "get": {
        "tags": [
          "CurrencyAllocation"
        ],
        "summary": "Get currency allocations for the environment.",
        "operationId": "GetCurrencyAllocationByEnvironment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AllocationsByEnvironmentResponseModelV1"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "patch": {
        "tags": [
          "CurrencyAllocation"
        ],
        "summary": "Allocate and deallocate the currencies for the environment.",
        "operationId": "PatchCurrencyAllocationByEnvironment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Environment currency allocation.",
            "schema": {
              "$ref": "#/definitions/AllocationsByEnvironmentPatchRequestModelV1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AllocationsByEnvironmentResponseModelV1"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/licensing/environments/{environmentId}/billingPolicy": {
      "get": {
        "tags": [
          "EnvironmentBillingPolicy"
        ],
        "summary": "Get the linked billing policy details for an environment.",
        "operationId": "GetEnvironmentBillingPolicy",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environmentId",
            "description": "The environment ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BillingPolicyResponseModel"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/licensing/isvContracts": {
      "get": {
        "tags": [
          "ISVContract"
        ],
        "summary": "Get the list of ISV contracts for the tenant.",
        "description": "Get the list of ISV contracts for the tenant.",
        "operationId": "ListISVContracts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$top",
            "description": "Top limit of results.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/IsvContractResponseModelResponseWithOdataContinuation"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "ISVContract"
        ],
        "summary": "Create an ISV contract.",
        "description": "Create an ISV contract.",
        "operationId": "CreateISVContract",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The ISV contract",
            "schema": {
              "$ref": "#/definitions/IsvContractPostRequestModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/IsvContractResponseModel"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/licensing/isvContracts/{isvContractId}": {
      "get": {
        "tags": [
          "ISVContract"
        ],
        "summary": "Get an ISV contract by its identifier (ID).",
        "description": "Get an ISV contract by its identifier (ID).",
        "operationId": "GetISVContract",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "isvContractId",
            "description": "The ISV contract ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/IsvContractResponseModel"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "ISVContract"
        ],
        "summary": "Update an ISV contract.",
        "description": "Update an ISV contract.",
        "operationId": "UpdateISVContract",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "isvContractId",
            "description": "The ISV contract ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The ISV contract",
            "schema": {
              "$ref": "#/definitions/IsvContractPutRequestModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/IsvContractResponseModel"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "ISVContract"
        ],
        "summary": "Delete an ISV contract.",
        "description": "Delete an ISV contract.",
        "operationId": "DeleteISVContract",
        "parameters": [
          {
            "in": "path",
            "name": "isvContractId",
            "description": "The ISV contract ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/licensing/storageWarning/{storageCategory}": {
      "get": {
        "tags": [
          "StorageWarnings"
        ],
        "summary": "Storage warning thresholds filtered by category.",
        "operationId": "GetStorageWarningByCategory",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "storageCategory",
            "description": "The storage category value.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/StorageWarningThresholdsDocument"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/LicensingProblemDetails"
            }
          }
        }
      }
    },
    "/licensing/storageWarning/{storageCategory}/{entityName}": {
      "get": {
        "tags": [
          "StorageWarnings"
        ],
        "summary": "Storage warning thresholds filtered by category and storage entity name.",
        "operationId": "GetStorageWarningByCategoryAndEntity",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "storageCategory",
            "description": "The storage category value.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "entityName",
            "description": "The name of the entity.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/StorageWarningThresholdsDocument"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/LicensingProblemDetails"
            }
          }
        }
      }
    },
    "/licensing/storageWarning/getAllStorageWarnings": {
      "get": {
        "tags": [
          "StorageWarnings"
        ],
        "summary": "Storage warning thresholds.",
        "operationId": "ListStorageWarnings",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/StorageWarningThresholdsDocument"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/LicensingProblemDetails"
            }
          }
        }
      }
    },
    "/licensing/TemporaryCurrencyEntitlement/{currencyType}/Count": {
      "post": {
        "tags": [
          "TemporaryCurrencyEntitlement"
        ],
        "summary": "Get the temporary currency count and limit for the month by type.",
        "operationId": "RetrieveTemporaryCurrencyEntitlementCount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "currencyType",
            "description": "The currency type.",
            "required": true,
            "type": "string",
            "enum": [
              "AI",
              "AppPass",
              "AppPassForTeams",
              "Invoice",
              "MCSSessions",
              "MCSMessages",
              "PAHostedRPA",
              "PAUnattendedRPA",
              "PerFlowPlan",
              "PortalAddOns",
              "PortalLogins",
              "PortalViews",
              "PowerPagesAuthenticated",
              "PowerPagesAnonymous",
              "PowerAutomatePerProcess",
              "ProcessMiningDataStorage",
              "SCMessages",
              "VAConversations"
            ]
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetTemporaryCurrencyEntitlementCountResponseModel"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/NeptuneValidationError"
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/licensing/tenantCapacity": {
      "get": {
        "tags": [
          "TenantCapacityDetails"
        ],
        "summary": "Get the tenant capacity details for the tenant.",
        "operationId": "GetTenantCapacityDetails",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TenantCapacityDetailsModel"
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/licensing/tenantCapacity/currencyReports": {
      "get": {
        "tags": [
          "CurrencyReports"
        ],
        "summary": "Get the currency report for the tenant.",
        "operationId": "ListCurrencyReports",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "includeAllocations",
            "description": "Flag indicating to include allocations.",
            "type": "boolean",
            "default": true
          },
          {
            "in": "query",
            "name": "includeConsumptions",
            "description": "Flag indicating to include consumptions.",
            "type": "boolean",
            "default": false
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CurrencyReportV2"
              }
            }
          }
        }
      }
    },
    "/licensing/UserPerFlowCapacitySource": {
      "get": {
        "tags": [
          "UserPerFlowCapacitySource"
        ],
        "summary": "Get user per flow capacity source data with pagination and filtering options.",
        "operationId": "GetUserPerFlowCapacitySource",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "startDate",
            "description": "The start date for the query range.",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "endDate",
            "description": "The end date for the query range. Defaults to current UTC time if not provided.",
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "pageNumber",
            "description": "The page number for pagination.",
            "type": "integer",
            "format": "int32",
            "default": 1
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "The page size for pagination.",
            "type": "integer",
            "format": "int32",
            "default": 100
          },
          {
            "in": "query",
            "name": "userId",
            "description": "Filter by user identifier.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "flowContext",
            "description": "Filter by flow context.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "flowLicenseCategorization",
            "description": "Filter by flow license categorization.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "resourceId",
            "description": "Filter by resource identifier.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "environmentId",
            "description": "Filter by environment identifier.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PowerPlatformRequestSnapshotResultWithoutPagesUserPerFlowCapacitySourceRecord"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/licensing/UserPerFlowCapacitySource/FlowContextSummary": {
      "get": {
        "tags": [
          "UserPerFlowCapacitySource"
        ],
        "summary": "Get flow context summary for user per flow capacity source.",
        "operationId": "GetUserPerFlowCapacitySourceFlowContextSummary",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "startDate",
            "description": "The start date for the query range.",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "endDate",
            "description": "The end date for the query range. Defaults to current UTC time if not provided.",
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "pageNumber",
            "description": "The page number for pagination.",
            "type": "integer",
            "format": "int32",
            "default": 1
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "The page size for pagination.",
            "type": "integer",
            "format": "int32",
            "default": 100
          },
          {
            "in": "query",
            "name": "environmentId",
            "description": "Filter by environment identifier.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PowerPlatformRequestSnapshotResultWithoutPagesUserPerFlowCapacitySourceFlowContextRecord"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/licensing/UserPerFlowCapacitySource/FlowContextSummary/{userId}": {
      "get": {
        "tags": [
          "UserPerFlowCapacitySource"
        ],
        "summary": "Get flow context summary for a specific user's per flow capacity source.",
        "operationId": "GetUserPerFlowCapacitySourceFlowContextSummaryForUserId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The user identifier.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "startDate",
            "description": "The start date for the query range.",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "endDate",
            "description": "The end date for the query range. Defaults to current UTC time if not provided.",
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "pageNumber",
            "description": "The page number for pagination.",
            "type": "integer",
            "format": "int32",
            "default": 1
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "The page size for pagination.",
            "type": "integer",
            "format": "int32",
            "default": 100
          },
          {
            "in": "query",
            "name": "environmentId",
            "description": "Filter by environment identifier.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PowerPlatformRequestSnapshotResultWithoutPagesUserPerFlowCapacitySourceFlowContextRecord"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/licensing/UserPerFlowCapacitySource/TenantContextSummary": {
      "get": {
        "tags": [
          "UserPerFlowCapacitySource"
        ],
        "summary": "Get tenant context summary for user per flow capacity source.",
        "operationId": "GetUserPerFlowCapacitySourceTenantContextSummary",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "startDate",
            "description": "The start date for the query range.",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "endDate",
            "description": "The end date for the query range. Defaults to current UTC time if not provided.",
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "environmentId",
            "description": "Filter by environment identifier.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UserPerFlowCapacitySourceTenantContextSummaryRecord"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/licensing/UserPerFlowCapacitySource/UserContextSummary": {
      "get": {
        "tags": [
          "UserPerFlowCapacitySource"
        ],
        "summary": "Get the user per flow capacity source user context summary.",
        "operationId": "GetUserPerFlowCapacitySourceUserContextSummary",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "startDate",
            "description": "The start date for the query range.",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "endDate",
            "description": "The end date for the query range. Defaults to current UTC time if not provided.",
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "pageNumber",
            "description": "The page number for pagination.",
            "type": "integer",
            "format": "int32",
            "default": 1
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "The page size for pagination.",
            "type": "integer",
            "format": "int32",
            "default": 100
          },
          {
            "in": "query",
            "name": "environmentId",
            "description": "Filter by environment identifier.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PowerPlatformRequestSnapshotResultWithoutPagesUserPerFlowCapacitySourceUserContextRecord"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/licensing/UserPerFlowCapacitySource/UserContextSummary/{userId}": {
      "get": {
        "tags": [
          "UserPerFlowCapacitySource"
        ],
        "summary": "Get user context summary for a specific user's per flow capacity source.",
        "operationId": "GetUserPerFlowCapacitySourceUserContextSummaryForUserId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The user identifier.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "startDate",
            "description": "The start date for the query range.",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "endDate",
            "description": "The end date for the query range. Defaults to current UTC time if not provided.",
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "pageNumber",
            "description": "The page number for pagination.",
            "type": "integer",
            "format": "int32",
            "default": 1
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "The page size for pagination.",
            "type": "integer",
            "format": "int32",
            "default": 100
          },
          {
            "in": "query",
            "name": "environmentId",
            "description": "Filter by environment identifier.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "2024-10-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PowerPlatformRequestSnapshotResultWithoutPagesUserPerFlowCapacitySourceUserContextRecord"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "definitions": {
    "TenantEntitlementResponseModel": {
      "description": "Represents an entitlement and its capacity, pay-as-you-go and licensed policy details for a tenant.",
      "type": "object",
      "properties": {
        "entitlementId": {
          "description": "The entitlement ID.",
          "type": "string"
        },
        "productCategories": {
          "description": "The entitlement product categories (e.g., D365Apps, Dataverse, Power Apps, Power Automate).",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductCategory"
          }
        },
        "entitlement": {
          "$ref": "#/definitions/TenantEntitlementDetailServiceModel"
        }
      },
      "additionalProperties": false
    },
    "TenantEntitlementDetailServiceModel": {
      "type": "object",
      "properties": {
        "unit": {
          "$ref": "#/definitions/EntitlementUnit"
        },
        "capacity": {
          "$ref": "#/definitions/CapacityEntitlementModel"
        },
        "payGo": {
          "$ref": "#/definitions/CatalogPayGoEntitlementModel"
        },
        "licensedPolicy": {
          "$ref": "#/definitions/LicensedPolicyModel"
        }
      },
      "additionalProperties": false
    },
    "CapacityEntitlementModel": {
      "type": "object",
      "properties": {
        "entitled": {
          "$ref": "#/definitions/EntitlementEntitledModel"
        },
        "consumed": {
          "$ref": "#/definitions/EntitlementConsumedModel"
        },
        "unit": {
          "$ref": "#/definitions/EntitlementUnit"
        },
        "allocated": {
          "$ref": "#/definitions/EntitlementAllocationModelV2"
        },
        "availableQuantity": {
          "format": "double",
          "type": "number"
        },
        "status": {
          "$ref": "#/definitions/OverageStatus"
        },
        "licenses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CapacityLicenseModel"
          }
        }
      },
      "additionalProperties": false
    },
    "CatalogPayGoEntitlementModel": {
      "type": "object",
      "properties": {
        "entitled": {
          "$ref": "#/definitions/EntitlementEntitledModel"
        },
        "consumed": {
          "$ref": "#/definitions/EntitlementConsumedModel"
        }
      },
      "additionalProperties": false
    },
    "LicensedPolicyModel": {
      "type": "object",
      "properties": {
        "entitled": {
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "EntitlementEntitledModel": {
      "type": "object",
      "properties": {
        "value": {
          "format": "double",
          "type": "number"
        }
      },
      "additionalProperties": false
    },
    "EntitlementConsumedModel": {
      "type": "object",
      "properties": {
        "value": {
          "format": "double",
          "type": "number"
        },
        "consumptionType": {
          "$ref": "#/definitions/EntitlementConsumptionType"
        },
        "lastUpdatedOn": {
          "format": "date-time",
          "type": "string"
        },
        "writeOff": {
          "format": "double",
          "type": "number"
        }
      },
      "additionalProperties": false
    },
    "EntitlementAllocationModelV2": {
      "type": "object",
      "properties": {
        "value": {
          "format": "double",
          "type": "number"
        },
        "autoAllocated": {
          "format": "double",
          "type": "number"
        }
      },
      "additionalProperties": false
    },
    "CapacityLicenseModel": {
      "type": "object",
      "properties": {
        "skuId": {
          "type": "string"
        },
        "productName": {
          "type": "string"
        },
        "licenseQuantity": {
          "format": "int32",
          "type": "integer"
        },
        "entitled": {
          "$ref": "#/definitions/EntitlementEntitledModel"
        },
        "licenseTier": {
          "$ref": "#/definitions/LicenseTier"
        },
        "licenseStatus": {
          "type": "string"
        },
        "nextLifecycleStatus": {
          "type": "string"
        },
        "nextLifecycleDate": {
          "format": "date-time",
          "type": "string"
        },
        "licenseId": {
          "type": "string"
        },
        "licenseSource": {
          "$ref": "#/definitions/LicenseSource"
        },
        "isUnlimited": {
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "EnvironmentEntitlementSnapshotResponseModel": {
      "type": "object",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnvironmentResourceEntitlementSnapshotResponseModel"
          }
        }
      },
      "additionalProperties": false
    },
    "EnvironmentResourceEntitlementSnapshotResponseModel": {
      "type": "object",
      "properties": {
        "resourceId": {
          "description": "The resource ID.",
          "type": "string"
        },
        "consumed": {
          "format": "double",
          "description": "The consumed value.",
          "type": "number"
        },
        "unit": {
          "$ref": "#/definitions/EntitlementUnit"
        },
        "lastRefreshedDate": {
          "format": "date-time",
          "description": "The last refreshed date.",
          "type": "string"
        },
        "metadata": {
          "description": "Additional metadata such as Feature, ProductName and nonBillableConsumed for MCSMessages.",
          "type": "object"
        }
      },
      "additionalProperties": false
    },
    "TenantEnvironmentResourceSnapshotResponseModel": {
      "description": "Per-resource snapshot for a tenant-scoped, all-environments listing.",
      "type": "object",
      "properties": {
        "resourceId": {
          "description": "The resource ID.",
          "type": "string"
        },
        "consumed": {
          "format": "double",
          "description": "The consumed value.",
          "type": "number"
        },
        "unit": {
          "$ref": "#/definitions/EntitlementUnit"
        },
        "lastRefreshedDate": {
          "format": "date-time",
          "description": "The last refreshed date.",
          "type": "string"
        },
        "metadata": {
          "description": "Additional metadata such as Feature, ProductName and nonBillableConsumed for MCSMessages.",
          "type": "object"
        },
        "environmentId": {
          "description": "The environment this resource belongs to.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "TenantEntitlementLicenseTrendResponseModel": {
      "type": "object",
      "properties": {
        "date": {
          "format": "date-time",
          "type": "string"
        },
        "licenseModelType": {
          "$ref": "#/definitions/LicenseModelType"
        },
        "licenses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TenantEntitlementLicenseModel"
          }
        }
      },
      "additionalProperties": false
    },
    "TenantEntitlementLicenseModel": {
      "type": "object",
      "properties": {
        "licenseId": {
          "type": "string"
        },
        "skuId": {
          "type": "string"
        },
        "productName": {
          "type": "string"
        },
        "licenseQuantity": {
          "format": "int32",
          "type": "integer"
        },
        "entitled": {
          "format": "double",
          "type": "number"
        },
        "licenseTier": {
          "$ref": "#/definitions/LicenseTier"
        },
        "licenseStatus": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "TenantUserResponseModel": {
      "type": "object",
      "properties": {
        "users": {
          "description": "The list of users associated with the tenant.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TenantCapacityConsumptionUserSnapshotResponseModel"
          }
        }
      },
      "additionalProperties": false
    },
    "TenantCapacityConsumptionUserSnapshotResponseModel": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "environmentId": {
          "type": "string"
        },
        "userId": {
          "type": "string"
        },
        "consumed": {
          "format": "double",
          "type": "number"
        },
        "unit": {
          "type": "string"
        },
        "metadata": {
          "type": "object"
        },
        "asOfDate": {
          "format": "date-time",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "TenantResourceResponseModel": {
      "type": "object",
      "properties": {
        "resources": {
          "description": "The list of resources associated with the tenant.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TenantCapacityConsumptionSnapshotResponseModel"
          }
        }
      },
      "additionalProperties": false
    },
    "TenantCapacityConsumptionSnapshotResponseModel": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "environmentId": {
          "type": "string"
        },
        "resourceId": {
          "type": "string"
        },
        "consumed": {
          "format": "double",
          "type": "number"
        },
        "unit": {
          "type": "string"
        },
        "metadata": {
          "type": "object"
        },
        "asOfDate": {
          "format": "date-time",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "AllocationAvailabilityResponseModel": {
      "description": "Allocation availability response model.",
      "type": "object",
      "properties": {
        "scope": {
          "$ref": "#/definitions/ScopeModel"
        },
        "entitlementAllocationsAvailable": {
          "description": "Availability of the entitlements for the scope.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntitlementAllocationAvailabilityModel"
          }
        }
      },
      "additionalProperties": false
    },
    "EntitlementAllocationAvailabilityModel": {
      "type": "object",
      "properties": {
        "entitlementId": {
          "type": "string"
        },
        "availableQuantity": {
          "format": "double",
          "type": "number"
        },
        "unit": {
          "$ref": "#/definitions/EntitlementUnit"
        }
      },
      "additionalProperties": false
    },
    "AllocationPutRequestModel": {
      "description": "Allocation put request model.",
      "type": "object",
      "properties": {
        "scope": {
          "$ref": "#/definitions/ScopeModel"
        },
        "allocatedEntitlements": {
          "description": "Allocated entitlements.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntitlementAllocationModel"
          }
        }
      },
      "additionalProperties": false
    },
    "EntitlementAllocationModel": {
      "type": "object",
      "properties": {
        "allocation": {
          "$ref": "#/definitions/AllocationModel"
        },
        "entitlementId": {
          "type": "string"
        },
        "enforcementRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AllocationEnforcementRule"
          }
        }
      },
      "additionalProperties": false
    },
    "AllocationModel": {
      "type": "object",
      "properties": {
        "quantity": {
          "format": "double",
          "type": "number"
        },
        "autoAllocated": {
          "format": "double",
          "type": "number"
        },
        "unit": {
          "$ref": "#/definitions/EntitlementUnit"
        }
      },
      "additionalProperties": false
    },
    "AllocationEnforcementRule": {
      "type": "object",
      "properties": {
        "ruleType": {
          "$ref": "#/definitions/AllocationEnforcementRuleTypes"
        },
        "enabled": {
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "ScopeModel": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "environmentGroupId": {
          "type": "string"
        },
        "environmentId": {
          "type": "string"
        },
        "resourceId": {
          "type": "string"
        },
        "userId": {
          "type": "string"
        },
        "userGroupId": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "ResourceThresholdModel": {
      "type": "object",
      "properties": {
        "resourceId": {
          "description": "Unique identifier for the resource.",
          "type": "string"
        },
        "entitlementId": {
          "description": "Entitlement ID associated with the resource.",
          "type": "string"
        },
        "environmentId": {
          "description": "Unique identifier for the environment associated with the resource.",
          "type": "string"
        },
        "stopResource": {
          "description": "Indicates whether the user has selected to stop the resource explicitly or not. If 'true' the resource is in a disabled state.",
          "type": "boolean"
        },
        "limit": {
          "format": "double",
          "description": "The limit set for the resource consumption.",
          "type": "number"
        },
        "stopIfOverCapacity": {
          "description": "Indicates whether to stop consuming the capacity if the resource exceeds its limit.",
          "type": "boolean"
        },
        "notifyIfOverCapacity": {
          "description": "Indicates whether to notify when the resource consumption reaches its notification threshold.",
          "type": "boolean"
        },
        "notificationThreshold": {
          "format": "int32",
          "description": "The threshold percentage for sending notifications about resource consumption.",
          "type": "integer"
        },
        "resourceConsumption": {
          "format": "double",
          "description": "Current consumption of the resource.",
          "type": "number"
        },
        "createdOn": {
          "format": "date-time",
          "description": "The UTC date and time when the resource threshold configuration was first created.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "ResourceThresholdRequestModel": {
      "type": "object",
      "properties": {
        "stopResource": {
          "type": "boolean"
        },
        "limit": {
          "format": "int32",
          "type": "integer"
        },
        "stopIfOverCapacity": {
          "type": "boolean"
        },
        "notifyIfOverCapacity": {
          "type": "boolean"
        },
        "notificationThreshold": {
          "format": "int32",
          "type": "integer"
        },
        "resourceConsumption": {
          "format": "double",
          "type": "number"
        }
      },
      "additionalProperties": false
    },
    "FinOpsLicenseSummaryV2Response": {
      "type": "object",
      "properties": {
        "lastReportRefreshTime": {
          "format": "date-time",
          "type": "string"
        },
        "tenantId": {
          "type": "string"
        },
        "allUsersCount": {
          "format": "int32",
          "type": "integer"
        },
        "usersWithoutLicensesCount": {
          "format": "int32",
          "type": "integer"
        },
        "underLicensedUsersCount": {
          "format": "int32",
          "type": "integer"
        },
        "overLicensedUsersCount": {
          "format": "int32",
          "type": "integer"
        },
        "licensesConsumption": {
          "$ref": "#/definitions/FinOpsLicensesConsumption"
        }
      },
      "additionalProperties": false
    },
    "FinOpsLicensesConsumption": {
      "type": "object",
      "properties": {
        "supplyChainManagement": {
          "$ref": "#/definitions/FinOpsProductLicenseConsumption"
        },
        "finance": {
          "$ref": "#/definitions/FinOpsProductLicenseConsumption"
        },
        "commerce": {
          "$ref": "#/definitions/FinOpsProductLicenseConsumption"
        },
        "projectOperations": {
          "$ref": "#/definitions/FinOpsProductLicenseConsumption"
        },
        "humanResources": {
          "$ref": "#/definitions/FinOpsProductLicenseConsumption"
        },
        "operations": {
          "$ref": "#/definitions/FinOpsOperationsLicenseConsumption"
        },
        "activity": {
          "$ref": "#/definitions/FinOpsSimpleLicenseConsumption"
        },
        "teamMember": {
          "$ref": "#/definitions/FinOpsSimpleLicenseConsumption"
        },
        "selfService": {
          "$ref": "#/definitions/FinOpsSimpleLicenseConsumption"
        },
        "supplyChainManagementOrFinanceOrCommerce": {
          "$ref": "#/definitions/FinOpsSupplyChainManagementOrFinanceOrCommerceLicenseConsumption"
        },
        "projectOperationsOrHumanResources": {
          "$ref": "#/definitions/FinOpsProjectOperationsOrHumanResourcesLicenseConsumption"
        }
      },
      "additionalProperties": false
    },
    "FinOpsProductLicenseConsumption": {
      "type": "object",
      "properties": {
        "licenseRequirements": {
          "$ref": "#/definitions/FinOpsLicenseRequirements"
        },
        "baseConsumption": {
          "$ref": "#/definitions/FinOpsBaseLicenseConsumption"
        },
        "attachConsumption": {
          "$ref": "#/definitions/FinOpsAttachLicenseConsumption"
        }
      },
      "additionalProperties": false
    },
    "FinOpsSimpleLicenseConsumption": {
      "type": "object",
      "properties": {
        "licenseRequirements": {
          "$ref": "#/definitions/FinOpsLicenseRequirements"
        },
        "baseConsumption": {
          "$ref": "#/definitions/FinOpsBaseLicenseConsumption"
        }
      },
      "additionalProperties": false
    },
    "FinOpsOperationsLicenseConsumption": {
      "type": "object",
      "properties": {
        "licenseRequirements": {
          "$ref": "#/definitions/FinOpsLicenseRequirements"
        },
        "baseConsumption": {
          "$ref": "#/definitions/FinOpsBaseLicenseConsumption"
        }
      },
      "additionalProperties": false
    },
    "FinOpsSupplyChainManagementOrFinanceOrCommerceLicenseConsumption": {
      "type": "object",
      "properties": {
        "licenseRequirements": {
          "$ref": "#/definitions/FinOpsLicenseRequirements"
        },
        "supplyChainManagementConsumption": {
          "$ref": "#/definitions/FinOpsBaseLicenseConsumption"
        },
        "financeConsumption": {
          "$ref": "#/definitions/FinOpsBaseLicenseConsumption"
        },
        "commerceConsumption": {
          "$ref": "#/definitions/FinOpsBaseLicenseConsumption"
        }
      },
      "additionalProperties": false
    },
    "FinOpsProjectOperationsOrHumanResourcesLicenseConsumption": {
      "type": "object",
      "properties": {
        "licenseRequirements": {
          "$ref": "#/definitions/FinOpsLicenseRequirements"
        },
        "projectOperationsConsumption": {
          "$ref": "#/definitions/FinOpsBaseLicenseConsumption"
        },
        "humanResourcesConsumption": {
          "$ref": "#/definitions/FinOpsBaseLicenseConsumption"
        }
      },
      "additionalProperties": false
    },
    "FinOpsLicenseRequirements": {
      "type": "object",
      "properties": {
        "usersNeedingLicenseCount": {
          "format": "int32",
          "type": "integer"
        }
      },
      "additionalProperties": false
    },
    "FinOpsBaseLicenseConsumption": {
      "type": "object",
      "properties": {
        "purchasedBaseUnassignedCount": {
          "format": "int32",
          "type": "integer"
        },
        "purchasedBaseAssignedCount": {
          "format": "int32",
          "type": "integer"
        }
      },
      "additionalProperties": false
    },
    "FinOpsAttachLicenseConsumption": {
      "type": "object",
      "properties": {
        "purchasedAttachUnassignedCount": {
          "format": "int32",
          "type": "integer"
        },
        "purchasedAttachAssignedCount": {
          "format": "int32",
          "type": "integer"
        }
      },
      "additionalProperties": false
    },
    "NeptuneOperationResult": {
      "description": "The result of a Neptune operation.",
      "type": "object",
      "properties": {
        "statusCode": {
          "format": "int32",
          "description": "The HTTP status code of the operation result.",
          "type": "integer"
        },
        "isErrorResult": {
          "description": "Indicates whether the operation result represents an error.",
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "EntitlementReservedResponseModel": {
      "description": "The reserved allocation for an entitlement within a scope.",
[...]
